<application-config xmlns="aurora.application" enableBMTrace="true">
	<application-view-config defaultPackage="ui.template" defaultTheme="hap" defaultAutoAdjustGrid="false" defaultclientresize="false" defaultTemplate="default" defaultTitle="HAND Application Platform" resourceCachename="SystemResourceConfig"/>
</application-config>