<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldAccEntityRefSobMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldAccEntityRefSob">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL" />
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="SET_OF_BOOKS_NAME" property="setOfBooksName" jdbcType="VARCHAR" />
        <result column="SET_OF_BOOKS_CODE" property="setOfBooksCode" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SET_ID" property="accountSetId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_SET_NAME" property="accountSetName" jdbcType="VARCHAR" />
    </resultMap>

    <!--by luhui-->
    <select id="selectMoreSob" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            sob.SET_OF_BOOKS_ID,
            sob.SET_OF_BOOKS_NAME,
            sob.SET_OF_BOOKS_CODE,
            gas.ACCOUNT_SET_NAME,
            gars.REF_ID,
            gars.ACC_ENTITY_ID,
            gars.ENABLED_FLAG,
            gars.DEFAULT_FLAG
        FROM
            gld_set_of_book sob,
            gld_set_of_book_tl sobt,
            gld_account_set gas,
            gld_account_set_tl gast,
            gld_acc_entity_ref_sob gars
        WHERE
            sob.SET_OF_BOOKS_ID = sobt.SET_OF_BOOKS_ID
            AND gas.ACCOUNT_SET_ID = gast.ACCOUNT_SET_ID
            AND sobt.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
            AND gast.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
            AND sob.ACCOUNT_SET_ID = gas.ACCOUNT_SET_ID
            AND gars.SET_OF_BOOKS_ID = sob.SET_OF_BOOKS_ID
            AND gars.ACC_ENTITY_ID = #{accEntityId}
    </select>


</mapper>