<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldAccEntityTaxMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldAccEntityTax">
        <result column="TAX_ID" property="taxId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="TAXPAYER_TYPE" property="taxpayerType" jdbcType="VARCHAR" />
        <result column="TAXPAYER_NUMBER" property="taxpayerNumber" jdbcType="VARCHAR" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="TAXPAYER_BANK" property="taxpayerBank" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>