<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldMappingCondGrpLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldMappingCondGrpLn">
        <result column="COND_GRP_LN_ID" property="condGrpLnId" jdbcType="DECIMAL"/>
        <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR"/>
        <result column="MAPPING_CONDITION_CODE" property="mappingConditionCode" jdbcType="VARCHAR"/>
        <result column="LAYOUT_PRIORITY" property="layoutPriority" jdbcType="DECIMAL"/>
        <result column="MAPPING_CONDITION_SQL_DESC" property="mappingConditionSqlDesc" jdbcType="VARCHAR"/>
        <result column="REF_ID_FIELD" property="refIdField" jdbcType="VARCHAR"/>
        <result column="LOV_STATEMENT" property="lovStatement" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectGroupLn" resultMap="BaseResultMap">
        SELECT
            gmcgl.COND_GRP_LN_ID,
            gmcgl.GROUP_NAME,
            gmcgl.MAPPING_CONDITION_CODE,
            gmcgl.LAYOUT_PRIORITY
        FROM
            gld_mapping_cond_grp_ln gmcgl
        WHERE
            1 = 1
        AND gmcgl.GROUP_NAME = #{groupName}
    </select>

    <select id="selectGroupLines" resultMap="BaseResultMap">
        SELECT
	      A.REQUEST_ID,
	      A.PROGRAM_ID,
	      A.OBJECT_VERSION_NUMBER,
	      A.CREATED_BY,
	      A.CREATION_DATE,
	      A.LAST_UPDATED_BY,
	      A.LAST_UPDATE_DATE,
	      A.LAST_UPDATE_LOGIN,
	      A.COND_GRP_LN_ID,
	      A.GROUP_NAME,
	      A.MAPPING_CONDITION_CODE,
	      C.DESCRIPTION AS MAPPING_CONDITION_SQL_DESC,
	      B.REF_ID_FIELD AS REF_ID_FIELD,
	      A.LAYOUT_PRIORITY,
          B.LOV_STATEMENT
        FROM
	      gld_mapping_cond_grp_ln A
        LEFT JOIN gld_mapping_condition_sql B ON A.MAPPING_CONDITION_CODE = B.MAPPING_CONDITION_CODE
        LEFT JOIN gld_mapping_condition_sql_TL C ON (
	      B.MAPPING_CONDITION_SQL_ID = C.MAPPING_CONDITION_SQL_ID
	    AND C.LANG =  #{request.locale,jdbcType=VARCHAR})
	    WHERE A.group_name = #{groupName}
	    ORDER BY A.layout_priority
    </select>

    <select id="getMappingCondGrpLns" resultMap="BaseResultMap">
        select gmcg.mapping_condition_code
          from gld_mapping_cond_grp_ln gmcg
         where gmcg.group_name = #{groupName}
    </select>
</mapper>