<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldRespCenterRefBcMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldRespCenterRefBc">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryRefRalationNum" parameterType="java.lang.Long" resultType="int">
        SELECT
            count(*)
        FROM
            gld_resp_center_ref_bc a
        WHERE
            a.resp_center_id = #{respCenterId}
            AND a.bgt_entity_id = #{bgtEntityId}
            AND a.default_flag = 'Y'
            AND NOT EXISTS (
        SELECT
            1
        FROM
            gld_resp_center_ref_bc b
        WHERE
            b.resp_center_id = #{respCenterId}
            AND b.bgt_entity_id = #{bgtEntityId}
            AND b.bgt_center_id =#{bgtCenterId}
            )
    </select>


</mapper>