<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldSegmentSourceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldSegmentSource">
        <result column="SEGMENT_SOURCE_ID" property="segmentSourceId" jdbcType="DECIMAL"/>
        <result column="SEGMENT_ID" property="segmentId" jdbcType="DECIMAL"/>
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="VALUE_TABLE" property="valueTable" jdbcType="VARCHAR"/>
        <result column="VALUE_ITEM" property="valueItem" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getSegmentSource" resultMap="BaseResultMap">
         select gss.VALUE_TABLE,
                gss.VALUE_ITEM
          from gld_segment_source gss
          where gss.segment_id = #{segmentId}
    </select>

</mapper>