<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldSobRuleSegmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldSobRuleSegment">
        <result column="RULE_SEGMENT_ID" property="ruleSegmentId" jdbcType="DECIMAL" />
        <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
        <result column="SEGMENT_ID" property="segmentId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="REQUIRED_FLAG" property="requiredFlag" jdbcType="VARCHAR" />
        <result column="SOURCE_CODE" property="sourceCode" jdbcType="VARCHAR" />
        <result column="DEFAULT_VALUE" property="defaultValue" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getRuleSegmentInfo" resultMap="BaseResultMap">
         select
              gsrs.RULE_SEGMENT_ID,
              gsrs.RULE_ID,
              gsrs.SEGMENT_ID,
              gsrs.REQUIRED_FLAG,
              gsrs.SOURCE_CODE,
              gsrs.DEFAULT_VALUE
           from gld_sob_rule_segment gsrs
          where gsrs.rule_id = #{ruleId}
            and gsrs.segment_id = #{segmentId}
            and gsrs.enabled_flag = 'Y'
    </select>

</mapper>