<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldSobSegmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldSobSegment">
        <result column="SEGMENT_ID" property="segmentId" jdbcType="DECIMAL" />
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL" />
        <result column="SEGMENT_CODE" property="segmentCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="SEGMENT_FIELD" property="segmentField" jdbcType="VARCHAR" />
        <result column="DR_CR_FLAG" property="drCrFlag" jdbcType="VARCHAR" />
        <result column="SEGMENT_TYPE" property="segmentType" jdbcType="VARCHAR" />
        <result column="SQL_QUERY" property="sqlQuery" jdbcType="VARCHAR" />
        <result column="SQL_VALIDATE" property="sqlValidate" jdbcType="VARCHAR" />
        <result column="DEFAULT_TEXT" property="defaultText" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectSegInfo" resultMap="BaseResultMap">
         select
              gss.segment_id,
              gss.DEFAULT_TEXT,
              gss.SEGMENT_TYPE,
			  gss.SQL_QUERY
         from gld_sob_segment gss
         where gss.set_of_books_id = #{setOfBooksId}
           and gss.segment_field = #{segmentField}
           and (gss.dr_cr_flag = #{drCrFlag} or gss.dr_cr_flag is null)
    </select>
    <select id="executeSql" resultType="String">
        ${querySql}
    </select>

    <select id="querySegmentDesc" resultType="java.util.Map">
      SELECT
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT1'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment1Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT2'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment2Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT3'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment3Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT4'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment4Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT5'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment5Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT6'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment6Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT7'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment7Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT8'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment8Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT9'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment9Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT10'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment10Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT11'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment11Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT12'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment12Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT13'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment13Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT14'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment14Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT15'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment15Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT16'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment16Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT17'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment17Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT18'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment18Desc,
            (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT19'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment19Desc,
                (
        SELECT
            gsst.DESCRIPTION
        FROM
            gld_sob_segment gss
            LEFT JOIN gld_sob_segment_tl gsst ON gss.SEGMENT_ID = gsst.SEGMENT_ID
        WHERE
            gsst.lang = #{request.locale}
            AND gss.SEGMENT_FIELD = 'SEGMENT20'
            AND EXISTS (
        SELECT
            1
        FROM
            fnd_company_ref_acc_entity fcrae,
            gld_accounting_entity gae,
            gld_acc_entity_ref_sob accSob
        WHERE
            fcrae.acc_entity_id = gae.acc_entity_id
            AND accSob.ACC_ENTITY_ID = gae.ACC_ENTITY_ID
            AND accSob.DEFAULT_FLAG = 'Y'
            AND accSob.ENABLED_FLAG = 'Y'
            AND accSob.SET_OF_BOOKS_ID = gss.SET_OF_BOOKS_ID
            AND fcrae.company_id = #{request.companyId}
            AND fcrae.ENABLED_FLAG = 'Y'
            AND fcrae.DEFAULT_FLAG = 'Y'
            )
            LIMIT 1
            ) segment20Desc
        FROM
            DUAL
    </select>
</mapper>