<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldSobRuleGroupMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldSobRuleGroup">
        <result column="RULE_GROUP_ID" property="ruleGroupId" jdbcType="DECIMAL"/>
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL"/>
        <result column="RULE_GROUP_CODE" property="ruleGroupCode" jdbcType="VARCHAR"/>
        <result column="RULE_GROUP_NAME" property="ruleGroupName" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getRuleGroupId" resultType="Long">
        select gsrg.rule_group_id
          from gld_sob_rule_group    gsrg,
                gld_sob_rule_gp_ref_ae gsra
          where gsrg.set_of_books_id = #{setOfBooksId}
            and gsrg.enabled_flag = 'Y'
            and gsrg.rule_group_id = gsra.rule_group_id
            and gsra.acc_entity_id = #{accEntityId}
            and gsra.enabled_flag = 'Y'
    </select>

</mapper>