<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldSobRespCenterHierarchyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldSobRespCenterHierarchy">
        <result column="HIERARCHY_ID" property="hierarchyId" jdbcType="DECIMAL"/>
        <result column="PARENT_RESP_CENTER_ID" property="parentRespCenterId" jdbcType="DECIMAL"/>
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL"/>
        <result column="START_PERIOD_NAME" property="startPeriodName" jdbcType="VARCHAR"/>
        <result column="END_PERIOD_NAME" property="endPeriodName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>