<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.gld.mapper.GldTransitAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.gld.dto.GldTransitAccount">
        <result column="TRANSIT_ACCOUNT_ID" property="transitAccountId" jdbcType="DECIMAL"/>
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL"/>
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL"/>
        <result column="MO_EXPENSE_ITEM_ID" property="moExpenseItemId" jdbcType="DECIMAL"/>
        <result column="MO_EXP_REPORT_TYPE_ID" property="moExpReportTypeId" jdbcType="DECIMAL"/>
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL"/>
        <result column="DR_ACCOUNT_ID" property="drAccountId" jdbcType="DECIMAL"/>
        <result column="CR_ACCOUNT_ID" property="crAccountId" jdbcType="DECIMAL"/>

        <result column="MO_EXPENSE_ITEM_CODE" property="moExpenseItemCode" jdbcType="VARCHAR"/>
        <result column="MO_EXPENSE_ITEM_NAME" property="moExpenseItemName" jdbcType="VARCHAR"/>
        <result column="MO_EXP_REPORT_TYPE_CODE" property="moExpReportTypeCode" jdbcType="VARCHAR"/>
        <result column="MO_EXP_REPORT_TYPE_NAME" property="moExpReportTypeName" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_CODE" property="accEntityCode" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_NAME" property="accEntityName" jdbcType="VARCHAR"/>
        <result column="DR_ACCOUNT_CODE" property="drAccountCode" jdbcType="VARCHAR"/>
        <result column="DR_ACCOUNT_NAME" property="drAccountName" jdbcType="VARCHAR"/>
        <result column="CR_ACCOUNT_CODE" property="crAccountCode" jdbcType="VARCHAR"/>
        <result column="CR_ACCOUNT_NAME" property="crAccountName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getTransitAccount" resultMap="BaseResultMap">
        SELECT
	        gta.ACC_ENTITY_ID,
	        gta.CR_ACCOUNT_ID,
	        gta.DR_ACCOUNT_ID,
	        gta.MAG_ORG_ID,
	        gta.MO_EXPENSE_ITEM_ID,
	        gta.MO_EXP_REPORT_TYPE_ID,
	        gta.SET_OF_BOOKS_ID,
	        gta.TRANSIT_ACCOUNT_ID
        FROM
	        gld_transit_account gta
        WHERE
	        1 = 1
        AND gta.mag_org_id = #{magOrgId}
        AND gta.set_of_books_id = #{setOfBooksId}
        AND gta.mo_expense_item_id = #{moExpenseItemId}
        <if test="moExpReportTypeId != null">
          AND gta.mo_exp_report_type_id = #{moExpReportTypeId}
        </if>
        <if test="accEntityId != null">
          AND gta.acc_entity_id = #{accEntityId}
        </if>
    </select>

</mapper>