<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.vat.mapper.VatInvoiceLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.vat.dto.VatInvoiceLine">
        <result column="INVOICE_LINE_ID" property="invoiceLineId" jdbcType="DECIMAL" />
        <result column="INVOICE_ID" property="invoiceId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="GOODS_OR_TAXABLE_SERVICE" property="goodsOrTaxableService" jdbcType="VARCHAR" />
        <result column="SPECIFICATIONS" property="specifications" jdbcType="VARCHAR" />
        <result column="UNIT" property="unit" jdbcType="VARCHAR" />
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
        <result column="UNIT_PRICE" property="unitPrice" jdbcType="DECIMAL" />
        <result column="WITHOUT_TAX_AMOUNT" property="withoutTaxAmount" jdbcType="DECIMAL" />
        <result column="TAX_RATE" property="taxRate" jdbcType="DECIMAL" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
        <result column="TAX_TYPE_ID" property="taxTypeId" jdbcType="DECIMAL" />
    </resultMap>
    <select id="getInvoiceAmount" resultType="decimal">
        select sum(vil.without_tax_amount + vil.tax_amount)
            from vat_invoice_line vil
           where vil.invoice_line_id in
                 (select vir.invoice_line_id
                    from vat_invoice_relation vir
                   where vir.document_category = 'EXP_REPORT'
                         and vir.document_id = #{expReportHeaderId}
                         and
                         vir.document_line_id = #{expReportLineId})
    </select>

</mapper>