<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.vat.mapper.VatInvoiceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.vat.dto.VatInvoice">
        <result column="INVOICE_ID" property="invoiceId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
        <result column="INVOICE_NUMBER" property="invoiceNumber" jdbcType="VARCHAR" />
        <result column="INVOICE_DATE" property="invoiceDate" jdbcType="DATE" />
        <result column="INVOICE_DISTRECT" property="invoiceDistrect" jdbcType="VARCHAR" />
        <result column="MACHINE_NUMBER" property="machineNumber" jdbcType="VARCHAR" />
        <result column="CHECK_CODE" property="checkCode" jdbcType="VARCHAR" />
        <result column="CHECK_CODE_LAST_CHARS" property="checkCodeLastChars" jdbcType="VARCHAR" />
        <result column="PURCHASER_NAME" property="purchaserName" jdbcType="VARCHAR" />
        <result column="PURCHASER_TAX_NUMBER" property="purchaserTaxNumber" jdbcType="VARCHAR" />
        <result column="PURCHASER_ADDRESS_PHONE" property="purchaserAddressPhone" jdbcType="VARCHAR" />
        <result column="PURCHASER_BANK_ACCOUNT" property="purchaserBankAccount" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="AMOUNT_ZHS" property="amountZhs" jdbcType="VARCHAR" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
        <result column="WITHOUT_TAX_AMOUNT" property="withoutTaxAmount" jdbcType="DECIMAL" />
        <result column="SELLER_NAME" property="sellerName" jdbcType="VARCHAR" />
        <result column="SELLER_TAX_NUMBER" property="sellerTaxNumber" jdbcType="VARCHAR" />
        <result column="SELLER_ADDRESS_PHONE" property="sellerAddressPhone" jdbcType="VARCHAR" />
        <result column="SELLER_BANK_ACCOUNT" property="sellerBankAccount" jdbcType="VARCHAR" />
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
        <result column="INVOICE_SOURCE" property="invoiceSource" jdbcType="VARCHAR" />
        <result column="AUTHENTICATION_STATUS" property="authenticationStatus" jdbcType="VARCHAR" />
        <result column="AUTHENTICATION_DATE" property="authenticationDate" jdbcType="DATE" />
        <result column="INVOICE_CATEGORY_ID" property="invoiceCategoryId" jdbcType="DECIMAL" />
        <result column="CONFIRM_FLAG" property="confirmFlag" jdbcType="VARCHAR" />
        <result column="CONFIRM_DATE" property="confirmDate" jdbcType="DATE" />
        <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>