<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acc.mapper.AccMatchGroupMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acc.dto.AccMatchGroup">
        <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
        <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" />
        <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
        <result column="JE_CODE" property="jeCode" jdbcType="VARCHAR" />
        <result column="GROUP_SEQ" property="groupSeq" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>