<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acc.mapper.AccMatchGroupDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acc.dto.AccMatchGroupDetail">
        <result column="DETAIL_ID" property="detailId" jdbcType="DECIMAL" />
        <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
        <result column="CONDITION_CODE" property="conditionCode" jdbcType="VARCHAR" />
        <result column="CONDITION_SEQ" property="conditionSeq" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>