<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acc.mapper.AccMatchItemDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acc.dto.AccMatchItemDetail">
        <result column="DETAIL_ID" property="detailId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="GROUP_DETAIL_ID" property="groupDetailId" jdbcType="DECIMAL" />
        <result column="CONDITION_VALUE_ID" property="conditionValueId" jdbcType="DECIMAL" />
        <result column="CONDITION_VALUE_CODE" property="conditionValueCode" jdbcType="VARCHAR" />
        <result column="CONDITION_VALUE_NAME" property="conditionValueName" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>