<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acc.mapper.AccRuleFieldMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acc.dto.AccRuleField">
        <result column="FIELD_ID" property="fieldId" jdbcType="DECIMAL" />
        <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL" />
        <result column="MOD_FIELD_ID" property="modFieldId" jdbcType="DECIMAL" />
        <result column="FIELD_CODE" property="fieldCode" jdbcType="VARCHAR" />
        <result column="FIELD_NAME" property="fieldName" jdbcType="VARCHAR" />
        <result column="FIELD_DATA_TYPE" property="fieldDataType" jdbcType="VARCHAR" />
        <result column="FIELD_TYPE" property="fieldType" jdbcType="VARCHAR" />
        <result column="REF_ENTITY_FIELD_ID" property="refEntityFieldId" jdbcType="DECIMAL" />
        <result column="REF_JE_FIELD_ID" property="refJeFieldId" jdbcType="DECIMAL" />
        <result column="LOGICAL_TYPE" property="logicalType" jdbcType="VARCHAR" />
        <result column="CONSTANT_VALUE" property="constantValue" jdbcType="VARCHAR" />
        <result column="FAST_CODE" property="fastCode" jdbcType="VARCHAR" />
        <result column="FORMULA" property="formula" jdbcType="VARCHAR" />
    </resultMap>


</mapper>