<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshBankContactPersonMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshBankContactPerson">
        <result column="CONTACT_PERSONS_ID" property="contactPersonsId" jdbcType="DECIMAL" />
        <result column="BANK_BRANCH_ID" property="bankBranchId" jdbcType="DECIMAL" />
        <result column="CONTACT_PERSON_TYPE" property="contactPersonType" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="START_DATE_ACTIVE" property="startDateActive" jdbcType="DATE" />
        <result column="END_DATE_ACTIVE" property="endDateActive" jdbcType="DATE" />
    </resultMap>


</mapper>