<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshCnapsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshCnaps">
        <result column="CNAPS_ID" property="cnapsId" jdbcType="DECIMAL" />
        <result column="BANK_ID" property="bankId" jdbcType="DECIMAL" />
        <result column="BANK_LOCATION_CODE" property="bankLocationCode" jdbcType="VARCHAR" />
        <result column="BANK_LOCATION_NAME" property="bankLocationName" jdbcType="VARCHAR" />
        <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
        <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
        <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
        <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>