<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshDocumentFlowMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshDocumentFlow">
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_LINE_ID" property="documentLineId" jdbcType="DECIMAL" />
        <result column="SOURCE_DOCUMENT_TYPE" property="sourceDocumentType" jdbcType="VARCHAR" />
        <result column="SOURCE_DOCUMENT_ID" property="sourceDocumentId" jdbcType="DECIMAL" />
        <result column="SOURCE_DOCUMENT_LINE_ID" property="sourceDocumentLineId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>