<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshMoPayReqAsgnComMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshMoPayReqAsgnCom">
        <result column="ASSIGN_ID" property="assignId" jdbcType="DECIMAL" />
        <result column="MO_PAYMENT_REQ_TYPE_ID" property="moPaymentReqTypeId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryByTypeId" resultMap="BaseResultMap">
      select rac.assign_id,
             rac.mo_payment_req_type_id,
             rac.company_id,
             (select cv.company_code
                from fnd_company cv
               where cv.company_id = rac.company_id) company_code,
             (select fct.company_short_name
                from fnd_company fcv
                left join fnd_company_tl fct
                  on fcv.COMPANY_ID = fct.company_id
                 and fct.LANG = #{request.locale}
               where fcv.company_id = rac.company_id) company_short_name,
             (select fct.company_full_name
                from fnd_company fcv
                left join fnd_company_tl fct
                  on fcv.COMPANY_ID = fct.company_id
                 and fct.LANG = #{request.locale}
               where fcv.company_id = rac.company_id) company_full_name,
             rac.enabled_flag
        from csh_mo_pay_req_asgn_com rac
       where rac.mo_payment_req_type_id = #{moPaymentReqTypeId}

    </select>

    <select id="queryComByTypeId" resultMap="BaseResultMap">
      select fcv.company_id,
             fcv.company_code,
             fct.company_short_name
        from fnd_company fcv
        left join fnd_company_tl fct
          on fcv.COMPANY_ID = fct.company_id
         and fct.LANG = #{request.locale}
       where 1=1
        <if test="magOrgId!=null">
            and fcv.mag_org_id = #{magOrgId}
        </if>
         and (fcv.end_date_active is null or
              CURRENT_TIME between fcv.start_date_active and fcv.end_date_active)
         and not exists
        (select 1
           from csh_mo_pay_req_asgn_com cmprac
          where cmprac.COMPANY_ID = fcv.company_id
            and cmprac.MO_PAYMENT_REQ_TYPE_ID = #{moPaymentReqTypeId})
    </select>


</mapper>