<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshMoPayReqRefEmpGpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshMoPayReqRefEmpGp">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MO_PAYMENT_REQ_TYPE_ID" property="moPaymentReqTypeId" jdbcType="DECIMAL" />
        <result column="MO_EMP_GROUP_ID" property="moEmpGroupId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="MO_EMP_GROUP_CODE" property="moEmpGroupCode" jdbcType="VARCHAR" />
        <result column="MO_EMP_GROUP_DESC" property="moEmpGroupDesc" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryByTypeId" resultMap="BaseResultMap">
      select reg.ref_id,
             reg.mo_payment_req_type_id,
             reg.mo_emp_group_id,
             (select egv.mo_emp_group_code
                from exp_mo_emp_group egv
               where egv.mo_emp_group_id = reg.mo_emp_group_id
                 ) mo_emp_group_code,
             (select egt.description
                from exp_mo_emp_group egv
                left join exp_mo_emp_group_tl egt
                  on egv.MO_EMP_GROUP_ID = egt.MO_EMP_GROUP_ID
                 and egt.LANG = #{request.locale}
               where egv.mo_emp_group_id = reg.mo_emp_group_id
                 ) mo_emp_group_desc,
             reg.enabled_flag
        from csh_mo_pay_req_ref_emp_gp reg
       where reg.mo_payment_req_type_id = #{moPaymentReqTypeId}
    </select>

</mapper>