<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshMoRepaymentRegTypeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshMoRepaymentRegType">
        <result column="MO_REPAYMENT_REG_TYPE_ID" property="moRepaymentRegTypeId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="MO_REPAYMENT_REG_TYPE_CODE" property="moRepaymentRegTypeCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="CROSS_ENTITY_FLAG" property="crossEntityFlag" jdbcType="VARCHAR" />
        <result column="AUTO_AUDIT_FLAG" property="autoAuditFlag" jdbcType="VARCHAR" />
        <result column="ICON" property="icon" jdbcType="VARCHAR" />
        <result column="CAPTION_HDS_ID" property="captionHdsId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryByCompanyId" resultMap="BaseResultMap">
        SELECT
            rt.mo_repayment_reg_type_id,
            rt.mo_repayment_reg_type_code,
            rtt.DESCRIPTION,
            rt.icon
        FROM
            csh_mo_repayment_reg_type rt
            LEFT JOIN csh_mo_repayment_reg_type_tl rtt ON ( rt.mo_repayment_reg_type_id = rtt.mo_repayment_reg_type_id AND rtt.lang = #{request.locale} ),
            csh_mo_repay_reg_asgn_com cmac
        WHERE
            rt.mo_repayment_reg_type_id = cmac.mo_repayment_reg_type_id
            AND cmac.company_id = #{request.companyId}
            AND rt.enabled_flag = 'Y'
            AND cmac.enabled_flag = 'Y'
        ORDER BY
            mo_repayment_reg_type_code
    </select>

</mapper>