<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshMoTransactionClassMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshMoTransactionClass">
        <result column="MO_CSH_TRX_CLASS_ID" property="moCshTrxClassId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="MO_CSH_TRX_CLASS_CODE" property="moCshTrxClassCode" jdbcType="VARCHAR" />
        <result column="CSH_TRANSACTION_TYPE_CODE" property="cshTransactionTypeCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_WRITE_OFF_FLAG" property="enabledWriteOffFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <!-- csh_pay_req_for_finance_detail.screen 行借款类型查询 -->
    <select id="queryTrxClass" resultMap="BaseResultMap">
        SELECT
            t1.CSH_TRANSACTION_TYPE_CODE,
            t1.MO_CSH_TRX_CLASS_CODE,
            t1.mo_csh_trx_class_id,
            t1.mag_org_id,
            t2.DESCRIPTION,
            t1.ENABLED_WRITE_OFF_FLAG,
            t1.ENABLED_FLAG
        FROM
            CSH_MO_TRANSACTION_CLASS t1
            LEFT JOIN csh_mo_transaction_class_tl t2 ON ( t1.MO_CSH_TRX_CLASS_ID = t2.MO_CSH_TRX_CLASS_ID AND t2.lang = #{request.locale} )
        WHERE
            t1.csh_transaction_type_code = 'PREPAYMENT'
            AND t1.enabled_flag = 'Y'
        ORDER BY
            mo_csh_trx_class_code
    </select>

</mapper>