<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshMoRepayRegRefEmpGpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshMoRepayRegRefEmpGp">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MO_REPAYMENT_REG_TYPE_ID" property="moRepaymentRegTypeId" jdbcType="DECIMAL" />
        <result column="MO_EMP_GROUP_ID" property="moEmpGroupId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="mo_emp_group_code" property="moEmpGroupCode" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
        SELECT
            t.ref_id,
            t.mo_repayment_reg_type_id,
            t.mo_emp_group_id,
            meg.mo_emp_group_code,
            megt.description,
            t.enabled_flag
        FROM
            exp_mo_emp_group meg
            LEFT JOIN exp_mo_emp_group_tl megt ON ( meg.mo_emp_group_id = megt.mo_emp_group_id AND megt.lang = #{request.locale,javaType=java.lang.String} ),
            csh_mo_repay_reg_ref_emp_gp t,
            csh_mo_repayment_reg_type b
        WHERE
            meg.mo_emp_group_id = t.mo_emp_group_id
            AND t.mo_repayment_reg_type_id = b.mo_repayment_reg_type_id
            AND b.mag_org_id = meg.mag_org_id
            AND t.mo_repayment_reg_type_id = #{moRepaymentRegTypeId}
    </select>

</mapper>