<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshOfferFormatHdsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshOfferFormatHds">
        <result column="FORMAT_HDS_ID" property="formatHdsId" jdbcType="DECIMAL" />
        <result column="FORMAT_CODE" property="formatCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="EXPORT_TYPE_CODE" property="exportTypeCode" jdbcType="VARCHAR" />
        <result column="EXPORT_SEPARATOR_CODE" property="exportSeparatorCode" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="EXPORT_SEPARATOR" property="exportSeparator" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="querySysCode" resultMap="BaseResultMap">
SELECT
	concat(t1t.meaning, '-', t1. VALUE) description,
	t1.VALUE export_separator
FROM
	sys_code_value_b t1,
	sys_code_value_tl t1t,
	sys_code_b t2
WHERE
	t1.code_id = t2.code_id
and t1t.CODE_VALUE_ID = t1.CODE_VALUE_ID
and t1t.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
AND t2. CODE = 'CSH_OFFER_EXPORT_SEPARATOR'
    </select>

    <select id="queryCshOfferFormatHds" resultMap="BaseResultMap">
        SELECT
	fd.FORMAT_HDS_ID,
	fd.FORMAT_CODE,
	fdt.DESCRIPTION,
	fd.ENABLED_FLAG,
	fd.EXPORT_SEPARATOR_CODE,
	fd.EXPORT_TYPE_CODE
FROM
	csh_offer_format_hds fd,
	csh_offer_format_hds_tl fdt
WHERE
	fd.FORMAT_HDS_ID = fdt.FORMAT_HDS_ID
and fdt.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
		<if test="formatCode!=null">
			AND fd.FORMAT_CODE like concat('%',#{formatCode},'%')
		</if>
		<if test="description!=null">
			and fdt.DESCRIPTION like concat('%',#{description},'%')
		</if>

    </select>


</mapper>