<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentReqAccountTmpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentReqAccountTmp">
        <result column="SESSION_ID" property="sessionId" jdbcType="DECIMAL" />
        <result column="PAYMENT_REQ_HEADER_ID" property="paymentReqHeaderId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>