<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentReqAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentReqAccount">
        <result column="PAYMENT_REQ_JE_LINE_ID" property="paymentReqJeLineId" jdbcType="DECIMAL"/>
        <result column="PAYMENT_REQUISITION_LINE_ID" property="paymentRequisitionLineId" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="JOURNAL_DATE" property="journalDate" jdbcType="DATE"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL"/>
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL"/>
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL"/>
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="ENTERED_AMOUNT_DR" property="enteredAmountDr" jdbcType="DECIMAL"/>
        <result column="ENTERED_AMOUNT_CR" property="enteredAmountCr" jdbcType="DECIMAL"/>
        <result column="FUNCTIONAL_AMOUNT_DR" property="functionalAmountDr" jdbcType="DECIMAL"/>
        <result column="FUNCTIONAL_AMOUNT_CR" property="functionalAmountCr" jdbcType="DECIMAL"/>
        <result column="GLD_INTERFACE_FLAG" property="gldInterfaceFlag" jdbcType="VARCHAR"/>
        <result column="USAGE_CODE" property="usageCode" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT1" property="accountSegment1" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT2" property="accountSegment2" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT3" property="accountSegment3" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT4" property="accountSegment4" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT5" property="accountSegment5" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT6" property="accountSegment6" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT7" property="accountSegment7" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT8" property="accountSegment8" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT9" property="accountSegment9" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT10" property="accountSegment10" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT11" property="accountSegment11" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT12" property="accountSegment12" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT13" property="accountSegment13" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT14" property="accountSegment14" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT15" property="accountSegment15" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT16" property="accountSegment16" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT17" property="accountSegment17" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT18" property="accountSegment18" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT19" property="accountSegment19" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT20" property="accountSegment20" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT21" property="accountSegment21" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT22" property="accountSegment22" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT23" property="accountSegment23" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT24" property="accountSegment24" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT25" property="accountSegment25" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT26" property="accountSegment26" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT27" property="accountSegment27" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT28" property="accountSegment28" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT29" property="accountSegment29" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT30" property="accountSegment30" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT31" property="accountSegment31" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT32" property="accountSegment32" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT33" property="accountSegment33" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT34" property="accountSegment34" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT35" property="accountSegment35" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT36" property="accountSegment36" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT37" property="accountSegment37" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT38" property="accountSegment38" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT39" property="accountSegment39" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT40" property="accountSegment40" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT41" property="accountSegment41" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT42" property="accountSegment42" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT43" property="accountSegment43" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT44" property="accountSegment44" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT45" property="accountSegment45" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT46" property="accountSegment46" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT47" property="accountSegment47" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT48" property="accountSegment48" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT49" property="accountSegment49" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT50" property="accountSegment50" jdbcType="VARCHAR"/>

        <result column="RESPONSIBILITYCENTERNAME" property="responsibilityCenterName" jdbcType="VARCHAR"/>
        <result column="ACCOUNTCODE" property="accountCode" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryByHeaderId" resultType="java.util.Map">
        SELECT
            cpra.payment_req_je_line_id paymentReqJeLineId,
            cpra.payment_requisition_line_id paymentRequisitionLineId,
            cpra.description,
            cpra.journal_date journalDate,
            cpra.period_name periodName,
            cpra.acc_entity_id accEntityId,
            gae.acc_entity_code accEntityCode,
            gaet.acc_entity_name accEntityName,
            cpra.resp_center_id responsibilityCenterId,
            grc.responsibility_center_code responsibilityCenterCode,
            grct.responsibility_center_name responsibilityCenterName,
            cpra.account_id accountId,
            ga.account_code accountCode,
            gat.description accountName,
            cpra.currency_code currencyCode,
            cpra.exchange_rate_type exchangeRateType,
            cpra.exchange_rate exchangeRate,
            cpra.entered_amount_dr enteredAmountDr,
            cpra.entered_amount_cr enteredAmountCr,
            cpra.functional_amount_dr functionalAmountDr,
            cpra.functional_amount_cr functionalAmountCr,
            cpra.gld_interface_flag gldInterfaceFlag,
            cpra.usage_code usageCode,
            cpra.account_segment1 accountSegment1,
            cpra.account_segment2 accountSegment2,
            cpra.account_segment3 accountSegment3,
            cpra.account_segment4 accountSegment4,
            cpra.account_segment5 accountSegment5,
            cpra.account_segment6 accountSegment6,
            cpra.account_segment7 accountSegment7,
            cpra.account_segment8 accountSegment8,
            cpra.account_segment9 accountSegment9,
            cpra.account_segment10 accountSegment10,
            cpra.account_segment11 accountSegment11,
            cpra.account_segment12 accountSegment12,
            cpra.account_segment13 accountSegment13,
            cpra.account_segment14 accountSegment14,
            cpra.account_segment15 accountSegment15,
            cpra.account_segment16 accountSegment16,
            cpra.account_segment17 accountSegment17,
            cpra.account_segment18 accountSegment18,
            cpra.account_segment19 accountSegment19,
            cpra.account_segment20 accountSegment20,
            cpra.account_segment21 accountSegment21,
            cpra.account_segment22 accountSegment22,
            cpra.account_segment23 accountSegment23,
            cpra.account_segment24 accountSegment24,
            cpra.account_segment25 accountSegment25,
            cpra.account_segment26 accountSegment26,
            cpra.account_segment27 accountSegment27,
            cpra.account_segment28 accountSegment28,
            cpra.account_segment29 accountSegment29,
            cpra.account_segment30 accountSegment30,
            cpra.account_segment31 accountSegment31,
            cpra.account_segment32 accountSegment32,
            cpra.account_segment33 accountSegment33,
            cpra.account_segment34 accountSegment34,
            cpra.account_segment35 accountSegment35,
            cpra.account_segment36 accountSegment36,
            cpra.account_segment37 accountSegment37,
            cpra.account_segment38 accountSegment38,
            cpra.account_segment39 accountSegment39,
            cpra.account_segment40 accountSegment40,
            cpra.account_segment41 accountSegment41,
            cpra.account_segment42 accountSegment42,
            cpra.account_segment43 accountSegment43,
            cpra.account_segment44 accountSegment44,
            cpra.account_segment45 accountSegment45,
            cpra.account_segment46 accountSegment46,
            cpra.account_segment47 accountSegment47,
            cpra.account_segment48 accountSegment48,
            cpra.account_segment49 accountSegment49,
            cpra.account_segment50 accountSegment50
        FROM
            csh_payment_req_account cpra
        left join gld_accounting_entity gae
            on cpra.acc_entity_id = gae.acc_entity_id
        left join gld_accounting_entity_tl gaet
          on gae.acc_entity_id = gaet.acc_entity_id
         and gaet.lang = #{request.locale}
        left join gld_responsibility_center grc
          on cpra.resp_center_id = grc.responsibility_center_id
        left join gld_responsibility_center_tl grct
          on grc.responsibility_center_id = grct.responsibility_center_id
         and grct.lang = #{request.locale}
        left join gld_account ga
          on cpra.account_id = ga.account_id
        left join gld_account_tl gat
          on ga.account_id = gat.account_id
         and gat.lang = #{request.locale}
        inner join csh_payment_requisition_ln cprl
          on cpra.payment_requisition_line_id = cprl.payment_requisition_line_id
        WHERE
          cprl.payment_requisition_header_id =  #{paymentRequisitionHeaderId}
        ORDER BY
            cpra.payment_req_je_line_id,
            cpra.payment_requisition_line_id
    </select>

    <select id="queryCurrentTime" resultType="java.util.Map">
      select date_format(CURRENT_DATE,'%Y-%m-%d') journalDate,
             date_format(CURRENT_DATE,'%Y-%m') periodName
        from dual
    </select>

    <select id="selectGroupByLine" resultType="java.util.Map">
        SELECT
            d.payment_requisition_line_id paymentRequisitionLineId,
            e.acc_entity_id accEntityId
        FROM
            csh_payment_requisition_ln d,
            csh_payment_req_account e
        WHERE
            d.payment_requisition_header_id = #{paymentRequisitionHeaderId}
            AND d.payment_requisition_line_id = e.payment_requisition_line_id
        GROUP BY
            d.payment_requisition_line_id,
            e.acc_entity_id
    </select>

    <select id="selectForEnterAmount" resultType="java.util.Map">
      SELECT
            sum( a.entered_amount_dr ) - sum( a.entered_amount_cr ) enteredAmountBal,
            sum( a.functional_amount_dr ) - sum( a.functional_amount_cr ) functionalAmountBal
        FROM
            csh_payment_req_account a
        WHERE
            a.payment_requisition_line_id = #{paymentRequisitionLineId}
            AND a.acc_entity_id = #{accEntityId}
    </select>

    <update id="updateByLineId">
      UPDATE csh_payment_req_account a
         SET a.gld_interface_flag = #{interfaceFlag},
            a.last_updated_by = #{request.userId},
            a.last_update_date = CURRENT_TIME
       WHERE
            a.payment_requisition_line_id IN ( SELECT l.payment_requisition_line_id FROM csh_payment_requisition_ln l WHERE l.payment_requisition_header_id = #{paymentRequisitionHeaderId} )
    </update>

    <select id="selectExpReqExist" resultType="java.lang.String">
        SELECT
            'Y' existFlag
        FROM
            exp_requisition_header rh,
            exp_requisition_line rl,
            exp_requisition_dist rd
        WHERE
            rh.exp_requisition_header_id = #{expRequisitionHeaderId}
            AND rh.exp_requisition_header_id = rl.exp_requisition_header_id
            AND rl.exp_requisition_line_id = rd.exp_requisition_line_id
            AND ifnull( rd.released_status, 'N' ) != 'N'
            LIMIT 1
    </select>

    <select id="selectExpReqCloseExist" resultType="java.lang.String">
        SELECT
            'Y' existFlag
        FROM
            exp_requisition_header rh,
            exp_requisition_line rl,
            exp_requisition_dist rd
        WHERE
            rh.exp_requisition_header_id = #{expRequisitionHeaderId}
            AND rh.exp_requisition_header_id = rl.exp_requisition_header_id
            AND rl.exp_requisition_line_id = rd.exp_requisition_line_id
            AND rd.close_flag = 'Y'
            LIMIT 1
    </select>

    <delete id="deleteByPayReqLineId" parameterType="java.lang.Long">
        DELETE
          FROM
           csh_payment_req_account
         WHERE
           EXISTS ( SELECT 1 FROM csh_payment_requisition_ln cprl WHERE cprl.payment_requisition_header_id = #{paymentRequisitionHeaderId} AND cprl.payment_requisition_line_id = payment_requisition_line_id )
    </delete>

    <!-- Modify Tagin/2019.04.01 查询借款申请单审核凭证信息 -->
    <select id="queryAccount" resultMap="BaseResultMap">
        select
        cpra.payment_req_je_line_id,
        cpra.payment_requisition_line_id,
        cpra.description,
        cpra.journal_date,
        cpra.period_name,
        cpra.acc_entity_id,
        cpra.resp_center_id,
        cpra.account_id,
        cpra.currency_code,
        cpra.exchange_rate_type,
        cpra.exchange_rate,
        cpra.entered_amount_dr,
        cpra.entered_amount_cr,
        cpra.functional_amount_dr,
        cpra.functional_amount_cr,
        cpra.gld_interface_flag,
        cpra.usage_code,
        cpra.account_segment1,
        cpra.account_segment2,
        cpra.account_segment3,
        cpra.account_segment4,
        cpra.account_segment5,
        cpra.account_segment6,
        cpra.account_segment7,
        cpra.account_segment8,
        cpra.account_segment9,
        cpra.account_segment10,
        cpra.account_segment11,
        cpra.account_segment12,
        cpra.account_segment13,
        cpra.account_segment14,
        cpra.account_segment15,
        cpra.account_segment16,
        cpra.account_segment17,
        cpra.account_segment18,
        cpra.account_segment19,
        cpra.account_segment20,
        cpra.account_segment21,
        cpra.account_segment22,
        cpra.account_segment23,
        cpra.account_segment24,
        cpra.account_segment25,
        cpra.account_segment26,
        cpra.account_segment27,
        cpra.account_segment28,
        cpra.account_segment29,
        cpra.account_segment30,
        cpra.account_segment31,
        cpra.account_segment32,
        cpra.account_segment33,
        cpra.account_segment34,
        cpra.account_segment35,
        cpra.account_segment36,
        cpra.account_segment37,
        cpra.account_segment38,
        cpra.account_segment39,
        cpra.account_segment40,
        cpra.account_segment41,
        cpra.account_segment42,
        cpra.account_segment43,
        cpra.account_segment44,
        cpra.account_segment45,
        cpra.account_segment46,
        cpra.account_segment47,
        cpra.account_segment48,
        cpra.account_segment49,
        cpra.account_segment50
        from
        csh_payment_req_account cpra
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="transactionLineId != null and transactionLineId != ''">
                and exists (
                select 'x'
                from
                csh_payment_requisition_ref cprr
                where
                cprr.csh_transaction_line_id = #{transactionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
                and cprr.payment_requisition_line_id = cpra.payment_requisition_line_id)
            </if>
            <if test="usageCode != null and usageCode != ''">
                and cpra.usage_code = #{usageCode, jdbcType=VARCHAR, javaType=java.lang.String}
            </if>
            <if test="paymentRequisitionLineId != null and paymentRequisitionLineId != ''">
                and cpra.payment_requisition_line_id =
                #{paymentRequisitionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
            </if>
            <if test="drFlag != null and drFlag != ''">
                and cpra.entered_amount_dr is not null
                and cpra.functional_amount_dr is not null
            </if>
            <if test="crFlag != null and crFlag != ''">
                and cpra.entered_amount_cr is not null
                and cpra.functional_amount_cr is not null
            </if>
        </trim>
    </select>
</mapper>