<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentBatchHeaderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentBatchHeader">
        <result column="BATCH_HEADER_ID" property="batchHeaderId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="BATCH_TYPE_ID" property="batchTypeId" jdbcType="DECIMAL" />
        <result column="BATCH_NUMBER" property="batchNumber" jdbcType="VARCHAR" />
        <result column="BATCH_DATE" property="batchDate" jdbcType="DATE" />
        <result column="PAYMENT_METHOD_ID" property="paymentMethodId" jdbcType="DECIMAL" />
        <result column="PAYMENT_CURRENCY_CODE" property="paymentCurrencyCode" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="DRAWEE_BANK_CODE" property="draweeBankCode" jdbcType="VARCHAR" />
        <result column="DRAWEE_BANK_NAME" property="draweeBankName" jdbcType="VARCHAR" />
        <result column="DRAWEE_BANK_LOCATION_CODE" property="draweeBankLocationCode" jdbcType="VARCHAR" />
        <result column="DRAWEE_BANK_LOCATION" property="draweeBankLocation" jdbcType="VARCHAR" />
        <result column="DRAWEE_PROVINCE_CODE" property="draweeProvinceCode" jdbcType="VARCHAR" />
        <result column="DRAWEE_PROVINCE_NAME" property="draweeProvinceName" jdbcType="VARCHAR" />
        <result column="DRAWEE_CITY_CODE" property="draweeCityCode" jdbcType="VARCHAR" />
        <result column="DRAWEE_CITY_NAME" property="draweeCityName" jdbcType="VARCHAR" />
        <result column="DRAWEE_ACCOUNT_NUMBER" property="draweeAccountNumber" jdbcType="VARCHAR" />
        <result column="DRAWEE_ACCOUNT_NAME" property="draweeAccountName" jdbcType="VARCHAR" />
        <result column="TOTAL_NUMBER" property="totalNumber" jdbcType="DECIMAL" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="PAYMENT_TOTAL_NUMBER" property="paymentTotalNumber" jdbcType="DECIMAL" />
        <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
        <result column="EXPORT_NUMBER" property="exportNumber" jdbcType="DECIMAL" />
        <result column="EXPORT_USER_ID" property="exportUserId" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PAYMENT_COMPLETED_DATE" property="paymentCompletedDate" jdbcType="DATE" />
        <result column="PAYMENT_COMPLETED_DATE_TZ" property="paymentCompletedDateTz" jdbcType="DATE" />
        <result column="PAYMENT_COMPLETED_DATE_LTZ" property="paymentCompletedDateLtz" jdbcType="DATE" />
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>