<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentMessageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentMessage">
        <result column="MESSAGE_ID" property="messageId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
        <result column="PAYEE_ID" property="payeeId" jdbcType="DECIMAL" />
        <result column="PAYEE_DATE" property="payeeDate" jdbcType="DATE" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="PAYMENT_METHOD_ID" property="paymentMethodId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NUMBER" property="accountNumber" jdbcType="VARCHAR" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_NUMBER" property="documentNumber" jdbcType="VARCHAR" />
        <result column="DOCUMENT_LINE_ID" property="documentLineId" jdbcType="DECIMAL" />
        <result column="EBANKING_FLAG" property="ebankingFlag" jdbcType="VARCHAR" />
        <result column="OFFER_FLAG" property="offerFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>