<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentTrxRuleDtlMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentTrxRuleDtl">
        <result column="RULE_DTL_ID" property="ruleDtlId" jdbcType="DECIMAL" />
        <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
        <result column="GROUP_CONDITION" property="groupCondition" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="SYSTEM_FLAG" property="systemFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>