<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentTermMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentTerm">
        <result column="PAYMENT_TERM_ID" property="paymentTermId" jdbcType="DECIMAL" />
        <result column="PAYMENT_TERM_CODE" property="paymentTermCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DUE_DATES" property="dueDates" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>