<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPmtReqAuditErrorLogMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPmtReqAuditErrorLog">
        <result column="SESSION_ID" property="sessionId" jdbcType="DECIMAL" />
        <result column="REQUISITION_NUMBER" property="requisitionNumber" jdbcType="VARCHAR" />
        <result column="PAYMENT_REQ_LINE_ID" property="paymentReqLineId" jdbcType="DECIMAL" />
        <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    </resultMap>


</mapper>