<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentRuleDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentRuleDetail">
        <result column="RULE_DETAIL_ID" property="ruleDetailId" jdbcType="DECIMAL" />
        <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL" />
        <result column="AND_OR" property="andOr" jdbcType="VARCHAR" />
        <result column="LEFT_PARENTHESIS" property="leftParenthesis" jdbcType="VARCHAR" />
        <result column="RIGHT_PARENTHESIS" property="rightParenthesis" jdbcType="VARCHAR" />
        <result column="RULE_PARAMETER_ID" property="ruleParameterId" jdbcType="DECIMAL" />
        <result column="CONDITION_TYPE" property="conditionType" jdbcType="VARCHAR" />
        <result column="CONDITION_VALUE" property="conditionValue" jdbcType="VARCHAR" />
        <result column="SQL_PARAM_1" property="sqlParam_1" jdbcType="VARCHAR" />
        <result column="SQL_PARAM_2" property="sqlParam_2" jdbcType="VARCHAR" />
        <result column="SQL_PARAM_3" property="sqlParam_3" jdbcType="VARCHAR" />
        <result column="SQL_PARAM_4" property="sqlParam_4" jdbcType="VARCHAR" />
        <result column="RULE_PARAMETER_NAME" property="ruleParameterName" jdbcType="VARCHAR" />
        <result column="RULE_PARAMETER_CODE" property="ruleParameterCode" jdbcType="VARCHAR" />
    </resultMap>
    <select id="check" parameterType="java.lang.String" resultType="java.lang.Integer">
        ${str}
    </select>

</mapper>