<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentGpsAsgnAeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentGpsAsgnAe">
        <result column="ASSIGN_AE_ID" property="assignAeId" jdbcType="DECIMAL" />
        <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="AUTHORITY_CODE" property="authorityCode" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="ACC_ENTITY_CODE" property="accEntityCode" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_NAME" property="accEntityName" jdbcType="VARCHAR"/>
        <result column="AUTHORITY_FLAG" property="authorityFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCshPaymentGpsAsgnAe" resultMap="BaseResultMap">
    SELECT
	t.ASSIGN_AE_ID,
	t.GROUP_ID,
	t.ACC_ENTITY_ID,
	t.AUTHORITY_CODE,
	t.AUTHORITY_CODE AUTHORITY_FLAG,
	t.ENABLED_FLAG,
	gae.ACC_ENTITY_CODE,
	gaet.ACC_ENTITY_NAME
    FROM
	csh_payment_gps_asgn_ae t,
	gld_accounting_entity gae,
  gld_accounting_entity_tl gaet
    WHERE
    t.group_id = #{groupId}
and gae.ACC_ENTITY_ID = gaet.ACC_ENTITY_ID
and gaet.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
	and t.ACC_ENTITY_ID = gae.ACC_ENTITY_ID

    </select>


</mapper>