<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentBatchLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentBatchLine">
        <result column="BATCH_LINE_ID" property="batchLineId" jdbcType="DECIMAL" />
        <result column="BATCH_HEADER_ID" property="batchHeaderId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="TRANSACTION_LINE_ID" property="transactionLineId" jdbcType="DECIMAL" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
        <result column="PAYEE_ID" property="payeeId" jdbcType="DECIMAL" />
        <result column="PAYEE_BANK_CODE" property="payeeBankCode" jdbcType="VARCHAR" />
        <result column="PAYEE_BANK_NAME" property="payeeBankName" jdbcType="VARCHAR" />
        <result column="PAYEE_BANK_LOCATION_CODE" property="payeeBankLocationCode" jdbcType="VARCHAR" />
        <result column="PAYEE_BANK_LOCATION" property="payeeBankLocation" jdbcType="VARCHAR" />
        <result column="PAYEE_PROVINCE_CODE" property="payeeProvinceCode" jdbcType="VARCHAR" />
        <result column="PAYEE_PROVINCE_NAME" property="payeeProvinceName" jdbcType="VARCHAR" />
        <result column="PAYEE_CITY_CODE" property="payeeCityCode" jdbcType="VARCHAR" />
        <result column="PAYEE_CITY_NAME" property="payeeCityName" jdbcType="VARCHAR" />
        <result column="PAYEE_ACCOUNT_NUMBER" property="payeeAccountNumber" jdbcType="VARCHAR" />
        <result column="PAYEE_ACCOUNT_NAME" property="payeeAccountName" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="PAYMENT_STATUS" property="paymentStatus" jdbcType="VARCHAR" />
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR" />
        <result column="REVERSED_DATE" property="reversedDate" jdbcType="DATE" />
        <result column="REVERSED_DATE_TZ" property="reversedDateTz" jdbcType="DATE" />
        <result column="REVERSED_DATE_LTZ" property="reversedDateLtz" jdbcType="DATE" />
        <result column="RETURNED_FLAG" property="returnedFlag" jdbcType="VARCHAR" />
        <result column="SOURCE_LINE_ID" property="sourceLineId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>