<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentGpsRefEmpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentGpsRefEmp">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCshPaymentGpsRefEmp" resultMap="BaseResultMap">
    SELECT
	t.REF_ID,
	t.GROUP_ID,
	t.EMPLOYEE_ID,
	t.ENABLED_FLAG,
	CONCAT(e.EMPLOYEE_CODE, '-', e. NAME) EMPLOYEE_Name
    FROM
	csh_payment_gps_ref_emp t,
	exp_employee e
    WHERE
	e.EMPLOYEE_ID = t.EMPLOYEE_ID
	AND t.GROUP_ID = #{groupId}
    </select>


</mapper>