<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentGroupMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentGroup">
        <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectCshPaymentGroup" resultMap="BaseResultMap">
        SELECT cpg.GROUP_ID,
        cpg.MAG_ORG_ID,
        cpg.GROUP_CODE,
        cpgt.DESCRIPTION,
        cpg.ENABLED_FLAG
        FROM csh_payment_group cpg,
        csh_payment_group_tl cpgt
        where cpg.GROUP_ID=cpgt.GROUP_ID
        and cpgt.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
        <if test="magOrgId!=null">
            AND cpg.MAG_ORG_ID = #{magOrgId}
        </if>
        <if test="groupCode!=null">
            AND cpg.GROUP_CODE like concat('%',#{groupCode},'%')
        </if>
        <if test="description!=null">
            and cpgt.DESCRIPTION like concat('%',#{description},'%')
        </if>
    </select>


</mapper>