<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentRule">
        <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="RULE_CODE" property="ruleCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="RULE_CODE_FROM" property="ruleCodeFrom" jdbcType="VARCHAR" />
        <result column="RULE_CODE_FROM" property="ruleCodeTo" jdbcType="VARCHAR" />
    </resultMap>


</mapper>