<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentEntityRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentEntityRule">
        <result column="ENTITY_RULE_ID" property="entityRuleId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="PRIORITY" property="priority" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE_ID" property="documentTypeId" jdbcType="DECIMAL" />
        <result column="PAYMENT_METHOD_ID" property="paymentMethodId" jdbcType="DECIMAL" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectForAccEntityId" resultType="Long">
        select er.acc_entity_id
          from csh_payment_entity_rule er
         where er.mag_org_id = #{magOrgId}
           and er.document_category = #{docCategory}
           and ifnull(er.company_id,#{docCompanyId}) = #{docCompanyId}
           and ifnull(er.document_type_id,#{docTypeId}) = #{docTypeId}
           and ifnull(ifnull(er.payment_method_id,#{paymentMethodId}),-1) = ifnull(#{paymentMethodId},-1)
           and ifnull(ifnull(er.payee_category,#{payeeCategory}),'null') = ifnull(#{payeeCategory},'null')
      order by er.priority
         limit 1
    </select>

</mapper>