<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentBatchRuleDtlMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentBatchRuleDtl">
        <result column="FILTRATE_METHOD" property="filtrateMethod" jdbcType="VARCHAR"/>
        <result column="UPPER_LIMIT" property="upperLimit" jdbcType="VARCHAR"/>
        <result column="LOWER_LIMIT" property="lowerLimit" jdbcType="VARCHAR"/>
        <result column="INVALID_DATE" property="invalidDate" jdbcType="DATE"/>
        <result column="RULE_DTL_ID" property="ruleDtlId" jdbcType="DECIMAL"/>
        <result column="RULE_LNS_ID" property="ruleLnsId" jdbcType="DECIMAL"/>
        <result column="RULE_PARAMETER" property="ruleParameter" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- Modify Tagin/2019.04.03 获取付款批决定规则明细 -->
    <select id="getBatchRuleDtl" resultMap="BaseResultMap">
        select
        cprd.rule_parameter,
        cprd.filtrate_method,
        cprd.upper_limit,
        cprd.lower_limit
        from
        csh_payment_batch_rule_dtl cprd
        where
        cprd.rule_lns_id = #{ruleLnsId, jdbcType=DECIMAL, javaType=java.lang.Long}
        and (cprd.invalid_date is null
        or cprd.invalid_date >= current_date())
    </select>
</mapper>