<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentGpsPrivilegeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentGpsPrivilege">
        <result column="PRIVILEGE_ID" property="privilegeId" jdbcType="DECIMAL" />
        <result column="ASSIGN_AE_ID" property="assignAeId" jdbcType="DECIMAL" />
        <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />

        <result column="RULE_CODE" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="RULE_NAME" property="ruleName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCshPaymentGpsPrivilege" resultMap="BaseResultMap">
SELECT
	t.PRIVILEGE_ID,
	t.ASSIGN_AE_ID,
	t.RULE_ID,
	cpr.RULE_CODE,
	cprt.DESCRIPTION rule_name
FROM
	CSH_PAYMENT_GPS_PRIVILEGE t,
	csh_payment_rule cpr,
	csh_payment_rule_tl cprt
WHERE
	t.RULE_ID = cpr.RULE_ID
and cpr.RULE_ID = cprt.rule_id
and cprt.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
and t.ASSIGN_AE_ID = #{assignAeId}
    </select>


</mapper>