<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentRuleParameterMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentRuleParameter">
        <result column="RULE_PARAMETER_ID" property="ruleParameterId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="PARAMETER_CODE" property="parameterCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="SQL_CONTENTS" property="sqlContents" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="checkSql" parameterType="java.lang.String" resultType="java.lang.String">
      ${sqlContents}
    </select>

</mapper>