<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshPaymentTrxRuleBizDtlMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshPaymentTrxRuleBizDtl">
        <result column="RULE_PARAMETER" property="ruleParameter" jdbcType="VARCHAR"/>
        <result column="FILTRATE_METHOD" property="filtrateMethod" jdbcType="VARCHAR"/>
        <result column="UPPER_LIMIT" property="upperLimit" jdbcType="VARCHAR"/>
        <result column="LOWER_LIMIT" property="lowerLimit" jdbcType="VARCHAR"/>
        <result column="INVALID_DATE" property="invalidDate" jdbcType="DATE"/>
        <result column="BIZ_DTL_ID" property="bizDtlId" jdbcType="DECIMAL"/>
        <result column="RULE_BIZ_ID" property="ruleBizId" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- Modify Tagin/2019.03.13 获取付款事务生成规则的业务范围明细 -->
    <select id="getTrxRuleBizDtl" resultMap="BaseResultMap">
        SELECT
        cpbd.rule_parameter,
        cpbd.filtrate_method,
        cpbd.upper_limit,
        cpbd.lower_limit
        FROM
        csh_payment_trx_rule_biz_dtl cpbd
        WHERE
        cpbd.rule_biz_id = #{ruleBizId, jdbcType=DECIMAL, javaType=java.lang.Long}
        AND ( cpbd.invalid_date > current_date() OR cpbd.invalid_date IS NULL )
    </select>
</mapper>