<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshTransactionMapper">
    <!-- 获取某个现金事物的已退款金额合计 -->
    <select id="getReturnedAmount" resultType="java.math.BigDecimal">
        select
            ifnull(sum(l.transaction_amount),
            0)
        from
            csh_transaction_line l
        where
            exists (
                select 1
            from
                csh_transaction_header h
            where
                l.transaction_header_id = h.transaction_header_id
                and h.source_header_id = #{transactionHeaderId}
                and h.returned_flag = 'R'
                and ifnull(h.reversed_flag,
                'N') = 'N')
    </select>

</mapper>