<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshTransactionAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshTransactionAccount">
        <result column="TRANSACTION_JE_LINE_ID" property="transactionJeLineId" jdbcType="DECIMAL"/>
        <result column="TRANSACTION_LINE_ID" property="transactionLineId" jdbcType="DECIMAL"/>
        <result column="DISTRIBUTION_LINE_ID" property="distributionLineId" jdbcType="DECIMAL"/>
        <result column="WRITE_OFF_ID" property="writeOffId" jdbcType="DECIMAL"/>
        <result column="SOURCE_CODE" property="sourceCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL"/>
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL"/>
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL"/>
        <result column="ENTERED_AMOUNT_DR" property="enteredAmountDr" jdbcType="DECIMAL"/>
        <result column="ENTERED_AMOUNT_CR" property="enteredAmountCr" jdbcType="DECIMAL"/>
        <result column="FUNCTIONAL_AMOUNT_DR" property="functionalAmountDr" jdbcType="DECIMAL"/>
        <result column="FUNCTIONAL_AMOUNT_CR" property="functionalAmountCr" jdbcType="DECIMAL"/>
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="JOURNAL_DATE" property="journalDate" jdbcType="DATE"/>
        <result column="JOURNAL_DATE_TZ" property="journalDateTz" jdbcType="DATE"/>
        <result column="JOURNAL_DATE_LTZ" property="journalDateLtz" jdbcType="DATE"/>
        <result column="CASH_CLEARING_FLAG" property="cashClearingFlag" jdbcType="VARCHAR"/>
        <result column="BANK_ACCOUNT_FLAG" property="bankAccountFlag" jdbcType="VARCHAR"/>
        <result column="GLD_INTERFACE_FLAG" property="gldInterfaceFlag" jdbcType="VARCHAR"/>
        <result column="USAGE_CODE" property="usageCode" jdbcType="VARCHAR"/>
        <result column="BATCH_JE_LINE_ID" property="batchJeLineId" jdbcType="DECIMAL"/>
        <result column="ACCOUNT_SEGMENT1" property="accountSegment1" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT2" property="accountSegment2" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT3" property="accountSegment3" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT4" property="accountSegment4" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT5" property="accountSegment5" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT6" property="accountSegment6" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT7" property="accountSegment7" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT8" property="accountSegment8" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT9" property="accountSegment9" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT10" property="accountSegment10" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT11" property="accountSegment11" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT12" property="accountSegment12" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT13" property="accountSegment13" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT14" property="accountSegment14" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT15" property="accountSegment15" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT16" property="accountSegment16" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT17" property="accountSegment17" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT18" property="accountSegment18" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT19" property="accountSegment19" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SEGMENT20" property="accountSegment20" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_NAME" property="accEntityName" jdbcType="VARCHAR"/>
        <result column="RESP_CENTER_NAME" property="respCenterName" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR"/>
        <result column="CURRENCY_NAME" property="currencyName" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_CODE" property="accEntityCode" jdbcType="VARCHAR"/>
        <result column="RESP_CENTER_CODE" property="respCenterCode" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_CODE" property="accountCode" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- Modify Tagin/2019.03.29 更新接口标识 -->
    <update id="updateInterfaceFlag">
        update csh_transaction_account cta
        set cta.gld_interface_flag = #{gldInterfaceFlag, jdbcType=DECIMAL, javaType=java.lang.String},
        cta.last_update_date = current_date,
        cta.last_updated_by = #{request.userId, jdbcType=DECIMAL, javaType=java.lang.Long}
        where cta.transaction_line_id = #{transactionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
    </update>
    <!-- Modify Tagin/2019.04.01 获取现金事务凭证 -->
    <select id="queryAccount" resultMap="BaseResultMap">
        select
        cta.transaction_je_line_id,
        cta.transaction_line_id,
        cta.distribution_line_id,
        cta.write_off_id,
        cta.source_code,
        cta.description,
        cta.period_name,
        cta.company_id,
        cta.acc_entity_id,
        cta.resp_center_id,
        cta.account_id,
        cta.entered_amount_dr,
        cta.entered_amount_cr,
        cta.functional_amount_dr,
        cta.functional_amount_cr,
        cta.exchange_rate_type,
        cta.exchange_rate,
        cta.currency_code,
        cta.journal_date,
        cta.journal_date_tz,
        cta.journal_date_ltz,
        cta.cash_clearing_flag,
        cta.bank_account_flag,
        cta.gld_interface_flag,
        cta.usage_code,
        cta.batch_je_line_id,
        cta.account_segment1,
        cta.account_segment2,
        cta.account_segment3,
        cta.account_segment4,
        cta.account_segment5,
        cta.account_segment6,
        cta.account_segment7,
        cta.account_segment8,
        cta.account_segment9,
        cta.account_segment10,
        cta.account_segment11,
        cta.account_segment12,
        cta.account_segment13,
        cta.account_segment14,
        cta.account_segment15,
        cta.account_segment16,
        cta.account_segment17,
        cta.account_segment18,
        cta.account_segment19,
        cta.account_segment20
        from
        csh_transaction_account cta
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="transactionLineId != null and transactionLineId != ''">
                and cta.transaction_line_id = #{transactionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
            </if>
            <if test="usageCode != null and usageCode !=''">
                and cta.usage_code = #{usageCode, jdbcType=VARCHAR, javaType=java.lang.String}
            </if>
            <if test="drFlag != null and drFlag != ''">
                and cta.entered_amount_dr is not null
                and cta.functional_amount_dr is not null
            </if>
            <if test="crFlag != null and crFlag != ''">
                and cta.entered_amount_cr is not null
                and cta.functional_amount_cr is not null
            </if>
            <if test="writeOffId != null and writeOffId != ''">
                and cta.write_off_id = #{writeOffId, javaType=java.lang.Long, jdbcType=DECIMAL}
            </if>
        </trim>
    </select>

    <select id="queryByLineId" resultMap="BaseResultMap">
        SELECT
        a.transaction_je_line_id,
        a.acc_entity_id,
        ( SELECT aet.acc_entity_name FROM gld_accounting_entity_tl aet WHERE aet.acc_entity_id = a.acc_entity_id AND
        aet.lang = #{request.locale,javaType=java.lang.String} ) AS acc_entity_name,
        a.resp_center_id,
        ( SELECT rct.responsibility_center_name FROM gld_responsibility_center_tl rct WHERE (
        rct.responsibility_center_id = a.resp_center_id AND rct.lang = #{request.locale,javaType=java.lang.String} )) AS resp_center_name,
        a.account_id,
        ( SELECT bat.bank_account_name FROM csh_bank_account_tl bat WHERE bat.BANK_ACCOUNT_ID = a.account_id AND
        bat.lang = #{request.locale,javaType=java.lang.String} ) AS account_name,
        a.period_name,
        a.entered_amount_dr,
        a.entered_amount_cr,
        a.functional_amount_dr,
        a.functional_amount_cr,
        a.exchange_rate_type,
        a.exchange_rate,
        a.currency_code,
        a.journal_date,
        a.description,
        a.account_segment1,
        a.account_segment2,
        a.account_segment3,
        a.account_segment4,
        a.account_segment5,
        a.account_segment6,
        a.account_segment7,
        a.account_segment8,
        a.account_segment9,
        a.account_segment10,
        a.account_segment11,
        a.account_segment12,
        a.account_segment13,
        a.account_segment14,
        a.account_segment15,
        a.account_segment16,
        a.account_segment17,
        a.account_segment18,
        a.account_segment19,
        a.account_segment20,
        a.currency_code,
        (
        SELECT
        gct.currency_name
        FROM
        gld_currency gc
        LEFT JOIN gld_currency_tl gct ON ( gc.currency_id = gct.currency_id AND gct.lang =
        #{request.locale,javaType=java.lang.String} )
        WHERE
        gc.currency_code = a.currency_code
        ) AS currency_name
        FROM
        csh_transaction_account a
        <where>
            <if test="transactionLineId!=null">
                a.transaction_line_id = #{transactionLineId}
            </if>
        </where>
        ORDER BY
        a.transaction_je_line_id
    </select>

    <select id="queryAccountForFinance" resultMap="BaseResultMap">
        SELECT
                    gaev.acc_entity_code,
                    gaet.ACC_ENTITY_NAME,
                    grcv.responsibility_center_code,
                    grct.responsibility_center_name,
                    gav.account_code,
                    gat.description account_name,
                    cta.transaction_je_line_id,
                    cta.transaction_line_id,
                    cta.distribution_line_id,
                    cta.write_off_id,
                    cta.source_code,
                    cta.description,
                    cta.period_name,
                    cta.company_id,
                    cta.acc_entity_id,
                    cta.resp_center_id resp_center_id,
                    cta.account_id,
                    cta.entered_amount_dr,
                    cta.entered_amount_cr,
                    cta.functional_amount_dr,
                    cta.functional_amount_cr,
                    cta.exchange_rate_type,
                    cta.exchange_rate,
                    cta.currency_code,
                    cta.journal_date,
                    cta.journal_date_tz,
                    cta.journal_date_ltz,
                    cta.cash_clearing_flag,
                    cta.bank_account_flag,
                    cta.gld_interface_flag,
                    cta.usage_code,
                    cta.batch_je_line_id,
                    cta.account_segment1,
                    cta.account_segment2,
                    cta.account_segment3,
                    cta.account_segment4,
                    cta.account_segment5,
                    cta.account_segment6,
                    cta.account_segment7,
                    cta.account_segment8,
                    cta.account_segment9,
                    cta.account_segment10,
                    cta.account_segment11,
                    cta.account_segment12,
                    cta.account_segment13,
                    cta.account_segment14,
                    cta.account_segment15,
                    cta.account_segment16,
                    cta.account_segment17,
                    cta.account_segment18,
                    cta.account_segment19,
                    cta.account_segment20
                FROM
                    csh_repayment_register_hd crh,
                    csh_repayment_register_ln crl,
                    csh_repayment_register_dist crd,
                    csh_transaction_account cta,
                    gld_accounting_entity gaev left join gld_accounting_entity_tl gaet on(gaev.acc_entity_id = gaet.acc_entity_id and gaet.lang=#{request.locale,javaType=java.lang.String}),
                    gld_responsibility_center grcv left join gld_responsibility_center_tl grct on(grcv.responsibility_center_id = grct.responsibility_center_id and grct.lang=#{request.locale,javaType=java.lang.String}),
                    gld_account gav left join gld_account_tl gat on(gav.account_id = gat.account_id and gat.lang=#{request.locale,javaType=java.lang.String})
                WHERE
                    crh.register_hds_id           = #{registerHdsId} AND
                    crh.register_hds_id           = crl.register_hds_id AND
                    crl.register_lns_id           = crd.register_lns_id AND
                    crd.repayment_pay_trx_line_id = cta.transaction_line_id AND
                    cta.acc_entity_id             = gaev.acc_entity_id AND
                    cta.resp_center_id            = grcv.responsibility_center_id AND
                    cta.account_id                = gav.account_id
                ORDER BY
                    cta.transaction_je_line_id
    </select>

    <select id="queryByHeaderId" resultMap="BaseResultMap">
        SELECT
	a.description,
	a.acc_entity_id,
	( SELECT gaet.ACC_ENTITY_NAME FROM gld_accounting_entity_tl gaet WHERE gaet.ACC_ENTITY_ID = a.ACC_ENTITY_ID AND gaet.lang = #{request.locale,javaType=java.lang.String} ) AS acc_entity_name,
	a.resp_center_id,
	( SELECT grct.RESPONSIBILITY_CENTER_NAME FROM gld_responsibility_center_tl grct WHERE grct.RESPONSIBILITY_CENTER_ID = a.resp_center_id AND grct.lang = #{request.locale,javaType=java.lang.String} ) AS resp_center_name,
	a.account_id,
	( SELECT account_code FROM gld_account ga WHERE ga.ACCOUNT_ID = a.ACCOUNT_ID ) AS account_code,
	( SELECT gat.DESCRIPTION FROM gld_account_tl gat WHERE gat.ACCOUNT_ID = a.ACCOUNT_ID AND gat.lang = #{request.locale,javaType=java.lang.String} ) AS account_name,
	a.currency_code,
	(
	SELECT
		gct.currency_name 
	FROM
		gld_currency gc,
		gld_currency_tl gct 
	WHERE
		gc.CURRENCY_CODE = a.CURRENCY_CODE 
		AND gc.CURRENCY_ID = gct.CURRENCY_ID 
		AND gct.lang = #{request.locale,javaType=java.lang.String} 
	) AS currency_name,
	a.entered_amount_dr,
	a.entered_amount_cr,
	a.functional_amount_dr,
	a.functional_amount_cr,
	a.exchange_rate_type,
	( SELECT tv.DESCRIPTION FROM gld_exchangerate_type tv WHERE tv.type_code = a.exchange_rate_type ) AS exchangeRateTypeName,
	a.exchange_rate,
	a.account_segment1,
	a.account_segment2,
	a.account_segment3,
	a.account_segment4,
	a.account_segment5,
	a.account_segment6,
	a.account_segment7,
	a.account_segment8,
	a.account_segment9,
	a.account_segment10,
	a.account_segment11,
	a.account_segment12,
	a.account_segment13,
	a.account_segment14,
	a.account_segment15,
	a.account_segment16,
	a.account_segment17,
	a.account_segment18,
	a.account_segment19,
	a.account_segment20 
FROM
	csh_transaction_account a,
	csh_transaction_header h,
	csh_transaction_line l 
WHERE
	a.transaction_line_id = l.transaction_line_id 
	AND l.transaction_header_id = h.transaction_header_id
	 AND h.transaction_header_id    = #{transactionHeaderId}
UNION ALL
SELECT
	woa.description,
	woa.acc_entity_id,
	( SELECT gaet.ACC_ENTITY_NAME FROM gld_accounting_entity_tl gaet WHERE gaet.ACC_ENTITY_ID = woa.acc_entity_id AND gaet.lang = #{request.locale,javaType=java.lang.String} ) AS acc_entity_name,
	woa.resp_center_id,
	( SELECT grct.RESPONSIBILITY_CENTER_NAME FROM gld_responsibility_center_tl grct WHERE grct.RESPONSIBILITY_CENTER_ID = woa.resp_center_id AND grct.lang = #{request.locale,javaType=java.lang.String} ) AS resp_center_name,
	woa.account_id,
	( SELECT account_code FROM gld_account ga WHERE ga.ACCOUNT_ID = woa.account_id ) AS account_code,
	( SELECT gat.DESCRIPTION FROM gld_account_tl gat WHERE gat.ACCOUNT_ID = woa.account_id AND gat.lang = #{request.locale,javaType=java.lang.String} ) AS account_name,
	woa.currency_code,
	(
	SELECT
		gct.currency_name 
	FROM
		gld_currency gc,
		gld_currency_tl gct 
	WHERE
		gc.CURRENCY_CODE = woa.currency_code 
		AND gc.CURRENCY_ID = gct.CURRENCY_ID 
		AND gct.lang = #{request.locale,javaType=java.lang.String} 
	) AS currency_name,
	woa.entered_amount_dr,
	woa.entered_amount_cr,
	woa.functional_amount_dr,
	woa.functional_amount_cr,
	woa.exchange_rate_type,
	( SELECT tv.DESCRIPTION FROM gld_exchangerate_type tv WHERE tv.type_code = woa.exchange_rate_type ) AS exchangeRateTypeName,
	woa.exchange_rate,
	woa.account_segment1,
	woa.account_segment2,
	woa.account_segment3,
	woa.account_segment4,
	woa.account_segment5,
	woa.account_segment6,
	woa.account_segment7,
	woa.account_segment8,
	woa.account_segment9,
	woa.account_segment10,
	woa.account_segment11,
	woa.account_segment12,
	woa.account_segment13,
	woa.account_segment14,
	woa.account_segment15,
	woa.account_segment16,
	woa.account_segment17,
	woa.account_segment18,
	woa.account_segment19,
	woa.account_segment20 
FROM
	csh_write_off_account woa,
	csh_write_off wo,
	csh_transaction_header h,
	csh_transaction_line l 
WHERE
	woa.write_off_id = wo.write_off_id 
	AND wo.csh_transaction_line_id = l.transaction_line_id 
	AND l.transaction_header_id = h.transaction_header_id  									
	AND h.transaction_header_id    = #{transactionHeaderId}
    </select>
</mapper>