<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.csh.mapper.CshTransactionDistMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.csh.dto.CshTransactionDist">
        <result column="TRANSACTION_HEADER_ID" property="transactionHeaderId" jdbcType="DECIMAL" />
        <result column="DISTRIBUTION_LINE_ID" property="distributionLineId" jdbcType="DECIMAL" />
        <result column="SOURCE_DISTRIBUTION_LINE_ID" property="sourceDistributionLineId" jdbcType="DECIMAL" />
        <result column="DEBIT_FLAG" property="debitFlag" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>