<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpComEmpGroupRefEmpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpComEmpGroupRefEmp">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL"/>
        <result column="EMP_GROUP_COM_ASSIGN_ID" property="empGroupComAssignId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="mo_emp_group_code" property="moEmpGroupCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hec.exp.dto.ExpComEmpGroupRefEmp" resultMap="BaseResultMap">
        SELECT
            eg.mo_emp_group_code,
            et.description,
            eg.mo_emp_group_id,
            eg.mag_org_id,
            ec.company_id,
            ee.employee_id,
            ee.emp_group_com_assign_id,
            ee.ref_id,
            ee.enabled_flag
        FROM
            exp_com_emp_group_ref_emp ee,
            exp_mo_emp_group_asgn_com ec,
            exp_mo_emp_group eg left join exp_mo_emp_group_tl et on(eg.mo_emp_group_id = et.mo_emp_group_id and et.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
        WHERE
            ee.emp_group_com_assign_id = ec.assign_id
            AND ec.mo_emp_group_id = eg.mo_emp_group_id
            AND ee.employee_id = #{employeeId}
            AND ec.company_id = #{companyId}
        ORDER BY
            mo_emp_group_code
</select>
</mapper>