<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpEmployeeAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpEmployeeAttachment">
        <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="FND_ATTACHMENT_ID" property="fndAttachmentId" jdbcType="DECIMAL" />
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
        <result column="USED_FLAG" property="usedFlag" jdbcType="VARCHAR" />
        <result column="DOC_CATEGORY" property="docCategory" jdbcType="VARCHAR" />
        <result column="DOC_ID" property="docId" jdbcType="DECIMAL" />
        <result column="IMAGE_WIDTH" property="imageWidth" jdbcType="DECIMAL" />
        <result column="IMAGE_HEIGHT" property="imageHeight" jdbcType="DECIMAL" />
    </resultMap>


</mapper>