<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpLevelSeriesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpLevelSeries">
        <result column="LEVEL_SERIES_CODE" property="levelSeriesCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="LEVEL_SERIES_ID" property="levelSeriesId" jdbcType="DECIMAL" />
        <result column="level_series_code_display" property="levelSeriesCodeDisplay" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryExpLevelSeries" resultMap="BaseResultMap">
    SELECT
	      els.level_series_id,
	      els.level_series_code,
	      concat( els.level_series_code, '-', els.description ) level_series_code_display,
	      els.description level_series_description,
	      els.enabled_flag
    FROM
          exp_level_series els
    WHERE
          els.enabled_flag = 'Y'
    <if test="levelSeriesCode!=null and levelSeriesCode!=''">
    AND level_series_code like concat('%',#{levelSeriesCode},'%')
    </if>
    <if test="levelSeriesCodeDisplay!=null and levelSeriesCodeDisplay!=''">
    AND level_series_code_display like   concat('%',#{levelSeriesCodeDisplay},'%')
    </if>
    ORDER BY
          level_series_code
    </select>

</mapper>