<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoExpPolicyCondHdsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoExpPolicyCondHds">
        <result column="CONDITION_HDS_ID" property="conditionHdsId" jdbcType="DECIMAL" />
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="MATCH_ITEM_CODE" property="matchItemCode" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAllMatchItemCode" resultType="java.lang.String" parameterType="java.lang.Long">
        select MATCH_ITEM_CODE from exp_mo_exp_policy_cond_hds where CONDITION_ID = #{conditionId}
    </select>
    <select id="queryConditionHdsId" parameterType="com.hand.hec.exp.dto.ExpMoExpPolicyCondLns" resultType="java.lang.Long">
        select condition_hds_id from exp_mo_exp_policy_cond_hds where condition_id = #{conditionId} and match_item_code = #{conditionValueType}
    </select>

</mapper>