<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoRepTypeRefEmpGpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoRepTypeRefEmpGp">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MO_EXP_REPORT_TYPE_ID" property="moExpReportTypeId" jdbcType="DECIMAL" />
        <result column="MO_EMP_GROUP_ID" property="moEmpGroupId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="MO_EMP_GROUP_CODE" property="moEmpGroupCode" jdbcType="VARCHAR"/>
        <result column="MO_EMP_GROUP_NAME" property="moEmpGroupName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>