<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoReqTypeRefEmpGpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoReqTypeRefEmpGp">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MO_EXP_REQ_TYPE_ID" property="moExpReqTypeId" jdbcType="DECIMAL" />
        <result column="MO_EMP_GROUP_ID" property="moEmpGroupId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>