<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoReqTypeRefHdObjMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoReqTypeRefHdObj">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL"/>
        <result column="MO_EXP_REQ_TYPE_ID" property="moExpReqTypeId" jdbcType="DECIMAL"/>
        <result column="MO_EXP_OBJ_TYPE_ID" property="moExpObjTypeId" jdbcType="DECIMAL"/>
        <result column="REQUIRED_FLAG" property="requiredFlag" jdbcType="VARCHAR"/>
        <result column="LAYOUT_PRIORITY" property="layoutPriority" jdbcType="DECIMAL"/>
        <result column="DEFAULT_MO_OBJECT_ID" property="defaultMoObjectId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ObjectValueResultMap" type="com.hand.hec.exp.dto.ExpMoObjectValue">
        <result column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryObjectValue" resultMap="ObjectValueResultMap">

SELECT
	A.MO_EXPENSE_OBJECT_ID ID,
	A.MO_EXPENSE_OBJECT_CODE CODE,
	B.DESCRIPTION AS NAME
FROM
	exp_mo_expense_object_value A
	INNER JOIN exp_mo_expense_object_value_TL B ON A.MO_EXPENSE_OBJECT_ID = B.MO_EXPENSE_OBJECT_ID
	AND B.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}

WHERE
	A.MO_EXP_OBJ_TYPE_ID = #{moExpObjTypeId}
	and A.MO_EXPENSE_OBJECT_ID=#{moExpenseObjectId}
	AND A.ENABLED_FLAG = 'Y'
    </select>
    <select id="queryObjectSearch" resultMap="ObjectValueResultMap">
     select
t.ID,
t.CODE,
t.NAME
from (
${sqlQuery})t
where t.ID=#{moExpenseObjectId}
    </select>
    <select id="queryObjectSearchAll" resultMap="ObjectValueResultMap">
     select
t.ID,
t.CODE,
t.NAME
from (
${sqlQuery})t
    </select>
</mapper>