<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoRepTypeRefPayUdMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoRepTypeRefPayUd">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MO_EXP_REPORT_TYPE_ID" property="moExpReportTypeId" jdbcType="DECIMAL" />
        <result column="USEDES_ID" property="usedesId" jdbcType="DECIMAL" />
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="USEDES_CODE" property="usedesCode" jdbcType="VARCHAR"/>
        <result column="USEDES_NAME" property="usedesName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>