<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoExpPolicyAssignDtlMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoExpPolicyAssignDtl">
        <result column="ASSIGN_DTL_ID" property="assignDtlId" jdbcType="DECIMAL" />
        <result column="ASSIGN_ID" property="assignId" jdbcType="DECIMAL" />
        <result column="EXPENSE_POLICY_ID" property="expensePolicyId" jdbcType="DECIMAL" />
        <result column="EXPENSE_POLICY_CODE" property="expensePolicyCode" jdbcType="VARCHAR"/>
        <result column="EXPENSE_POLICY_NAME" property="expensePolicyName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>