<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoRepEleRefExpTpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoRepEleRefExpTp">
        <result column="EXP_TYPE_REF_ID" property="expTypeRefId" jdbcType="DECIMAL" />
        <result column="REP_PAGE_ELE_REF_ID" property="repPageEleRefId" jdbcType="DECIMAL" />
        <result column="MO_EXPENSE_TYPE_ID" property="moExpenseTypeId" jdbcType="DECIMAL" />
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="APPONIT_ITEM_FLAG" property="apponitItemFlag" jdbcType="VARCHAR" />

        <result column="MO_EXPENSE_TYPE_CODE" property="moExpenseTypeCode" jdbcType="VARCHAR"/>
        <result column="MO_EXPENSE_TYPE_NAME" property="moExpenseTypeName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>