<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoReqItemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoReqItem">
        <result column="MO_REQ_ITEM_ID" property="moReqItemId" jdbcType="DECIMAL" />
        <result column="MO_REQ_ITEM_CODE" property="moReqItemCode" jdbcType="VARCHAR" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="BUDGET_ITEM_CODE" property="budgetItemCode" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM_NAME" property="budgetItemName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getReqItemByExpenseType" resultMap="BaseResultMap">
        select emri.mo_req_item_id,
               emri.mo_req_item_code,
               emrit.description
        from exp_mo_req_item emri
        left join exp_mo_req_item_tl emrit on emri.mo_req_item_id = emrit.mo_req_item_id and emrit.lang = #{request.locale}
        left join exp_mo_exp_type_ref_req_it ei on ei.mo_req_item_id = emri.mo_req_item_id and ei.mo_expense_type_id = #{moExpenseTypeId}
        and ei.enabled_flag = 'Y'
        where emri.mag_org_id = #{request.magOrgId}
        and emri.enabled_flag = 'Y'
    </select>

</mapper>