<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoEmpTypeAsgnComMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoEmpTypeAsgnCom">
        <result column="EMP_MO_ASGN_ID" property="empMoAsgnId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_TYPE_ID" property="employeeTypeId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="magOrgName" property="magOrgName" jdbcType="VARCHAR" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="selectCompanyByEmpType" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            fcemp.EMP_MO_ASGN_ID,
            fcemp.EMPLOYEE_TYPE_ID,
            fcemp.ENABLED_FLAG,
            fmo.DESCRIPTION magOrgName,
            fmo.MAG_ORG_ID,
            fc.COMPANY_CODE,
            fc.COMPANY_SHORT_NAME,
            fc.COMPANY_ID
        FROM
            exp_mo_emp_type_asgn_com fcemp,
            fnd_company fc,
            fnd_managing_organization fmo
        WHERE
            fcemp.EMPLOYEE_TYPE_ID = #{employeeTypeId}
            AND fcemp.COMPANY_ID = fc.COMPANY_ID
            AND fc.MAG_ORG_ID = fmo.MAG_ORG_ID
    </select>
    
    <select id="checkIfAsgn" parameterType="java.lang.Long" resultType="long">
      SELECT
	      count( * )
      FROM
        exp_mo_emp_type_asgn_com empfc
      WHERE
        empfc.EMPLOYEE_TYPE_ID = #{employeeTypeId}
      AND
        empfc.COMPANY_ID = #{companyId}

    </select>

</mapper>