<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoExpenseObjectValueMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoExpenseObjectValue">
        <result column="MO_EXPENSE_OBJECT_ID" property="moExpenseObjectId" jdbcType="DECIMAL" />
        <result column="MO_EXP_OBJ_TYPE_ID" property="moExpObjTypeId" jdbcType="DECIMAL" />
        <result column="MO_EXPENSE_OBJECT_CODE" property="moExpenseObjectCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>