<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoUnitGroupAsgnComMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoUnitGroupAsgnCom">
        <result column="ASSIGN_ID" property="assignId" jdbcType="DECIMAL"/>
        <result column="MO_UNIT_GROUP_ID" property="moUnitGroupId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>