<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoWriteCaptionLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoWriteCaptionLn">
        <result column="CAPTION_LNS_ID" property="captionLnsId" jdbcType="DECIMAL" />
        <result column="CAPTION_HDS_ID" property="captionHdsId" jdbcType="DECIMAL" />
        <result column="LINE_STEP_NUMBER" property="lineStepNumber" jdbcType="DECIMAL" />
        <result column="STEP_TITLE" property="stepTitle" jdbcType="VARCHAR" />
        <result column="STEP_CONTENT" property="stepContent" jdbcType="VARCHAR" />

        <result column="DOC_CATEGORY" property="docCategory" jdbcType="VARCHAR"/>
        <result column="DOC_TYPE_ID" property="docTypeId" jdbcType="DECIMAL"/>
        <result column="LINE_STEP_TITLE" property="lineStepTitle" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getWriteCaptionByDocType" resultMap="BaseResultMap">
       select v.doc_category,
              v.doc_type_id,
              v.caption_hds_id,
              v.caption_lns_id,
              v.line_step_number,
              v.step_title,
              v.step_content,
              v.line_step_title
       from
       (SELECT emch.doc_category_code doc_category,
              emrt.mo_exp_req_type_id doc_type_id,
              emcl.caption_lns_id,
              emcl.caption_hds_id,
              emcl.line_step_number,
              CONCAT_WS("、",emcl.line_step_number,emclt.step_title) line_step_title,
              emclt.step_title,
              emclt.step_content
         FROM exp_mo_write_caption_ln emcl,
              exp_mo_write_caption_ln_tl emclt,
              exp_mo_write_caption_hd emch,
              exp_mo_req_type  emrt
         WHERE
         emcl.caption_lns_id = emclt.caption_lns_id
         AND emclt.lang = #{request.locale,jdbcType=VARCHAR}
         AND emcl.caption_hds_id = emch.caption_hds_id
         AND emrt.caption_hds_id = emcl.caption_hds_id
       union all
         SELECT emch.doc_category_code doc_category,
              emrt.mo_exp_report_type_id doc_type_id,
              emcl.caption_lns_id,
              emcl.caption_hds_id,
              emcl.line_step_number,
              CONCAT_WS("、",emcl.line_step_number,emclt.step_title) line_step_title,
              emclt.step_title,
              emclt.step_content
         FROM exp_mo_write_caption_ln emcl,
              exp_mo_write_caption_ln_tl emclt,
              exp_mo_write_caption_hd emch,
              exp_mo_report_type  emrt
         WHERE
         emcl.caption_lns_id = emclt.caption_lns_id
         AND emclt.lang = #{request.locale,jdbcType=VARCHAR}
         AND emcl.caption_hds_id = emch.caption_hds_id
         AND emrt.caption_hds_id = emcl.caption_hds_id
       union all
          SELECT emch.doc_category_code doc_category,
              emrt.mo_pay_req_type_id doc_type_id,
              emcl.caption_lns_id,
              emcl.caption_hds_id,
              emcl.line_step_number,
              CONCAT_WS("、",emcl.line_step_number,emclt.step_title) line_step_title,
              emclt.step_title,
              emclt.step_content
         FROM exp_mo_write_caption_ln emcl,
              exp_mo_write_caption_ln_tl emclt,
              exp_mo_write_caption_hd emch,
              acp_mo_pay_req_type  emrt
         WHERE
         emcl.caption_lns_id = emclt.caption_lns_id
         AND emclt.lang = #{request.locale,jdbcType=VARCHAR}
         AND emcl.caption_hds_id = emch.caption_hds_id
         AND emrt.caption_hds_id = emch.caption_hds_id

       union all
         SELECT emch.doc_category_code doc_category,
              emrt.mo_payment_req_type_id doc_type_id,
              emcl.caption_lns_id,
              emcl.caption_hds_id,
              emcl.line_step_number,
              CONCAT_WS("、",emcl.line_step_number,emclt.step_title) line_step_title,
              emclt.step_title,
              emclt.step_content
         FROM exp_mo_write_caption_ln emcl,
              exp_mo_write_caption_ln_tl emclt,
              exp_mo_write_caption_hd emch,
              csh_mo_payment_req_type  emrt
         WHERE
         emcl.caption_lns_id = emclt.caption_lns_id
         AND emclt.lang = #{request.locale,jdbcType=VARCHAR}
         AND emcl.caption_hds_id = emch.caption_hds_id
         AND emrt.caption_hds_id = emch.caption_hds_id
       union all
         SELECT emch.doc_category_code doc_category,
              emrt.mo_repayment_reg_type_id doc_type_id,
              emcl.caption_lns_id,
              emcl.caption_hds_id,
              emcl.line_step_number,
              CONCAT_WS("、",emcl.line_step_number,emclt.step_title) line_step_title,
              emclt.step_title,
              emclt.step_content
         FROM exp_mo_write_caption_ln emcl,
              exp_mo_write_caption_ln_tl emclt,
              exp_mo_write_caption_hd emch,
              csh_mo_repayment_reg_type  emrt
         WHERE
         emcl.caption_lns_id = emclt.caption_lns_id
         AND emclt.lang = #{request.locale,jdbcType=VARCHAR}
         AND emcl.caption_hds_id = emch.caption_hds_id
         AND emrt.caption_hds_id = emch.caption_hds_id
        ) v
        where v.doc_category = #{docCategory,jdbcType=VARCHAR}
        and v.doc_type_id = #{docTypeId,jdbcType=DECIMAL}
    </select>

</mapper>