<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoExpPolicyAsgnComMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoExpPolicyAsgnCom">
        <result column="ASSIGN_ID" property="assignId" jdbcType="DECIMAL"/>
        <result column="EXPENSE_POLICY_ID" property="expensePolicyId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryCompanyByExpensePolicyId" resultMap="BaseResultMap"
            parameterType="com.hand.hec.exp.dto.ExpMoExpPolicyAsgnCom">
  SELECT
                    fc.company_id,
                    fc.company_code,
                    ft.company_short_name,
                    ec.assign_id,
                    ec.expense_policy_id,
                    ec.enabled_flag
                FROM
                    exp_mo_exp_policy_asgn_com ec,
                    fnd_company fc 	LEFT OUTER JOIN fnd_company_tl ft ON
			(fc.company_id=ft.company_id AND ft.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}),
                    exp_mo_expense_policy ep
                WHERE
                    (
                        fc.end_date_active IS NULL OR
                        sysdate() BETWEEN fc.start_date_active AND fc.end_date_active
                    )
                    AND
                    fc.company_id        = ec.company_id AND
                    fc.mag_org_id        = ep.mag_org_id AND
                    ep.expense_policy_id = ec.expense_policy_id AND
                    fc.mag_org_id        = #{magOrgId} AND
                    ec.expense_policy_id = #{expensePolicyId}
                ORDER BY
                    company_code
    </select>
    <select id="queryRemainingCompanyByExpensePolicyId" resultMap="BaseResultMap"
            parameterType="com.hand.hec.exp.dto.ExpMoExpPolicyAsgnCom">
        SELECT
                        fv.company_id,
                        fv.company_code,
                        ft.company_short_name
                    FROM
                        fnd_company fv LEFT OUTER JOIN fnd_company_tl ft ON
			(fv.company_id=ft.company_id AND ft.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
                    WHERE
                        fv.mag_org_id = #{magOrgId} AND
                        (
                            fv.end_date_active IS NULL OR
                            sysdate() BETWEEN fv.start_date_active AND fv.end_date_active
                        )
                        AND
                        NOT EXISTS
                        (SELECT
                            1
                        FROM
                            exp_mo_expense_policy e,
                            exp_mo_exp_policy_asgn_com c
                        WHERE
                            e.expense_policy_id = c.expense_policy_id AND
                            c.company_id        = fv.company_id AND
                            e.mag_org_id        = #{magOrgId} AND
                            e.expense_policy_id = #{expensePolicyId}
                        ) ORDER BY
                    fv.company_code
    </select>


</mapper>