<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoReqEleRefLnDimMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoReqEleRefLnDim">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="REQ_PAGE_ELE_REF_ID" property="reqPageEleRefId" jdbcType="DECIMAL" />
        <result column="DIMENSION_ID" property="dimensionId" jdbcType="DECIMAL" />
        <result column="LAYOUT_PRIORITY" property="layoutPriority" jdbcType="DECIMAL" />
        <result column="DEFAULT_DIM_VALUE_ID" property="defaultDimValueId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>