<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoRepTypeRefHdObjMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoRepTypeRefHdObj">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MO_EXP_REPORT_TYPE_ID" property="moExpReportTypeId" jdbcType="DECIMAL" />
        <result column="MO_EXP_OBJ_TYPE_ID" property="moExpObjTypeId" jdbcType="DECIMAL" />
        <result column="REQUIRED_FLAG" property="requiredFlag" jdbcType="VARCHAR" />
        <result column="LAYOUT_PRIORITY" property="layoutPriority" jdbcType="DECIMAL" />
        <result column="DEFAULT_MO_OBJECT_ID" property="defaultMoObjectId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="MO_EXP_OBJ_TYPE_CODE" property="moExpObjTypeCode" jdbcType="VARCHAR"/>
        <result column="MO_EXP_OBJ_TYPE_NAME" property="moExpObjTypeName" jdbcType="VARCHAR"/>
        <result column="DEFAULT_MO_OBJECT_CODE" property="defaultMoObjectCode" jdbcType="VARCHAR"/>
        <result column="DEFAULT_MO_OBJECT_NAME" property="defaultMoObjectName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryExpTypeHdObj" resultType="int" parameterType="com.hand.hec.exp.dto.ExpMoRepEleRefLnObj">
      select count(*)
        from exp_mo_rep_type_ref_hd_obj h
       where h.mo_exp_report_type_id = (select e.mo_exp_report_type_id
                                          from exp_mo_rep_type_ref_ele e
                                         where e.rep_page_ele_ref_id = #{repPageEleRefId})
         and h.mo_exp_obj_type_id = #{moExpObjTypeId}
         and h.enabled_flag = 'Y';
    </select>



</mapper>