<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpMoExpPolicyConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpMoExpPolicyCondition">
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="DETAIL_ID" property="detailId" jdbcType="DECIMAL" />
        <result column="CONDITION_CODE" property="conditionCode" jdbcType="VARCHAR" />
        <result column="CONDITION_NAME" property="conditionName" jdbcType="VARCHAR" />
        <result column="START_DATE_ACTIVE" property="startDateActive" jdbcType="DATE" />
        <result column="END_DATE_ACTIVE" property="endDateActive" jdbcType="DATE" />
    </resultMap>
    <select id="queryAllMatchingCondition" resultType="com.hand.hap.system.dto.CodeValue">
SELECT
	sv.value ,
	st.meaning
FROM
	sys_code_b sc,
	sys_code_value_b sv
	LEFT OUTER JOIN sys_code_value_tl st ON (
	sv.code_value_id = st.code_value_id
	AND st.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})

WHERE
	sc.code_id = sv.code_id
	AND sc.CODE = 'EXP_POLICY_DTL_CONDITION'
	AND sc.enabled_flag = 'Y'
	AND sv.enabled_flag = 'Y'
ORDER BY
	sv.value
    </select>

</mapper>