<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpOrgUnitRefBgtOrgMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpOrgUnitRefBgtOrg">
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="queryRefRalationNum" parameterType="java.lang.Long" resultType="int">
        SELECT
            count( * )
        FROM
            exp_org_unit_ref_bgt_org eobo
        WHERE
            eobo.unit_id = #{unitId}
            AND eobo.default_flag = 'Y'
            AND NOT EXISTS (
                    SELECT 1
                    FROM exp_org_unit_ref_bgt_org eobx
                    WHERE eobx.unit_id = #{unitId}
                    AND eobx.bgt_entity_id = #{bgtEntityId}
                    AND eobx.bgt_center_id = #{bgtCenterId} )
    </select>

</mapper>