<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpOrgUnitTypeRelationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpOrgUnitTypeRelation">
        <result column="UNIT_TYPE_ID" property="unitTypeId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>