<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpPositionGroupRelationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpPositionGroupRelation">
        <result column="RELATION_ID" property="relationId" jdbcType="DECIMAL"/>
        <result column="POSITION_GROUP_ID" property="positionGroupId" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="POSITION_CODE" property="positionCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPositionGroupRelationByPositionGroupId" resultMap="BaseResultMap">
        SELECT
            gr.relation_id,
            gr.position_group_id,
            gr.position_id,
            op.position_code,
            opt.description,
            op.company_id,
            cpt.company_short_name
        FROM
            exp_position_group_relation gr
        LEFT OUTER JOIN exp_position_group pg ON
            gr.position_group_id=pg.position_group_id
        LEFT OUTER JOIN exp_org_position op ON
            gr.position_id=op.position_id
        LEFT OUTER JOIN exp_org_position_tl opt ON
            (op.position_id=opt.position_id AND opt.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
        LEFT OUTER JOIN fnd_company cp ON
            op.company_id=cp.company_id
        LEFT OUTER JOIN fnd_company_tl cpt ON
            (cp.company_id=cpt.company_id AND cpt.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
        WHERE
            gr.position_group_id=#{positionGroupId}
    </select>


</mapper>