<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpReqPageElementMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpReqPageElement">
        <result column="REQ_PAGE_ELEMENT_ID" property="reqPageElementId" jdbcType="DECIMAL" />
        <result column="REQ_PAGE_ELEMENT_CODE" property="reqPageElementCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="SERVICE_ID" property="serviceId" jdbcType="DECIMAL" />
        <result column="READONLY_SERVICE_ID" property="readonlyServiceId" jdbcType="DECIMAL" />
        <result column="SERVICE1_ID" property="service1Id" jdbcType="DECIMAL" />
        <result column="SERVICE2_ID" property="service2Id" jdbcType="DECIMAL" />
        <result column="SERVICE3_ID" property="service3Id" jdbcType="DECIMAL" />
        <result column="SERVICE4_ID" property="service4Id" jdbcType="DECIMAL" />
        <result column="SERVICE5_ID" property="service5Id" jdbcType="DECIMAL" />
        <result column="REPORT_TYPE_FLAG" property="reportTypeFlag" jdbcType="VARCHAR" />
        <result column="EXPENSE_OBJECT_FLAG" property="expenseObjectFlag" jdbcType="VARCHAR" />
        <result column="DIMENSION_FLAG" property="dimensionFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="SYSTEM_FLAG" property="systemFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>