<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpRequisitionDistMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpRequisitionDist">
        <result column="PAY2MAG_EXCHANGE_RATE" property="pay2magExchangeRate" jdbcType="DECIMAL" />
        <result column="MO_EXPENSE_TYPE_ID" property="moExpenseTypeId" jdbcType="DECIMAL" />
        <result column="MO_REQ_ITEM_ID" property="moReqItemId" jdbcType="DECIMAL" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="BUSINESS_PRICE" property="businessPrice" jdbcType="DECIMAL" />
        <result column="PAYMENT_PRICE" property="paymentPrice" jdbcType="DECIMAL" />
        <result column="MANAGEMENT_PRICE" property="managementPrice" jdbcType="DECIMAL" />
        <result column="PRIMARY_QUANTITY" property="primaryQuantity" jdbcType="DECIMAL" />
        <result column="PRIMARY_UOM" property="primaryUom" jdbcType="VARCHAR" />
        <result column="SECONDARY_QUANTITY" property="secondaryQuantity" jdbcType="DECIMAL" />
        <result column="SECONDARY_UOM" property="secondaryUom" jdbcType="VARCHAR" />
        <result column="BUSINESS_AMOUNT" property="businessAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
        <result column="MANAGEMENT_AMOUNT" property="managementAmount" jdbcType="DECIMAL" />
        <result column="REQUISITION_FUNCTIONAL_AMOUNT" property="requisitionFunctionalAmount" jdbcType="DECIMAL" />
        <result column="DISTRIBUTION_SET_ID" property="distributionSetId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
        <result column="PAYEE_ID" property="payeeId" jdbcType="DECIMAL" />
        <result column="PAYMENT_FLAG" property="paymentFlag" jdbcType="VARCHAR" />
        <result column="CLOSE_FLAG" property="closeFlag" jdbcType="VARCHAR" />
        <result column="CLOSE_DATE" property="closeDate" jdbcType="DATE" />
        <result column="REQUISITION_STATUS" property="requisitionStatus" jdbcType="VARCHAR" />
        <result column="AUDIT_FLAG" property="auditFlag" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_NUM" property="attachmentNum" jdbcType="DECIMAL" />
        <result column="EXCEED_BUDGET_STRATEGY" property="exceedBudgetStrategy" jdbcType="VARCHAR" />
        <result column="RELEASED_AMOUNT" property="releasedAmount" jdbcType="DECIMAL" />
        <result column="RELEASED_QUANTITY" property="releasedQuantity" jdbcType="DECIMAL" />
        <result column="RELEASED_STATUS" property="releasedStatus" jdbcType="VARCHAR" />
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL" />
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL" />
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL" />
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL" />
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL" />
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL" />
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL" />
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL" />
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL" />
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL" />
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL" />
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL" />
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL" />
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL" />
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL" />
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL" />
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL" />
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL" />
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL" />
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL" />
        <result column="EXP_REQUISITION_DIST_ID" property="expRequisitionDistId" jdbcType="DECIMAL" />
        <result column="EXP_REQUISITION_LINE_ID" property="expRequisitionLineId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DATE_FROM" property="dateFrom" jdbcType="DATE" />
        <result column="DATE_TO" property="dateTo" jdbcType="DATE" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="BUSINESS_CURRENCY_CODE" property="businessCurrencyCode" jdbcType="VARCHAR" />
        <result column="BIZ2PAY_EXCHANGE_TYPE" property="biz2payExchangeType" jdbcType="VARCHAR" />
        <result column="BIZ2PAY_EXCHANGE_RATE" property="biz2payExchangeRate" jdbcType="DECIMAL" />
        <result column="PAYMENT_CURRENCY_CODE" property="paymentCurrencyCode" jdbcType="VARCHAR" />
        <result column="PAY2FUN_EXCHANGE_TYPE" property="pay2funExchangeType" jdbcType="VARCHAR" />
        <result column="PAY2FUN_EXCHANGE_RATE" property="pay2funExchangeRate" jdbcType="DECIMAL" />
        <result column="MANAGEMENT_CURRENCY_CODE" property="managementCurrencyCode" jdbcType="VARCHAR" />
        <result column="PAY2MAG_EXCHANGE_TYPE" property="pay2magExchangeType" jdbcType="VARCHAR" />

        <result column="ONE_OFF_FLAG" property="oneOffFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryDistByLineId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select t.exp_requisition_dist_id
                        from exp_requisition_dist t
                       where t.exp_requisition_line_id in
                             (select l.exp_requisition_line_id
                                from exp_requisition_line l
                               where l.exp_requisition_header_id =
                                     #{headId})
                             and (t.close_flag = 'N' or t.close_flag is null)
    </select>

    <select id="getAllExpRequisitionDist" resultMap="BaseResultMap">
        select
	      erd.*,
	      emrt.ONE_OFF_FLAG
        from
	      exp_requisition_dist erd
        left join exp_requisition_line erl on
	      erd.EXP_REQUISITION_LINE_ID = erl.EXP_REQUISITION_LINE_ID
        left join exp_requisition_header erh on
	      erl.EXP_REQUISITION_HEADER_ID = erh.EXP_REQUISITION_HEADER_ID
        left join exp_mo_req_type emrt on
	      erh.MO_EXP_REQ_TYPE_ID = emrt.MO_EXP_REQ_TYPE_ID
        where
	      erh.EXP_REQUISITION_HEADER_ID = #{expRequisitionHeaderId}
	    and (erd.close_flag = 'N' or erd.close_flag is null)
    </select>
    <select id="countUnAuditExpReport" resultType="java.lang.Integer">
        select
	      count(*)
        from
	      exp_requisition_release r
        left join exp_report_header erh on
	      r.DOCUMENT_ID = erh.EXP_REPORT_HEADER_ID
        where
	      r.exp_requisition_header_id = #{expRequisitionHeaderId}
	    and r.exp_requisition_line_id = #{expRequisitionLineId}
	    and r.exp_requisition_dist_id = #{expRequisitiondistId}
	    and (erh.AUDIT_FLAG = 'Y' or erh.AUDIT_FLAG is null)
	    and r.document_type = 'EXP_REPORT'
    </select>

    <select id="getTotalPaymentAmount" resultType="java.math.BigDecimal">
        select sum(d.payment_amount)
          from exp_requisition_dist d
         <where>
             d.exp_requisition_line_id in
             (select l.exp_requisition_line_id
             from exp_requisition_line l
             where l.exp_requisition_header_id = #{expRequisitionHeaderId})
             <if test="expReqDistsId!=null">
                 and
                 d.mo_expense_type_id =
                 (select rd.mo_expense_type_id
                 from exp_requisition_dist rd
                 where rd.exp_requisition_dist_id = #{expReqDistsId})
             </if>
         </where>
    </select>
</mapper>