<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.exp.mapper.ExpRequisitionTravelLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.exp.dto.ExpRequisitionTravelLine">
        <result column="TRAVEL_LINE_ID" property="travelLineId" jdbcType="DECIMAL" />
        <result column="EXP_REQUISITION_LINE_ID" property="expRequisitionLineId" jdbcType="DECIMAL" />
        <result column="TRAVEL_LINE_CATEGORY" property="travelLineCategory" jdbcType="VARCHAR" />
        <result column="TRANSPORTATION" property="transportation" jdbcType="VARCHAR" />
        <result column="SEAT_CLASS" property="seatClass" jdbcType="VARCHAR" />
        <result column="DEPARTURE_PLACE" property="departurePlace" jdbcType="VARCHAR" />
        <result column="DEPARTURE_PLACE_ID" property="departurePlaceId" jdbcType="DECIMAL" />
        <result column="DEPARTURE_DATE" property="departureDate" jdbcType="DATE" />
        <result column="ARRIVAL_PLACE" property="arrivalPlace" jdbcType="VARCHAR" />
        <result column="ARRIVAL_PLACE_ID" property="arrivalPlaceId" jdbcType="DECIMAL" />
        <result column="ARRIVAL_DATE" property="arrivalDate" jdbcType="DATE" />
        <result column="ACCOMMODATION_DATE_FROM" property="accommodationDateFrom" jdbcType="DATE" />
        <result column="ACCOMMODATION_DATE_TO" property="accommodationDateTo" jdbcType="DATE" />
        <result column="ACCOMMODATION_DAYS" property="accommodationDays" jdbcType="DECIMAL" />
        <result column="PEER_PEOPLE" property="peerPeople" jdbcType="VARCHAR" />
        <result column="MONOPOLIZE_FLAG" property="monopolizeFlag" jdbcType="VARCHAR" />
        <result column="MONOPOLIZE_PLATFORM" property="monopolizePlatform" jdbcType="VARCHAR" />
    </resultMap>


</mapper>