<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>HAP</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="${base.contextPath}/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>

    <script src="${base.contextPath}/lib/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

    <script src="${base.contextPath}/lib/hapmain/hapmain.js" type="text/javascript"></script>
    <!-- BEGIN THEME GLOBAL STYLES -->
    <#include "include/components.html">
    <!-- END THEME GLOBAL STYLES -->
    <link href="${base.contextPath}/lib/hapmain/hapmain.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="${base.contextPath}/lib/assets/layouts/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="${base.contextPath}/lib/assets/layouts/layout4/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="${base.contextPath}/lib/assets/layouts/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
</head>
<body>
<script>

</script>
<style>
    body{
        overflow:hidden;
    }
    .more-fun {
        position: fixed;
        right: 5px;
        top: 230px;
        width: 30px;
        height: 30px;
        background: url(${base.contextPath}/resources/helpicon/more-fun.png);
        z-index: 999;
        cursor: pointer;
    }
    .more-active {
        background: url(${base.contextPath}/resources/helpicon/more-close.png);
        right: 240px;
    }
</style>
    <div class="row" style="margin-top:10px;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349">${todoCount}</span>
                    </div>
                    <div class="desc"> 待审批事项 </div>
                </div>
                <a class="more" href="javascript:;"> 更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">${returnCount}</span></div>
                    <div class="desc"> 被退回的申请 </div>
                </div>
                <a class="more" href="javascript:;"> 更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="549">${unpaidAmount}</span>
                    </div>
                    <div class="desc"> 单据待付金额 </div>
                </div>
                <a class="more" href="javascript:;"> 更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="89">${unWriteOffAmount}</span></div>
                    <div class="desc"> 借款余额 </div>
                </div>
                <a class="more" href="javascript:;"> 更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <#assign new_row = false/>
    <#list dashboards as dashboard>
        <#assign new_row = dashboard_index%2 ==0/>
        <#if new_row == true>
            <div class="row">
        </#if>
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class="icon-globe font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">${dashboard.dashboardTitle} </span>
                    </div>
                </div>
                <div class="portlet-body" id="${dashboard.dashboardCode}">
                   <!-- <script>
                        $('#${dashboard.dashboardCode}').load('${dashboard.dashboardUrl}')
                    </script>-->
                    <script type="text/JavaScript">
                        var html=$.ajax({url:'${dashboard.dashboardUrl}',async:false});
                        $("#${dashboard.dashboardCode}").html(html.responseText);
                    </script>
                </div>
            </div>
        </div>
        <#if new_row == false>
            </div>
        </#if>
    </#list>




    <div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">提醒</span>
                </div>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->

                        <div class="scroller" style="height: 339px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 您有4个待处理的任务。
                                                    <span class="label label-sm label-info">
                                                        <i class="fa fa-share"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 刚刚 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 数据库服务器＃12已重载。请解决问题。 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 24 分钟前 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-bullhorn"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 收到新订单。请查看 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 30 分钟前 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-bullhorn"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 收到新订单。请查看 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 40 分钟前 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="fa fa-plus"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 新用户注册。 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 1 小时前 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Web服务器硬件需要升级。
                                                    <span class="label label-sm label-default "> 已过期 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 2 小时前 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="fa fa-bullhorn"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 收到新订单。请查看 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 3 小时前 </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="fa fa-bullhorn"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 收到新订单。请查看 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 5 小时前 </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
                <!--END TABS-->

            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green"></i>
                        <span class="caption-subject font-green bold uppercase">客户支持</span>
                        <span class="caption-helper">45 项待办</span>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-small ">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control form-control-solid input-circle" placeholder="搜索"> </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 338px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">3 小时前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-success"></span> 新建 </span>
                                </div>
                                <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Mark</a>
                                        <span class="item-label">5 小时前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-warning"></span> 等待 </span>
                                </div>
                                <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet. </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">8 小时前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-primary"></span> 关闭 </span>
                                </div>
                                <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">12 小时前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-danger"></span> 等待 </span>
                                </div>
                                <div class="item-body"> Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Richard Stone</a>
                                        <span class="item-label">2 天前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-danger"></span> 新建 </span>
                                </div>
                                <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Dan</a>
                                        <span class="item-label">3 天前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-warning"></span> 等待 </span>
                                </div>
                                <div class="item-body"> Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Larry</a>
                                        <span class="item-label">4 天前</span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-success"></span> 新建 </span>
                                </div>
                                <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="more-fun" class="more-fun" tabindex="0"></div>
<div id="more-mask" class="more-mask"></div>
<div id="more-wrap" class="more-wrap">
    <div class="more-title">系统帮助</div>
    <ul>
        <#list helps as help>
        <li class="fun-list" style="list-style: none">
            <a href="javascript:parent.openTab(&apos;${help.functionCode}&apos;,&apos;${help.description}&apos;,&apos;${help.serviceName}&apos;,&apos;${help.icon}&apos;)" class="fun-url" >
                <span style="padding-right:15px; float:left;"><img src="${help.icon}"/></span>
                <span class="fun-text" title="${help.description}">${help.description}</span>
            </a>
        </li>
    </#list>
    </ul>
</div>
    <script src="${base.contextPath}/lib/assets/global/scripts/app.js" type="text/javascript"></script>
</body>
</html>