<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.evt.mapper.EvtEventMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.evt.dto.EvtEvent">
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="EVENT_CODE" property="eventCode" jdbcType="VARCHAR" />
        <result column="EVENT_NAME" property="eventName" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>