<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.evt.mapper.EvtEventHandleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.evt.dto.EvtEventHandle">
        <result column="HANDLE_RECORD_ID" property="handleRecordId" jdbcType="DECIMAL" />
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="ORDER_NUM" property="orderNum" jdbcType="DECIMAL" />
        <result column="HANDLE_TITLE" property="handleTitle" jdbcType="VARCHAR" />
        <result column="HANDLE_DESC" property="handleDesc" jdbcType="VARCHAR" />
        <result column="BEAN_NAME" property="beanName" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>