<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.evt.mapper.EvtEventLogMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.evt.dto.EvtEventLog">
        <result column="HANDLE_RECORD_ID" property="handleRecordId" jdbcType="DECIMAL" />
        <result column="LOG_ID" property="logId" jdbcType="DECIMAL" />
        <result column="LOG_DATE" property="logDate" jdbcType="DATE" />
        <result column="LOG_TEXT" property="logText" jdbcType="VARCHAR" />
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="EVENT_SOURCE" property="eventSource" jdbcType="VARCHAR" />
        <result column="EVENT_PARAM" property="eventParam" jdbcType="DECIMAL" />
    </resultMap>


</mapper>