<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.evt.mapper.EvtEventHandleRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.evt.dto.EvtEventHandleRecord">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="EVENT_RECORD_ID" property="eventRecordId" jdbcType="DECIMAL" />
        <result column="HANDLE_ID" property="handleId" jdbcType="DECIMAL" />
        <result column="RETURN_CODE" property="returnCode" jdbcType="VARCHAR" />
        <result column="SUCCESS_FLAG" property="successFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>