<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.evt.mapper.EvtEventRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.evt.dto.EvtEventRecord">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="EVENT_TYPE" property="eventType" jdbcType="VARCHAR" />
        <result column="EVENT_PARAM" property="eventParam" jdbcType="DECIMAL" />
        <result column="EVENT_SOURCE" property="eventSource" jdbcType="VARCHAR" />
        <result column="EVENT_DATA" property="eventData" jdbcType="VARCHAR" />
    </resultMap>


</mapper>