.item-tab{
/* 	-webkit-box-shadow: 1px 1px 2px 0 #d8dadb;
    -moz-box-shadow: 1px 1px 2px 0 #d8dadb;
    -o-box-shadow: 1px 1px 2px 0 #d8dadb;
    -ms-box-shadow: 1px 1px 2px 0 #d8dadb;
    box-shadow: 3px 3px 7px 0px #d8dadb; */
}

.item-tab-strip-bar{
	background-color:#fff;
}

.item-tab-strip-bar{
	background-color:#fff;
}

.item-tab .strip {
	height: 35px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	line-height: 35px;
	cursor: pointer;
	-moz-user-select: none;
	float: left;
	margin-bottom:-1px;
	margin-bottom:-3px\9;
	margin-right: 10px;
}

.item-tab .strip:hover{
	background:#eee;
}

.item-tab .tab {
	position:absolute;
	left:-10000px;
	top:-10000px;
	/* display:none; */
	overflow: auto;
	outline: none;
	width: 100%;
	height: 100%;
}

.item-tab-strip {
	float: left;
	position: relative;
	/* top: 1px; */
	z-index: 1;
	background-color:#fff;
	border-bottom:1px solid #ddd;
	/* margin:0 0 20px 0; */
	padding-right:15px;
	overflow: hidden;
}
/* 
.item-tab-strip-wrap{
	border-bottom:1px solid #ddd;
} */

.item-tab .strip.active {
	border: #ddd 1px solid;
	border-bottom-color:transparent;
	background:#f7f7f7;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2) inset;
}


.item-tab-body {
	/* border-top: 1px solid #ccc; */
	position: relative;
	overflow: hidden;
	/* background-color: #ebf1f5; */
	background-color:#fff;
	margin-top:10px;
	width: 100%;
}


.strip .strip-left, .strip .strip-right {
	float: left;
	height: 100%;
	width: 3px;
}

.strip .strip-center {
	float: left;
	height: 100%;
	vertical-align: center;
}

.strip-center {
	text-align: center;
	font-size: 14px;
	color:#758697;
}

.item-tab .strip.tab-btn-over{
	background: #e1e1e1;
}


.item-tab-strip>.item-tab .active {
	position: relative;
	/*top: 1px;*/
	z-index: 1;
	color: #fff;
	/*background: url(../tab/strip-active-center.png) repeat-x left top;*/
	background-color:#fff;
	/* line-height: 29px;25px */
	border:#ddd 1px solid;
	border-bottom-color:transparent;
}

.item-tab .active .strip-center {
	color: #555; 
	/* line-height: 29px;25px */
}

.tab-close {
	background: url(../tab/tab_close.png);
	position: relative;
	top: 14px;
	float: right;
	right:4px;
	width: 11px;
	height: 11px;
	line-height: 1px;
	font-size: 1px;
	cursor: pointer;
	visibility: hidden;
		background-position: -26px -13px;
}

.item-tab .active .tab-close {
	background-position: -26px -13px;
	top: 11px;
}

.tab-btn-over {
	background-position: -57px -13px;
}

.item-tab .active .tab-btn-over {
	background-position: -57px -13px;
}

.tab-btn-down {
	background-position: -57px -13px;x;
}

.item-tab .active .tab-btn-down {
	background-position: -57px -13px;
}

.tab-scroll {
	width: 18px;
	background-image: url(../tab/scroll.png);
	background-repeat: no-repeat;
	float: left;
	position: relative;
	top: 1px;
	z-index: 1;
	height: 26px;
	cursor: pointer;
}

.tab-scroll-left {
	background-position: 3px 11px;
}

.tab-scroll-right {
	background-position: 5px -22px;
}

.tab-scroll-left-over {
	background-position: -29px 11px;
}

.tab-scroll-right-over {
	background-position: -27px -22px;
}

.scroll-disabled {
	opacity: .5;
	filter: alpha(opacity = 50);
}