<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.pur.mapper.PurVenderTaxRefAeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.pur.dto.PurVenderTaxRefAe">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL"/>
        <result column="TAX_ID" property="taxId" jdbcType="DECIMAL"/>
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_CODE" property="accEntityCode" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_NAME" property="accEntityName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByTaxId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            pvtra.REF_ID,
            pvtra.TAX_ID,
            pvtra.ACC_ENTITY_ID,
            pvtra.ENABLED_FLAG,
            ( SELECT gae.acc_entity_code FROM gld_accounting_entity gae WHERE gae.acc_entity_id = pvtra.acc_entity_id ) AS acc_entity_code,
                    (
                    SELECT
                        gaetl.acc_entity_name
                    FROM
                        gld_accounting_entity gae,
                        gld_accounting_entity_tl gaetl
                    WHERE
                        gae.acc_entity_id = pvtra.acc_entity_id
                        AND gae.ACC_ENTITY_ID = gaetl.ACC_ENTITY_ID
                        AND gaetl.LANG = #{request.locale,javaType = java.lang.String}
                    ) AS acc_entity_name
        FROM
            PUR_VENDER_TAX_REF_AE pvtra
        WHERE
            pvtra.tax_id = #{taxId}
        ORDER BY
            acc_entity_code
    </select>

    <select id="queryAccEntityByVenderIdAndTaxId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
          gae.acc_entity_id,
          gae.acc_entity_code,
          gaetl.acc_entity_name
        FROM
          gld_accounting_entity gae
        LEFT JOIN gld_accounting_entity_tl gaetl ON ( gae.ACC_ENTITY_ID = gaetl.ACC_ENTITY_ID AND gaetl.lang = #{request.locale,javaType=java.lang.String} )
        WHERE
          ( gae.end_date_active IS NULL OR CURRENT_TIMESTAMP BETWEEN gae.start_date_active AND gae.end_date_active )
        AND gae.company_type &lt;&gt; '2'
        AND EXISTS ( SELECT 1 FROM pur_system_vender_ref_ae pa WHERE pa.acc_entity_id = gae.acc_entity_id AND pa.enabled_flag = 'Y' AND pa.vender_id = #{venderId} )
        AND NOT EXISTS (
        SELECT
          1
        FROM
          pur_vender_tax pvt,
          pur_vender_tax_ref_ae pvtra
        WHERE
          pvt.tax_id = pvtra.tax_id
        AND pvtra.acc_entity_id = gae.acc_entity_id
        AND pvt.tax_id = #{taxId,javaType=java.lang.Long}
        )
        ORDER BY
          gae.acc_entity_code
    </select>

</mapper>