<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.pur.mapper.PurVenderTaxMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.pur.dto.PurVenderTax">
        <result column="TAXPAYER_NUMBER" property="taxpayerNumber" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="TAXPAYER_BANK" property="taxpayerBank" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="TAX_ID" property="taxId" jdbcType="DECIMAL"/>
        <result column="VENDER_ID" property="venderId" jdbcType="DECIMAL"/>
        <result column="TAXPAYER_TYPE" property="taxpayerType" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="queryByVenderIdAndAccEntityId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
                pvt.tax_id,
                pvt.vender_id,
                pvt.taxpayer_type,
                pvt.taxpayer_number,
                pvt.address,
                pvt.taxpayer_bank,
                pvt.enabled_flag
            FROM
                pur_vender_tax pvt
            WHERE
                EXISTS ( SELECT 1 FROM pur_vender_tax_ref_ae pvra WHERE pvra.tax_id = pvt.tax_id AND pvra.acc_entity_id = #{accEntityId} )
       AND VENDER_ID = #{venderId}
    </select>

</mapper>