<cache:cache-provider xmlns:cache="aurora.application.features.cache" refreshBM="java@sysServiceLookupVlController@queryLookupCode" groupByFields="code,language" type="recordSet" key="$[@code].$[@language]" cacheName="lookupListCache" cacheDesc="值列表">	<eventHandlers>		<cache:RecordReloadHandler event="lookup_update" topic="dml_event" operation="update" reloadBM="java@sysServiceLookupVlController@queryLookupCode" groupByFields="code,lang"/>	</eventHandlers></cache:cache-provider>