<cache:cache-provider xmlns:cache="aurora.application.features.cache" cacheName="promptCache" key="$[@prompt_code].$[@language]" value="$[@description]" refreshBM="java@systemInitController@querySysPrompt" cacheDesc="页面国际化">
	<eventHandlers>
		<cache:EntityReloadHandler entity="sys_prompt" topic="dml_event" reloadBM="java@systemInitController@querySysPrompt"/>
	</eventHandlers>
</cache:cache-provider>