<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflBusinessRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflBusinessRule">
        <result column="BUSINESS_RULE_ID" property="businessRuleId" jdbcType="DECIMAL" />
        <result column="BUSINESS_RULE_CODE" property="businessRuleCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="WORKFLOW_CATEGORY" property="workflowCategory" jdbcType="VARCHAR" />
        <result column="START_DATE_ACTIVE" property="startDateActive" jdbcType="DATE" />
        <result column="END_DATE_ACTIVE" property="endDateActive" jdbcType="DATE" />
        <result column="NODE_FLAG" property="nodeFlag" jdbcType="VARCHAR" />
        <result column="WORKFLOW_FLAG" property="workflowFlag" jdbcType="VARCHAR" />
        <result column="AUTHORIZATION_FLAG" property="authorizationFlag" jdbcType="VARCHAR" />
        <result column="SSC_FIXED_NODE_FLAG" property="sscFixedNodeFlag" jdbcType="VARCHAR" />
        <result column="SSC_AUTHORIZATION_FLAG" property="sscAuthorizationFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>