<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflDeliverBizRuleAssignMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflDeliverBizRuleAssign">
        <result column="assign_id" property="assignId" jdbcType="DECIMAL"/>
        <result column="deliver_id" property="deliverId" jdbcType="DECIMAL"/>
        <result column="business_rule_id" property="businessRuleId" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryWflDeliverBizRuleAssign" resultMap="BaseResultMap"
            parameterType="com.hand.hec.wfl.dto.WflDeliverBizRuleAssign">
        select w.* ,
        (select t.business_rule_name
        from fnd_business_rule_tl t
        where t.business_rule_id =w.business_rule_id
        and t.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}) business_rule_name
        from wfl_deliver_biz_rule_assign w
        <where>
            <if test="deliverId!=null">
                AND w.deliver_id = #{deliverId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>