<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflEventMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflEvent">
        <result column="event_id" property="eventId" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="event_code" property="eventCode" jdbcType="VARCHAR"/>
        <result column="event_name" property="eventName" jdbcType="VARCHAR"/>
        <result column="event_type" property="eventType" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="processEventQuery" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select b.event_id,b.process_id,b.event_code,b.event_type,t.event_name
        from wfl_event_b b,wfl_event_tl t
        where b.event_id = t.event_id and t.lang= #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
        and b.process_id = #{processId}
        and b.enabled_flag = 'Y'
    </select>
</mapper>