<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflElementMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflElement">
        <result column="element_id" property="elementId" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="element_code" property="elementCode" jdbcType="VARCHAR"/>
        <result column="element_name" property="elementName" jdbcType="VARCHAR"/>
        <result column="element_type" property="elementType" jdbcType="VARCHAR"/>
        <result column="lang" property="lang" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ElementResultMap" type="com.hand.hec.wfl.dto.WflElement" extends="BaseResultMap">
        <collection property="event" column="process_id" javaType="ArrayList"
                    ofType="com.hand.hec.wfl.dto.WflEvent" select="processEventQuery"/>
        <collection property="task" column="process_id" javaType="ArrayList"
                    ofType="com.hand.hec.wfl.dto.WflTask" select="queryByProcessId"/>
        <collection property="gateway" column="process_id" javaType="ArrayList"
                    ofType="com.hand.hec.wfl.dto.WflGateway" select="processGatewayQuery"/>
        <collection property="flow" column="process_id" javaType="ArrayList"
                    ofType="com.hand.hec.wfl.dto.WflFlow" select="processEventQuery"/>
    </resultMap>
    <select id="processElementQuery" resultMap="BaseResultMap" parameterType="com.hand.hec.wfl.dto.WflElement">
select *
from wfl_element_vl w
WHERE w.process_id = #{processId}
AND w.element_type = #{elementType}
AND w.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
</select>
</mapper>