<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflGatewayBizRuleGroupMapper">
      <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflGatewayBizRuleGroup" >
        <result column="group_id" property="groupId" jdbcType="DECIMAL" />
        <result column="gateway_id" property="gatewayId" jdbcType="DECIMAL" />
        <result column="sequence" property="sequence" jdbcType="DECIMAL" />
        <result column="group_code" property="groupCode" jdbcType="VARCHAR" />
        <result column="group_name" property="groupName" jdbcType="VARCHAR" />
        <result column="flow_id" property="flowId" jdbcType="DECIMAL" />
        <result column="adjust_type" property="adjustType" jdbcType="VARCHAR" />
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="deleted_flag" property="deletedFlag" jdbcType="VARCHAR" />
    </resultMap>
</mapper>