<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflGatewayBizRuleDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflGatewayBizRuleDetail">
        <result column="detail_id" property="detailId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="business_rule_id" property="businessRuleId" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>