<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflGatewayMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflGateway">
        <result column="gateway_id" property="gatewayId" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="gateway_code" property="gatewayCode" jdbcType="VARCHAR"/>
        <result column="gateway_name" property="gatewayName" jdbcType="VARCHAR"/>
        <result column="gateway_type" property="gatewayType" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="processGatewayQuery" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select b.gateway_id,b.process_id,b.gateway_code,b.gateway_type,t.gateway_name
        from wfl_gateway_b b,wfl_gateway_tl t
        where b.gateway_id = t.gateway_id and t.lang= #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
        and b.process_id = #{processId}
        and b.enabled_flag = 'Y'
    </select>
</mapper>