<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflInsTaskRecipientMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflInsTaskRecipient">
        <result column="ins_recipient_id" property="insRecipientId" jdbcType="DECIMAL"/>
        <result column="instance_id" property="instanceId" jdbcType="DECIMAL"/>
        <result column="ins_task_id" property="insTaskId" jdbcType="DECIMAL"/>
        <result column="ins_hierarchy_id" property="insHierarchyId" jdbcType="DECIMAL"/>
        <result column="sequence" property="sequence" jdbcType="DECIMAL"/>
        <result column="approver_id" property="approverId" jdbcType="DECIMAL"/>
        <result column="commission_by" property="commissionBy" jdbcType="DECIMAL"/>
        <result column="commission_date" property="commissionDate" jdbcType="DATE"/>
        <result column="limited_date" property="limitedDate" jdbcType="DATE"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getRecipientApproveCount" resultType="java.lang.Long">
    SELECT count( 1 ) as approve_count
    FROM wfl_approve_record r, wfl_ins_task_recipient_ht rh
    WHERE r.ins_recipient_id = rh.ins_recipient_id
    AND r.instance_id = #{instanceId}  and rh.approver_id = #{approverId} and r.action_type = 'AGREE'
  </select>
</mapper>