<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflInsTaskHierarchyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflInsTaskHierarchy">
        <result column="ins_hierarchy_id" property="insHierarchyId" jdbcType="DECIMAL"/>
        <result column="instance_id" property="instanceId" jdbcType="DECIMAL"/>
        <result column="ins_task_id" property="insTaskId" jdbcType="DECIMAL"/>
        <result column="ins_receiver_id" property="insReceiverId" jdbcType="DECIMAL"/>
        <result column="sequence" property="sequence" jdbcType="DECIMAL"/>
        <result column="approver_id" property="approverId" jdbcType="DECIMAL"/>
        <result column="posted_flag" property="postedFlag" jdbcType="VARCHAR"/>
        <result column="disabled_flag" property="disabledFlag" jdbcType="VARCHAR"/>
        <result column="parent_ins_hierarchy_id" property="parentInsHierarchyId" jdbcType="DECIMAL"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectReachableHierarchy" resultType="com.hand.hec.wfl.dto.WflInsTaskHierarchy"
            resultMap="BaseResultMap">
    SELECT *
    FROM  wfl_ins_task_hierarchy h
    WHERE h.ins_task_id = #{insTaskId}
      AND h.posted_flag = 'N'
      AND h.disabled_flag = 'N'
      AND NOT EXISTS ( SELECT 1 FROM wfl_ins_task_recipient r WHERE r.ins_hierarchy_id = h.ins_hierarchy_id )
      AND (
      h.parent_ins_hierarchy_id IS NULL
      OR h.SEQUENCE = (
        SELECT MIN(SEQUENCE)
        FROM
        wfl_ins_task_hierarchy h2
        WHERE
        h2.ins_task_id = h.ins_task_id
        AND h2.parent_ins_hierarchy_id = h.parent_ins_hierarchy_id
        AND h2.posted_flag = 'N'
        AND h2.disabled_flag = 'N'
        ))
  </select>
</mapper>