<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflInsGatewayMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflInsGateway">
        <result column="ins_gateway_id" property="insGatewayId" jdbcType="DECIMAL"/>
        <result column="instance_id" property="instanceId" jdbcType="DECIMAL"/>
        <result column="gateway_id" property="gatewayId" jdbcType="DECIMAL"/>
        <result column="result" property="result" jdbcType="VARCHAR"/>
        <result column="arrival_status" property="arrivalStatus" jdbcType="VARCHAR"/>
        <result column="arrival_date" property="arrivalDate" jdbcType="DATE"/>
        <result column="departure_date" property="departureDate" jdbcType="DATE"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="gateway_type" property="gatewayType" jdbcType="VARCHAR"/>
        <result column="to_flow_count" property="toFlowCount" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectInsGatewayById" resultType="com.hand.hec.wfl.dto.WflInsGateway" resultMap="BaseResultMap">
        SELECT
            ins_gateway_id,
            instance_id,
            gateway_id,
            RESULT,
            arrival_status,
            arrival_date,
            departure_date,
            CREATION_DATE,
            CREATED_BY,
            last_updated_by,
            last_update_date,
            (select count(1) from wfl_ins_flow wif where wif.from_element_type = 'GATEWAY' and wif.from_element_id = wig.ins_gateway_id) as to_flow_count,
            (select wg.gateway_type from wfl_gateway wg where wg.gateway_id = wig.gateway_id) as gateway_type
        FROM wfl_ins_gateway wig
        where wig.ins_gateway_id = #{insGatewayId}
  </select>
</mapper>