<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflInstanceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflInstance">
        <result column="instance_id" property="instanceId" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="doc_category" property="docCategory" jdbcType="VARCHAR"/>
        <result column="doc_id" property="docId" jdbcType="DECIMAL"/>
        <result column="start_date" property="startDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="instance_desc" property="instanceDesc" jdbcType="VARCHAR"/>
        <result column="doc_amount" property="docAmount" jdbcType="VARCHAR"/>
        <result column="doc_number" property="docNumber" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getArrivedElement" resultType="java.util.Map">
    select 'FLOW' as element_type,
      wif.ins_flow_id as ins_element_id
    from wfl_ins_flow wif
    where wif.instance_id = #{instanceId}
      and wif.arrival_status = 'ARRIVED'
    union all

    select 'EVENT' as element_type,
      wie.ins_event_id as ins_element_id
    from wfl_ins_event wie
    where wie.instance_id = #{instanceId}
      and wie.arrival_status = 'ARRIVED'
    union all

    select 'TASK' as element_type,
      wit.ins_task_id as ins_element_id
    from wfl_ins_task wit
    where wit.instance_id = #{instanceId}
      and wit.arrival_status = 'ARRIVED'
    union all

    select 'GATEWAY' as element_type,
      wig.ins_gateway_id as ins_element_id
    from wfl_ins_gateway wig
    where wig.instance_id = #{instanceId}
      and wig.arrival_status = 'ARRIVED'
  </select>
    <select id="getAllElement" resultType="java.util.Map">
    select 'FLOW' as element_type,
        wif.ins_flow_id as ins_element_id,
        wif.arrival_status,
        wif.from_element_type,
        wif.from_element_id,
        wif.to_element_type,
        wif.to_element_id
    from wfl_ins_flow wif
    where wif.instance_id = #{instanceId}
    union all

    select 'EVENT' as element_type,
        wie.ins_event_id as ins_element_id,
        wie.arrival_status,
        '' as from_element_type,
        -1 as from_element_id,
        '' as to_element_type,
        -1 as to_element_id
    from wfl_ins_event wie
    where wie.instance_id = #{instanceId}
    union all

    select 'TASK' as element_type,
        wit.ins_task_id as ins_element_id,
        wit.arrival_status,
        '' as from_element_type,
        -1 as from_element_id,
        '' as to_element_type,
        -1 as to_element_id
    from wfl_ins_task wit
    where wit.instance_id = #{instanceId}
    union all

    select 'GATEWAY' as element_type,
        wig.ins_gateway_id as ins_element_id,
        wig.arrival_status,
        '' as from_element_type,
        -1 as from_element_id,
        '' as to_element_type,
        -1 as to_element_id
    from wfl_ins_gateway wig
    where wig.instance_id = #{instanceId}
  </select>
</mapper>