<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflInsTaskRecipientHtMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflInsTaskRecipientHt">
        <result column="ins_recipient_ht_id" property="insRecipientHtId" jdbcType="DECIMAL"/>
        <result column="instance_id" property="instanceId" jdbcType="DECIMAL"/>
        <result column="ins_task_id" property="insTaskId" jdbcType="DECIMAL"/>
        <result column="ins_hierarchy_id" property="insHierarchyId" jdbcType="DECIMAL"/>
        <result column="sequence" property="sequence" jdbcType="DECIMAL"/>
        <result column="approver_id" property="approverId" jdbcType="DECIMAL"/>
        <result column="commission_by" property="commissionBy" jdbcType="DECIMAL"/>
        <result column="commission_date" property="commissionDate" jdbcType="DATE"/>
        <result column="limited_date" property="limitedDate" jdbcType="DATE"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>