<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflPageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflPage">
        <result column="page_id" property="pageId" jdbcType="DECIMAL"/>
        <result column="page_code" property="pageCode" jdbcType="VARCHAR"/>
        <result column="page_name" property="pageName" jdbcType="VARCHAR"/>
        <result column="resource_id" property="resourceId" jdbcType="DECIMAL"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>