<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflProcedureMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflProcedure">
        <result column="procedure_id" property="procedureId" jdbcType="DECIMAL"/>
        <result column="procedure_code" property="procedureCode" jdbcType="VARCHAR"/>
        <result column="procedure_name" property="procedureName" jdbcType="VARCHAR"/>
        <result column="procedure_content" property="procedureContent" jdbcType="VARCHAR"/>
        <result column="procedure_type" property="procedureType" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="procedure_type_name" property="procedureTypeName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>