<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVerSubProcessTaskMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVerSubProcessTask">
        <result column="version_task_id" property="versionTaskId" jdbcType="DECIMAL"/>
        <result column="task_id" property="taskId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="task_auto_pass_flag" property="taskAutoPassFlag" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectVerSubProcessTask" resultMap="BaseResultMap">
      select * from
      wfl_ver_sub_process_task t
      where t.task_id = #{taskId}
      and t.version = #{version}
    </select>
</mapper>