<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVersionUserTaskMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVersionUserTask">
        <result column="version_task_id" property="versionTaskId" jdbcType="DECIMAL"/>
        <result column="task_id" property="taskId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="approve_type" property="approveType" jdbcType="VARCHAR"/>
        <result column="approve_type_param" property="approveTypeParam" jdbcType="VARCHAR"/>
        <result column="can_submitter_recheck" property="canSubmitterRecheck" jdbcType="VARCHAR"/>
        <result column="can_repeated_approve" property="canRepeatedApprove" jdbcType="VARCHAR"/>
        <result column="can_no_approver" property="canNoApprover" jdbcType="VARCHAR"/>
        <result column="can_add_approver" property="canAddApprover" jdbcType="VARCHAR"/>
        <result column="can_deliver" property="canDeliver" jdbcType="VARCHAR"/>
        <result column="can_add_notification" property="canAddNotification" jdbcType="VARCHAR"/>
        <result column="can_take_back" property="canTakeBack" jdbcType="VARCHAR"/>
        <result column="can_go_back" property="canGoBack" jdbcType="VARCHAR"/>
        <result column="time_limited_flag" property="timeLimitedFlag" jdbcType="VARCHAR"/>
        <result column="limited_hours" property="limitedHours" jdbcType="DECIMAL"/>
        <result column="overtime_notify_flag" property="overtimeNotifyFlag" jdbcType="VARCHAR"/>
        <result column="overtime_notify_scheduler_id" property="overtimeNotifySchedulerId" jdbcType="DECIMAL"/>
        <result column="overtime_notify_msg_tplt_id" property="overtimeNotifyMsgTpltId" jdbcType="DECIMAL"/>
        <result column="arrive_notify_flag" property="arriveNotifyFlag" jdbcType="VARCHAR"/>
        <result column="arrive_msg_tplt_id" property="arriveMsgTpltId" jdbcType="DECIMAL"/>
        <result column="post_notify_flag" property="postNotifyFlag" jdbcType="VARCHAR"/>
        <result column="post_msg_tplt_id" property="postMsgTpltId" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectVerUserTask" resultMap="BaseResultMap">
      select * from wfl_version_user_task t
      where t.task_id = #{taskId}
      and t.version = #{version}
    </select>
</mapper>