<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVerGtwBizRuleGroupMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVerGtwBizRuleGroup">
        <result column="version_group_id" property="versionGroupId" jdbcType="DECIMAL"/>
        <result column="group_id" property="groupId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="gateway_id" property="gatewayId" jdbcType="DECIMAL"/>
        <result column="sequence" property="sequence" jdbcType="DECIMAL"/>
        <result column="group_code" property="groupCode" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="flow_id" property="flowId" jdbcType="DECIMAL"/>
        <result column="adjust_type" property="adjustType" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <!--<collection property="gtwBizRuleDetailMap"/>-->
    </resultMap>
    <select id="selectVerGtwBizRuleGroup" resultMap="BaseResultMap">
      select * from wfl_ver_gtw_biz_rule_group g where g.gateway_id = #{gatewayId} and g.version = #{version}
    </select>
</mapper>