<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVersionTaskMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVersionTask">
        <result column="version_task_id" property="versionTaskId" jdbcType="DECIMAL"/>
        <result column="task_id" property="taskId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="task_code" property="taskCode" jdbcType="VARCHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="task_type" property="taskType" jdbcType="VARCHAR"/>
        <result column="process_page_id" property="processPageId" jdbcType="DECIMAL"/>
        <result column="view_page_id" property="viewPageId" jdbcType="DECIMAL"/>
        <result column="arrive_procedure_id" property="arriveProcedureId" jdbcType="DECIMAL"/>
        <result column="depart_procedure_id" property="departProcedureId" jdbcType="DECIMAL"/>
        <result column="receive_type" property="receiveType" jdbcType="VARCHAR"/>
        <result column="task_type_name" property="taskTypeName" jdbcType="VARCHAR"/>
        <result column="receive_type_name" property="receiveTypeName" jdbcType="VARCHAR"/>
        <!-- -->
        <!--<result property="userTask"/>
        <result property="subProcessTask"/>
        <collection property="receiverMap"/>-->
    </resultMap>
    <select id="selectVersionTask" resultMap="BaseResultMap">
      select
      w.version_task_id,
      w.task_id,
      w.version,
      w.process_id,
      w.task_code,
      case
        when t.task_name is not null THEN
          t.task_name
        ELSE
          w.task_name
      end task_name,
      w.task_type,
      w.process_page_id,
      w.view_page_id,
      w.arrive_procedure_id,
      w.depart_procedure_id,
      w.receive_type
      FROM
      wfl_version_task w
      left join wfl_version_task_tl t
      on w.version_task_id = t.version_task_id
      AND t.lang = #{request.locale}
    </select>
</mapper>