<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVerTaskRcvBizDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVerTaskRcvBizDetail">
        <result column="version_detail_id" property="versionDetailId" jdbcType="DECIMAL"/>
        <result column="detail_id" property="detailId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="receiver_id" property="receiverId" jdbcType="DECIMAL"/>
        <result column="business_rule_id" property="businessRuleId" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectVerTaskRcvBizDetail" resultMap="BaseResultMap">
      select * from wfl_ver_task_rcv_biz_detail d
      where d.receiver_id = #{receiverId}
      and d.version = #{version}
    </select>
</mapper>