<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVersionEventMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVersionEvent">
        <result column="version_event_id" property="versionEventId" jdbcType="DECIMAL"/>
        <result column="event_id" property="eventId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="event_code" property="eventCode" jdbcType="VARCHAR"/>
        <result column="event_name" property="eventName" jdbcType="VARCHAR"/>
        <result column="event_type" property="eventType" jdbcType="VARCHAR"/>
        <result column="event_type_name" property="eventTypeName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectVersionEvent" resultMap="BaseResultMap">
      select
      e.version_event_id,
      e.event_id,
      e.version,
      e.process_id,
      e.event_code,
      case
        when t.event_name is not null THEN
          t.event_name
        ELSE
          e.event_name
      end
      as event_name,
      e.event_type
      from
      wfl_version_event e
      left join wfl_version_event_tl t
      on e.version_event_id = t.version_event_id
      and t.lang = #{request.locale}
    </select>
</mapper>