<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVersionProcessMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVersionProcess">
        <result column="version_process_id" property="versionProcessId" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="process_code" property="processCode" jdbcType="VARCHAR"/>
        <result column="process_name" property="processName" jdbcType="VARCHAR"/>
        <result column="doc_category" property="docCategory" jdbcType="VARCHAR"/>
        <result column="sub_process_flag" property="subProcessFlag" jdbcType="VARCHAR"/>
        <result column="parent_process_id" property="parentProcessId" jdbcType="DECIMAL"/>
        <result column="parent_process_name" property="parentProcessName" jdbcType="VARCHAR"/>
        <result column="process_page_id" property="processPageId" jdbcType="DECIMAL"/>
        <result column="process_page_name" property="processPageName" jdbcType="VARCHAR"/>
        <result column="view_page_id" property="viewPageId" jdbcType="DECIMAL"/>
        <result column="view_page_Name" property="viewPageName" jdbcType="VARCHAR"/>
        <result column="start_procedure_id" property="startProcedureId" jdbcType="DECIMAL"/>
        <result column="start_procedure_name" property="startProcedureName" jdbcType="VARCHAR"/>
        <result column="end_procedure_id" property="endProcedureId" jdbcType="DECIMAL"/>
        <result column="end_procedure_name" property="endProcedureName" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <!--<collection property="eventMap"/>
        <collection property="flowMap"/>
        <collection property="gatewayMap"/>
        <collection property="taskMap"/>
        <collection property="elementMap"/>
        <collection property="gtwBizRuleGroupMap"/>
        <collection property="gtwBizRuleDetailMap"/>
        <collection property="userTaskMap"/>
        <collection property="subProcessTaskMap"/>
        <collection property="taskReceiverMap"/>
        <collection property="taskRcvBizDetailMap"/>-->
    </resultMap>
    <select id="selectVersionProcess" resultMap="BaseResultMap">
      select
      p.version_process_id,
      p.process_id,
      p.version,
      p.process_code,
      case
        when t.process_name is not null THEN
          t.process_name
        ELSE
          p.process_name
      end as process_name,
      p.doc_category,
      p.sub_process_flag,
      p.parent_process_id,
      p.process_page_id,
      p.view_page_id,
      p.start_procedure_id,
      p.end_procedure_id,
      p.enabled_flag
      from wfl_version_process p
      left join wfl_version_process_tl t
      on p.version_process_id = t.version_process_id
      and t.lang = #{request.locale}
      and (#{processId} is null or p.process_id = #{processId})
      and (#{version} is null or p.version = #{version})
    </select>
    <select id="getProcessCurrentVersion" resultType="java.lang.Long">
      select max(version) from wfl_version_process p where p.process_id = #{processId}
    </select>
</mapper>