<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVersionGatewayMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVersionGateway">
        <result column="version_gateway_id" property="versionGatewayId" jdbcType="DECIMAL"/>
        <result column="gateway_id" property="gatewayId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="gateway_code" property="gatewayCode" jdbcType="VARCHAR"/>
        <result column="gateway_name" property="gatewayName" jdbcType="VARCHAR"/>
        <result column="gateway_type" property="gatewayType" jdbcType="VARCHAR"/>
        <!--<collection property="gtwBizRuleGroupMap"/>-->
    </resultMap>
    <select id="selectVersionGateway" resultMap="BaseResultMap">
      select
      g.version_gateway_id,
      g.gateway_id,
      g.version,
      g.process_id,
      g.gateway_code,
      CASE
        when t.gateway_name is not NULL THEN
          t.gateway_name
        ELSE
          g.gateway_name
      end
      as gateway_name,
      g.gateway_type
      from wfl_version_gateway g
      left join wfl_version_gateway_tl t
      on g.version_gateway_id = t.version_gateway_id
      and t.lang = #{request.locale}
    </select>
</mapper>