<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.wfl.mapper.WflVersionFlowMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.wfl.dto.WflVersionFlow">
        <result column="version_flow_id" property="versionFlowId" jdbcType="DECIMAL"/>
        <result column="flow_id" property="flowId" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="process_id" property="processId" jdbcType="DECIMAL"/>
        <result column="flow_code" property="flowCode" jdbcType="VARCHAR"/>
        <result column="flow_name" property="flowName" jdbcType="VARCHAR"/>
        <result column="from_element_type" property="fromElementType" jdbcType="VARCHAR"/>
        <result column="from_element_id" property="fromElementId" jdbcType="DECIMAL"/>
        <result column="from_element_name" property="fromElementName" jdbcType="VARCHAR"/>
        <result column="to_element_type" property="toElementType" jdbcType="VARCHAR"/>
        <result column="to_element_id" property="toElementId" jdbcType="DECIMAL"/>
        <result column="to_element_name" property="toElementName" jdbcType="VARCHAR"/>
        <result column="flow_value" property="flowValue" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="selectVersionFlow" resultMap="BaseResultMap">
      select
      f.version_flow_id,
      f.flow_id,
      f.version,
      f.process_id,
      f.flow_code,
      f.flow_name,
      f.from_element_type,
      f.from_element_id,
      f.to_element_type,
      f.to_element_id,
      f.flow_value,
      f.sequence
      from
      wfl_version_flow f
      left join wfl_version_flow_tl t
      on f.version_flow_id = t.version_flow_id
      and t.lang = #{request.locale}
    </select>
</mapper>