<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndCountryCodeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndCountryCode">
        <result column="COUNTRY_CODE_ID" property="countryCodeId" jdbcType="DECIMAL" />
        <result column="COUNTRY_CODE" property="countryCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


    <select id="queryCountry" resultMap="BaseResultMap">
        SELECT
        f.COUNTRY_CODE_ID,
        f.COUNTRY_CODE,
        ft.DESCRIPTION,
        concat( f.country_code, '-', ft.description ) country_code_name
        FROM
        FND_COUNTRY_CODE f
        LEFT JOIN fnd_country_code_tl ft ON ( f.COUNTRY_CODE_ID = ft.COUNTRY_CODE_ID AND ft.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String} )
        <where>
            <if test="countryCode!=null and countryCode!=''">
                AND f.COUNTRY_CODE like concat('%',#{countryCode},'%')
            </if>
            <if test="description!=null and countryCode!=''">
                AND ft.DESCRIPTION like concat('%',#{description},'%')
            </if>
        </where>
        ORDER BY
        f.country_code
    </select>
</mapper>