<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndCodingRuleDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndCodingRuleDetail">
        <result column="CODING_RULE_LINE_ID" property="codingRuleLineId" jdbcType="DECIMAL" />
        <result column="CODING_RULE_ID" property="codingRuleId" jdbcType="DECIMAL" />
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL" />
        <result column="SEGMENT_TYPE" property="segmentType" jdbcType="VARCHAR" />
        <result column="SEGMENT_VALUE" property="segmentValue" jdbcType="VARCHAR" />
        <result column="DATE_FORMAT" property="dateFormat" jdbcType="VARCHAR" />
        <result column="LENGTH" property="length" jdbcType="DECIMAL" />
        <result column="INCREMENTAL" property="incremental" jdbcType="DECIMAL" />
        <result column="START_VALUE" property="startValue" jdbcType="DECIMAL" />
        <result column="DISPLAY_FLAG" property="displayFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryBySequence" resultMap="BaseResultMap">
        select
          fd.CODING_RULE_LINE_ID,
          fd.CODING_RULE_ID,
          fd.SEQUENCE,
          fd.SEGMENT_TYPE,
          fd.SEGMENT_VALUE,
          fd.DATE_FORMAT,
          fd.LENGTH,
          fd.INCREMENTAL,
          fd.START_VALUE,
          fd.DISPLAY_FLAG
        from
            fnd_coding_rule_detail fd
        where fd.CODING_RULE_ID = #{codingRuleId}
        order by sequence
    </select>
</mapper>