<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndCodingRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndCodingRule">
        <result column="CODING_RULE_OBJECT_ID" property="codingRuleObjectId" jdbcType="DECIMAL" />
        <result column="CODING_RULE_ID" property="codingRuleId" jdbcType="DECIMAL" />
        <result column="CODING_RULE_CODE" property="codingRuleCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="NOTE" property="note" jdbcType="VARCHAR" />
        <result column="RESET_FREQUENCE" property="resetFrequence" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryByCodingRuleObjectId" resultMap="BaseResultMap">
    select
		fcr.CODING_RULE_ID,
		fcr.CODING_RULE_OBJECT_ID,
		fcr.CODING_RULE_CODE,
		fcrt.DESCRIPTION,
		fcr.NOTE,
		fcr.ENABLED_FLAG,
		fcr.RESET_FREQUENCE
    from
        fnd_coding_rule fcr
    left join fnd_coding_rule_tl fcrt
    on(fcr.coding_rule_id = fcrt.coding_rule_id and fcrt.lang =#{request.locale,jdbcType=VARCHAR})
    where
        fcr.CODING_RULE_OBJECT_ID = #{codingRuleObjectId}
    order by
        coding_rule_code
    </select>
</mapper>