<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndDimValueHierarchyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndDimValueHierarchy">
        <result column="HIERARCHY_ID" property="hierarchyId" jdbcType="DECIMAL" />
        <result column="PARENT_DIM_VALUE_ID" property="parentDimValueId" jdbcType="DECIMAL" />
        <result column="DIMENSION_VALUE_ID" property="dimensionValueId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>