<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndMoClassMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndMoClass">
        <result column="CLASS_ID" property="classId" jdbcType="DECIMAL"/>
        <result column="MO_CLASS_SET_ID" property="moClassSetId" jdbcType="DECIMAL"/>
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL"/>
        <result column="CLASS_CODE" property="classCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="CLASS_LEVEL" property="classLevel" jdbcType="VARCHAR"/>
        <result column="PARENT_CLASS_ID" property="parentClassId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
		<result column="CODE_NAME" property="codeName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
		SELECT
			mc.mo_class_set_id,
			mc.mag_org_id,
			mc.class_id,
			mc.class_code,
			mct.description,
			concat( mc.CLASS_CODE, '-', mct.DESCRIPTION ) AS code_name,
			mc.class_level,
			mc.parent_class_id,
			mc.enabled_flag
		FROM
			fnd_mo_class mc
			LEFT JOIN fnd_mo_class_tl mct ON ( mc.CLASS_ID = mct.CLASS_ID AND mct.LANG = #{request.locale,javaType=java.lang.String} )
		where mc.mo_class_set_id = #{moClassSetId}
			<if test="parentClassId != null" >
				AND mc.parent_class_id = #{parentClassId}
			</if>
        <if test="classLevel != null and classLevel != '' ">
            AND mc.class_level = #{classLevel}
        </if>
    </select>

</mapper>