<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndMoClassSetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndMoClassSet">
        <result column="MO_CLASS_SET_ID" property="moClassSetId" jdbcType="DECIMAL"/>
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL"/>
        <result column="CLASS_SET_CODE" property="classSetCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="LEVEL_DEPTH" property="levelDepth" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="code_name" property="codeName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="baseSelect" resultMap="BaseResultMap">
        SELECT
            cs.mo_class_set_id,
            cs.class_set_code,
            cs.mag_org_id,
            cst.description,
            CONCAT( cs.class_set_code, '-', cst.DESCRIPTION ) AS code_name,
            cs.level_depth,
            cs.enabled_flag
        FROM
            fnd_mo_class_set cs
        LEFT JOIN fnd_mo_class_set_tl cst
        ON ( cs.MO_CLASS_SET_ID = cst.MO_CLASS_SET_ID AND cst.lang = #{request.locale,javaType=java.lang.String} )
        WHERE
            mag_org_id = #{magOrgId}
        <if test="classSetCode !=null and classSetCode!=''">
            AND cs.class_set_code like concat('%',#{classSetCode},'%')
        </if>
        <if test="description !=null and description!='' ">
            AND cst.description like concat('%',#{description},'%')
        </if>
    </select>

</mapper>