<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndMagOrgRefGldSobMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndMagOrgRefGldSob">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL" />
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryDefaultSobIdByCompanyId" resultType="java.lang.Long">
        select
            rgs.SET_OF_BOOKS_ID
        from  fnd_company_b  fcb
                  inner join fnd_mag_org_ref_gld_sob rgs on fcb.mag_org_id = rgs.MAG_ORG_ID
                and rgs.ENABLED_FLAG = 'Y'
                and rgs.DEFAULT_FLAG = 'Y'
                and COMPANY_ID =#{companyId}

    </select>


</mapper>