<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndUnitDimValueAssignMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndUnitDimValueAssign">
        <result column="ASSIGN_ID" property="assignId" jdbcType="DECIMAL"/>
        <result column="DIM_ASSIGN_ID" property="dimAssignId" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="DIMENSION_ID" property="dimensionId" jdbcType="DECIMAL"/>
        <result column="DIMENSION_VALUE_ID" property="dimensionValueId" jdbcType="DECIMAL"/>
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR"/>
        <result column="DIMENSION_VALUE_CODE" property="dimensionValueCode" jdbcType="VARCHAR"/>
        <result column="DIMENSION_VALUE_DESC" property="dimensionValueDesc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryByDimAssignId" parameterType="com.hand.hec.fnd.dto.FndUnitDimValueAssign" resultMap="BaseResultMap">
        select fud.assign_id,
           fud.dim_assign_id,
           fud.unit_id,
           eou.unit_code,
           eout.description           unit_desc,
           fud.dimension_id,
           fdv.dimension_sequence,
           fdv.dimension_code,
           fdt.description           dimension_desc,
           fud.dimension_value_id,
           fdvv.dimension_value_code,
           fdvt.description          dimension_value_desc,
           fud.default_flag
      from fnd_unit_dim_value_assign fud
                left outer join exp_org_unit    eou on (eou.unit_id = fud.unit_id)
                left outer join exp_org_unit_tl eout on (eou.UNIT_ID = eout.UNIT_ID and eout.LANG = 'zh_CN')
          left outer join  fnd_dimension_value   fdvv on (fdvv.dimension_value_id = fud.dimension_value_id)
                left outer join fnd_dimension_value_tl fdvt on (fdvv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID and fdvt.LANG = 'zh_CN')
          left outer join  fnd_dimension     fdv on (fud.dimension_id = fdv.dimension_id)
                left outer join fnd_dimension_tl fdt on (fdv.DIMENSION_ID = fdt.DIMENSION_ID and fdt.LANG = 'zh_CN')
      where fud.dim_assign_id = #{dimAssignId}
    </select>


</mapper>