<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndUomAsgnComMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndUomAsgnCom">
        <result column="ASSIGN_COM_ID" property="assignComId" jdbcType="DECIMAL" />
        <result column="ASSIGN_MO_ID" property="assignMoId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectByMagOrgId" resultMap="BaseResultMap">
         SELECT
            fc.company_code,
            fct.company_short_name as  company_name,
            fc.mag_org_id,
            ac.assign_com_id,
            ac.assign_mo_id,
            ac.company_id,
            ac.enabled_flag
        FROM
            fnd_uom_asgn_com ac,
            fnd_company fc
            left join fnd_company_tl fct
            on (fc.company_id = fct.company_id and fct.lang =#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String} )
        WHERE
            ac.company_id = fc.company_id
        <if test="dto.assignMoId !=null">
            and ac.ASSIGN_MO_ID = #{dto.assignMoId}
        </if>
        <if test="magOrgId != null">
            and fc.mag_org_id = #{magOrgId}
        </if>
    </select>
</mapper>