<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndUomAsgnMoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndUomAsgnMo">
        <result column="ASSIGN_MO_ID" property="assignMoId" jdbcType="DECIMAL" />
        <result column="UOM_ID" property="uomId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="MAG_ORG_NAME" property="magOrgName" jdbcType="VARCHAR"/>
        <result column="MAG_ORG_CODE" property="magOrgCode" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="select" resultMap="BaseResultMap">
        select
              fuam.assign_mo_id,
              fuam.uom_id,
              fuam.MAG_ORG_ID,
              fuam.ENABLED_FLAG,
              fmo.mag_org_code,
              fmot.description as mag_org_name
        from  fnd_uom_asgn_mo fuam,
              fnd_managing_organization fmo
          left join fnd_managing_organization_tl  fmot
          on (fmo.mag_org_id = fmot.mag_org_id and fmot.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
          where fuam.mag_org_id = fmo.mag_org_id
        <if test="uomId!=null and uomId!=''">
            and fuam.uom_id = #{uomId}
        </if>
    </select>

    <select id="checkExists" resultMap="BaseResultMap">
        select
              fuam.assign_mo_id,
              fuam.uom_id,
              fuam.MAG_ORG_ID,
              fuam.ENABLED_FLAG,
              fmo.mag_org_code,
              fmot.description as mag_org_name
        from  fnd_uom_asgn_mo fuam,
              fnd_managing_organization fmo
          left join fnd_managing_organization_tl  fmot
          on (fmo.mag_org_id = fmot.mag_org_id and fmot.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
        where fuam.mag_org_id = fmo.mag_org_id
        <if test="magOrgId!=null and magOrgId!=''">
          and fuam.mag_org_id = #{magOrgId}
        </if>
        <if test="uomId!=null and uomId!=''">
            and fuam.uom_id = #{uomId}
        </if>
    </select>
</mapper>