<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.FndUomTypeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.FndUomType">
        <result column="UOM_TYPE_ID" property="uomTypeId" jdbcType="DECIMAL"/>
        <result column="UOM_TYPE_CODE" property="uomTypeCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="META_UOM_ID" property="metaUomId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>