<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.GldAccountHierarchyDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.GldAccountHierarchyDetail">
        <result column="ACCOUNT_SET_ID" property="accountSetId" jdbcType="DECIMAL"/>
        <result column="PARENT_ACCOUNT_ID" property="parentAccountId" jdbcType="DECIMAL"/>
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL"/>
        <result column="HIERARCHY_DETAIL_ID" property="hierarchyDetailId" jdbcType="DECIMAL"/>
    </resultMap>

    <update id="deleteByAccountSetId" parameterType="java.lang.Long">
        delete from gld_account_hierarchy_detail
        where ACCOUNT_SET_ID = #{accountSetId}
    </update>


</mapper>