<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.GldAccountSetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.GldAccountSet">
        <result column="ACCOUNT_SET_ID" property="accountSetId" jdbcType="DECIMAL"/>
        <result column="ACCOUNT_SET_CODE" property="accountSetCode" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_SET_NAME" property="accountSetName" jdbcType="VARCHAR"/>
        <result column="COA_STRUCTURE_ID" property="coaStructureId" jdbcType="DECIMAL"/>
        <result column="COA_STRUCTURE_CODE" property="coaStructureCode" jdbcType="VARCHAR"/>
        <result column="COA_DESCRIPTION" property="coaDescription" jdbcType="VARCHAR"/>
        <result column="COA_STRUCTURE_FORMAT" property="coaStructureFormat" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getInitAccountSet" resultMap="BaseResultMap">
        select g.account_set_id,
			   g.account_set_code,
			   gt.account_set_name,
			   g.coa_structure_id
		  from gld_account_set g
		  LEFT JOIN gld_account_set_tl gt ON g.ACCOUNT_SET_ID = gt.ACCOUNT_SET_ID LIMIT 0,1
    </select>

</mapper>