<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.GldPeriodSetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.GldPeriodSet">
        <result column="PERIOD_SET_ID" property="periodSetId" jdbcType="BIGINT"/>
        <result column="PERIOD_SET_CODE" property="periodSetCode" jdbcType="VARCHAR"/>
        <result column="PERIOD_SET_NAME" property="periodSetName" jdbcType="VARCHAR"/>
        <result column="TOTAL_PERIOD_NUM" property="totalPeriodNum" jdbcType="BIGINT"/>
        <result column="PERIOD_ADDITIONAL_FLAG" property="periodAdditionalFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="totalPeriodNumQuery" resultType="java.lang.Long">
        select total_period_num from gld_period_set where period_set_id = #{periodSetId}
    </select>

    <select id="periodAdditionalFlagQuery" resultType="java.lang.String">
        select period_additional_flag from gld_period_set where period_set_id = #{periodSetId}
    </select>


    <select id="queryByPeriodSetCode" resultType="com.hand.hec.fnd.dto.GldPeriodSet">
        select gps.period_set_id
        from gld_period_set gps
        where gps.period_set_code = #{periodSetCode};

    </select>

</mapper>