<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.GldPeriodRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.GldPeriodRule">
        <result column="PERIOD_RULE_ID" property="periodRuleId" jdbcType="BIGINT"/>
        <result column="PERIOD_SET_ID" property="periodSetId" jdbcType="BIGINT"/>
        <result column="PERIOD_ADDITIONAL_NAME" property="periodAdditionalName" jdbcType="VARCHAR"/>
        <result column="PERIOD_NUM" property="periodNum" jdbcType="BIGINT"/>
        <result column="MONTH_FROM" property="monthFrom" jdbcType="BIGINT"/>
        <result column="MONTH_TO" property="monthTo" jdbcType="BIGINT"/>
        <result column="DATE_FROM" property="dateFrom" jdbcType="BIGINT"/>
        <result column="DATE_TO" property="dateTo" jdbcType="BIGINT"/>
        <result column="QUARTER_NUM" property="quarterNum" jdbcType="BIGINT"/>
        <result column="ADJUSTMENT_FLAG" property="adjustmentFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="periodAdditionalNameQuery" resultType="java.lang.Long">
        select count(period_additional_name)
          from gld_period_rule
          where PERIOD_SET_ID = #{periodSetId}
          and PERIOD_ADDITIONAL_NAME = #{periodAdditionalName}
    </select>

</mapper>