<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.OrdCustomerTaxRefAeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.OrdCustomerTaxRefAe">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="TAX_ID" property="taxId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>