<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.fnd.mapper.OrdCustomerAccountRefAeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.fnd.dto.OrdCustomerAccountRefAe">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="PRIMARY_FLAG" property="primaryFlag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="checkPrimaryOnly" resultType="int" parameterType="java.lang.Long">
        SELECT
        count( * )
        FROM
        ord_customer_account_ref_ae a
        WHERE
        a.primary_flag = 'Y'
        AND a.acc_entity_id = #{accEntityId}
        AND EXISTS ( SELECT 1 FROM ord_customer_account p WHERE p.account_id = a.account_id AND p.account_id <![CDATA[ <> ]]> #{accountId} AND p.customer_id = #{customerId} )
    </select>

    <update id="updateByAccEntity" parameterType="com.hand.hec.fnd.dto.OrdCustomerAccountRefAe">
      update ord_customer_account_ref_ae ocra
       set ocra.primary_flag     = #{primaryFlag},
           ocra.enabled_flag     = #{enabledFlag}
     where ocra.account_id = #{accountId}
           and ocra.acc_entity_id = #{accEntityId}
    </update>


</mapper>