<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.sys.mapper.SysStandardTimezoneMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.sys.dto.SysStandardTimezone">
        <result column="STANDARD_TIMEZONE_ID" property="standardTimezoneId" jdbcType="DECIMAL"/>
        <result column="STANDARD_TIMEZONE_CODE" property="standardTimezoneCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryDefaultTimezoneByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select s.STANDARD_TIMEZONE_ID,s.STANDARD_TIMEZONE_CODE,st.DESCRIPTION from sys_standard_timezone s left join sys_standard_timezone_tl st on (s.STANDARD_TIMEZONE_ID = st.STANDARD_TIMEZONE_ID and st.lang=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})  where STANDARD_TIMEZONE_CODE = #{code}
    </select>


</mapper>

