<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.aurora.attachment.mapper.FndAtmAttachmentRefRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.aurora.attachment.dto.FndAtmAttachmentRefRecord">
        <result column="record_id" property="recordId" jdbcType="DECIMAL" />
        <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="DECIMAL" />
        <result column="table_name" property="tableName" jdbcType="VARCHAR" />
        <result column="table_pk_value" property="tablePkValue" jdbcType="DECIMAL" />
    </resultMap>


</mapper>