<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.mod.mapper.ModEntityMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.mod.dto.ModEntity">
        <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL"/>
        <result column="MODEL_ID" property="modelId" jdbcType="DECIMAL"/>
        <result column="PARENT_ENTITY_ID" property="parentEntityId" jdbcType="DECIMAL"/>
        <result column="RELATION_TYPE" property="relationType" jdbcType="VARCHAR"/>
        <result column="ENTITY_CODE" property="entityCode" jdbcType="VARCHAR"/>
        <result column="ENTITY_NAME" property="entityName" jdbcType="VARCHAR"/>
        <result column="REF_TABLE" property="refTable" jdbcType="VARCHAR"/>
        <result column="REF_DTO" property="refDto" jdbcType="VARCHAR"/>
        <result column="MULTI_LANGUAGE_FLAG" property="multiLanguageFlag" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>