<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.mod.mapper.ModEntityRelationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.mod.dto.ModEntityRelation">
        <result column="RELATION_ID" property="relationId" jdbcType="DECIMAL"/>
        <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL"/>
        <result column="TARGET_ENTITY_ID" property="targetEntityId" jdbcType="DECIMAL"/>
        <result column="SOURCE_FIELD_ID" property="sourceFieldId" jdbcType="DECIMAL"/>
        <result column="TARGET_FIELD_ID" property="targetFieldId" jdbcType="DECIMAL"/>
        <result column="CONDITION_TYPE" property="conditionType" jdbcType="VARCHAR"/>
        <result column="CONDITION_VALUE" property="conditionValue" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>