<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.mod.mapper.ModFieldMasterDataMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.mod.dto.ModFieldMasterData">
        <result column="FIELD_ID" property="fieldId" jdbcType="DECIMAL" />
        <result column="TARGET_ENTITY_ID" property="targetEntityId" jdbcType="DECIMAL" />
        <result column="TARGET_FIELD_ID" property="targetFieldId" jdbcType="DECIMAL" />
        <result column="SOURCE_FIELD_2_ID" property="sourceField2Id" jdbcType="DECIMAL" />
        <result column="TARGET_FIELD_2_ID" property="targetField2Id" jdbcType="DECIMAL" />
        <result column="SOURCE_FIELD_3_ID" property="sourceField3Id" jdbcType="DECIMAL" />
        <result column="TARGET_FIELD_3_ID" property="targetField3Id" jdbcType="DECIMAL" />
        <result column="TARGET_VALUE_FIELD_ID" property="targetValueFieldId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>