<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.mod.mapper.ModFieldLovMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.mod.dto.ModFieldLov">
        <result column="FIELD_ID" property="fieldId" jdbcType="DECIMAL" />
        <result column="LOV_CODE" property="lovCode" jdbcType="VARCHAR" />
        <result column="LOV_FIELD_NAME" property="lovFieldName" jdbcType="VARCHAR" />
        <result column="LOV_PARAM_NAME" property="lovParamName" jdbcType="VARCHAR" />
        <result column="LOV_PARAM_DATA_TYPE" property="lovParamDataType" jdbcType="VARCHAR" />
    </resultMap>


</mapper>