<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.mod.mapper.ModFieldGroupChildMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.mod.dto.ModFieldGroupChild">
        <result column="FIELD_ID" property="fieldId" jdbcType="DECIMAL" />
        <result column="CHILD_ENTITY_ID" property="childEntityId" jdbcType="DECIMAL" />
        <result column="CHILD_FIELD_ID" property="childFieldId" jdbcType="DECIMAL" />
        <result column="GROUP_FUNCTION" property="groupFunction" jdbcType="VARCHAR" />
        <result column="FORMULA" property="formula" jdbcType="VARCHAR" />
    </resultMap>


</mapper>