<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.cont.mapper.ConContractHeaderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.cont.dto.ConContractHeader">
        <result column="CONTRACT_HEADER_ID" property="contractHeaderId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_TYPE_ID" property="contractTypeId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="REQUISITION_DATE" property="requisitionDate" jdbcType="DATE"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL"/>
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL"/>
        <result column="PARTNER_CATEGORY" property="partnerCategory" jdbcType="VARCHAR"/>
        <result column="PARTNER_ID" property="partnerId" jdbcType="DECIMAL"/>
        <result column="DOCUMENT_NUMBER" property="documentNumber" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_DESC" property="documentDesc" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="DATE"/>
        <result column="END_DATE" property="endDate" jdbcType="DATE"/>
        <result column="SIGN_DATE" property="signDate" jdbcType="DATE"/>
        <result column="SIGN_PLACE" property="signPlace" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL"/>
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL"/>
        <result column="RESP_EMPLOYEE_ID" property="respEmployeeId" jdbcType="DECIMAL"/>
        <result column="RESP_UNIT_ID" property="respUnitId" jdbcType="DECIMAL"/>
        <result column="APPLY_UNIT_ID" property="applyUnitId" jdbcType="DECIMAL"/>
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_TYPE" property="exchangeType" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL"/>
        <result column="FUNCTION_AMOUNT" property="functionAmount" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR"/>
        <result column="SOURCE_CONTRACT_HEADER_ID" property="sourceContractHeaderId" jdbcType="DECIMAL"/>
        <result column="PRICE_AGREEMENT_FLAG" property="priceAgreementFlag" jdbcType="VARCHAR"/>
        <result column="MORE_PAYMENT_ENTITY_FLAG" property="morePaymentEntityFlag" jdbcType="VARCHAR"/>
        <result column="CONTRACT_FORM" property="contractForm" jdbcType="VARCHAR"/>
        <result column="FORMAT_FLAG" property="formatFlag" jdbcType="VARCHAR"/>
        <result column="FORMAT_TYPE" property="formatType" jdbcType="VARCHAR"/>
        <result column="TENDER_METHOD" property="tenderMethod" jdbcType="VARCHAR"/>
        <result column="FREE_TENDER_NUMBER" property="freeTenderNumber" jdbcType="VARCHAR"/>
        <result column="ARCHIVE_STATUS" property="archiveStatus" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="PUR_ORG_ID" property="purOrgId" jdbcType="DECIMAL"/>
        <result column="MO_PUR_GROUP_ID" property="moPurGroupId" jdbcType="DECIMAL"/>
        <result column="BUYER_ID" property="buyerId" jdbcType="DECIMAL"/>
        <result column="VERSION_NUMBER" property="versionNumber" jdbcType="VARCHAR"/>
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- Modify Tagin/2019.04.03 根据现金事务获取合同头信息[币种筛选条件] -->
    <select id="queryContractHeaderByTrx" resultMap="BaseResultMap">
        select
        cch.*
        from
        con_contract_header cch,
        con_payment_schedule cps
        where
        cch.contract_header_id = cps.contract_header_id
        and exists (
        select 1
        from
        csh_transaction_line ctl,
        con_cash_trx_pmt_schedule_ln ccsl
        where
        ctl.currency_code = cch.currency_code
        and ctl.transaction_line_id = #{transactionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
        and ctl.transaction_line_id = ccsl.csh_transaction_line_id
        and ccsl.payment_schedule_line_id = cps.payment_schedule_line_id)
    </select>
</mapper>