<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.cont.mapper.ConPaymentScheduleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.cont.dto.ConPaymentSchedule">
        <result column="CONTRACT_HEADER_ID" property="contractHeaderId" jdbcType="DECIMAL" />
        <result column="PAYMENT_SCHEDULE_LINE_ID" property="paymentScheduleLineId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="EXPENSE_TYPE_ID" property="expenseTypeId" jdbcType="DECIMAL" />
        <result column="REQ_ITEM_ID" property="reqItemId" jdbcType="DECIMAL" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="PAYMENT_TERM_ID" property="paymentTermId" jdbcType="DECIMAL" />
        <result column="PARTNER_CATEGORY" property="partnerCategory" jdbcType="VARCHAR" />
        <result column="PARTNER_ID" property="partnerId" jdbcType="DECIMAL" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
        <result column="ACTUAL_DATE" property="actualDate" jdbcType="DATE" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="PAYMENT_CURRENCY_CODE" property="paymentCurrencyCode" jdbcType="VARCHAR" />
        <result column="REQ2PAY_EXCHANGE_TYPE" property="req2payExchangeType" jdbcType="VARCHAR" />
        <result column="REQ2PAY_EXCHANGE_RATE" property="req2payExchangeRate" jdbcType="DECIMAL" />
        <result column="LANDMARK_PHASE" property="landmarkPhase" jdbcType="VARCHAR" />
        <result column="ACCEPTED_FLAG" property="acceptedFlag" jdbcType="VARCHAR" />
        <result column="PAYMENT_NODE_FLAG" property="paymentNodeFlag" jdbcType="VARCHAR" />
        <result column="PAYMENT_TERM" property="paymentTerm" jdbcType="VARCHAR" />
        <result column="PAYMENT_NODE_TYPE" property="paymentNodeType" jdbcType="VARCHAR" />
        <result column="PAYMENT_RATIO" property="paymentRatio" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
    </resultMap>


</mapper>