body {
	font-size: 12px;
}

A {
	COLOR: #678098;
	TEXT-DECORATION: none
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: inherit !important;
}

#mainTab .k-tabstrip-items li {
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: auto !important;
	min-width: 70px;
	text-align: center;
}

#mainTab .k-tabstrip-items li span.k-link {
	background: 0 0 !important;
	border: 0;
	margin: 0;
	color: #678098;
	display: block;
	padding: 10px 20px;
}

#mainTab .k-tabstrip-items li:hover {
	background-color: #f2f6f9;
	border-top: 3px solid #f2f6f9 !important;
}

#mainTab .k-tabstrip-items li:hover span.k-link {
	color: #5b9bd1;
}

#mainTab .k-tabstrip-items li.k-state-active {
	background: 0 0;
	margin: 0;
	position: relative;
	background-color: #e9ecf3;
	cursor: default;
	border-top: 3px solid #5C9ACF !important;
	border-bottom-color: transparent;
	height: auto !important;
}

#mainTab .k-tabstrip-items li.k-state-active span.k-link {
	color: #5b9bd1;
	display: block;
	padding: 10px 20px;
}

#mainTab .k-tabstrip-items {
	width: 100%;
	/*  border-bottom: 1px solid #ddd;*/
	margin: 0px !important;
	background-color: #fff;
	list-style-type: none;
	position: relative;
	/* vertical-align: top;*/
	white-space: nowrap;
	padding: 0px;
	overflow: hidden;
}

#tabstrip-parent, #tabstrip {
	height: 100%;
	margin: 0;
	padding: 0;
	border-width: 0;
}

#mainTab>.k-content {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#mainTab .k-tabstrip-items .k-state-default.k-state-hover .k-i-close {
	visibility: visible;
}

#mainTab .k-tabstrip-prev, #mainTab .k-tabstrip-next {
	top: 2px;
	background-color: #fff !important;
	display: inline-block !important;
}

#mainTab .k-i-arrow-w:hover, .k-i-arrow-e:hover {
	color: #36c6d3;
}

#mainTab .k-i-arrow-w {
	position: absolute;
	background-color: #fff;
	text-align: center;
}

#mainTab .k-i-arrow-e {
	position: absolute;
	background-color: #fff;
	text-align: center;
}

.k-tabstrip-wrapper .k-content iframe {
	height: 100%;
	width: 100%;
	padding: 0px;
}

.page-content {
	position: relative;
}

.tabstrip-context-menu {
	list-style-type: none;
	padding: 5px 15px;
	font-size: 14px !important;
	background: #fff;
	padding: 7px 0px;
	font-size: 12px !important;
	cursor: pointer;
	border: 1px solid #efefef;
	background-color: #fff;
}

.tabstrip-context-menu .k-item {
	height: 22px;
	line-height: 22px;
}

.tabstrip-context-menu .k-item:hover {
	background-color: #f2f6f9;
}

.tabstrip-context-menu .k-item .k-link {
	padding: 0px 42px 0px 25px;
}

.page-content-main {
	background: 0 0;
}

.title.point::before {
	content: " ";
	border: 3px solid red; /*���ú�ɫ*/
	border-radius: 3px; /*����Բ��*/
	position: absolute;
	z-index: 1000;
	right: 0%;
	margin-right: -5px;
	margin-top: -5px;
}

.close {
	display: inline-block;
	margin-top: 0px;
	margin-right: 0px;
	width: 9px;
	height: 9px;
	background-repeat: no-repeat;
	text-indent: -10000px;
	outline: none;
	background-image: url(../../images/hap/remove-icon-small.png) !important;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: .2;
}

#page {
	width: 100%;
	height: 100%;
	font-family: Helvetica neue, Helvetica, "PingFang SC", Arial,
		"Microsoft YaHei";
	font-size: 14px;
}

#page-topbar {
	width: 100%;
	height: 70px;
	color: #fff;
	background-color: #273555;
}

.page-top-user-role {
	float: right;
	height: 44px;
	margin-top: 16px;
}

#page-body {
	z-index: 1;
	width: 100%;
	background-color: #f5f5f5;
}

#page-sidebar {
	display: block;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	line-height: 30px;
	text-align: center;
	color: #333;
	float: left;
}

#page-sidebar li {
	cursor: pointer;
}

.page-side-toggle-on {
	width: 100%;
	height: 30px;
	transition: all 0.1s 0s;
}

.page-side-toggle-off {
	width: 50px;
	height: 30px;
	transition: all 0.1s 0s;
}

#page-content {
	z-index: 2;
	overflow: hidden;
	overflow-y: auto;
	background-color: #fff;
}

.page-side-toggle-on+#page-content {
	left: 180px;
	transition: all 0.1s 0s;
}

.page-side-toggle-off+#page-content {
	left: 50px;
	transition: all 0.1s 0s;
}

.topbar {
	text-align: center;
	line-height: 90px;
}

.topbar.topbar-logo {
	float: left;
	width: 240px;
	height: 70px;
	margin-left: 30px;
	margin-right: 30px;
}

.topbar.topbar-name {
	float: left;
	height: 46px;
	margin-left: 30px;
	padding-top: 24px;
}

.topbar.topbar-name h1 {
	font-size: 28px;
	line-height: 22px;
}

.topbar.topbar-account {
	float: right;
	height: 40px;
	color: #fff;
	cursor: pointer;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 20px;
}

.topbar.topbar-account #icon {
	float: left;
	height: 30px;
	width: 30px;
	background-image: url("../images/topbar/topbar.png");
	background-repeat: no-repeat;
	background-position: 0px 6px;
}

.topbar.topbar-account h2 {
	font-size: 14px;
	line-height: 30px;
	display: inline;
}

.topbar.topbar-logout {
	float: right;
	height: 40px;
	color: #fff;
	cursor: pointer;
	margin-right: 30px;
	margin-left: 30px;
	padding-top: 20px;
}

.topbar.topbar-logout #icon {
	float: left;
	height: 30px;
	width: 30px;
	background-image: url("../images/topbar/topbar.png");
	background-repeat: no-repeat;
	background-position: 0px -25px;
}

.topbar.topbar-logout a {
	color: #fff;
	font-size: 14px;
	line-height: 30px;
}

.topbar.topbar-user-role {
	float: right;
	width: 230px;
	height: 70px;
	text-align: right;
	cursor: pointer;
	margin-right: 30px;
	color: #000;
}

.topbar .topbar-user-role-current {
	margin-right: 10px;
}

.topbar .topbar-user-role-current:hover {
	text-decoration: underline;
}

.topbar .topbar-user-role-menu {
	left: unset;
	right: 0px;
	max-height: 300px;
	overflow: auto;
	font-size: 12px;
}

.sidebar-toggle {
	position: relative;
	width: 100%;
	height: 54px;
	line-height: 54px;
	font-size: 14px;
}

.sidebar-toggle-icon {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 50px;
	height: 32px;
	padding-top: 22px;
	text-align: center;
	cursor: pointer;
}

.sidebar-toggle-search-area {
	width: 150px;
	text-align: center;
	color: #000;
	font-size: 12px;
	margin: 0 auto;
}

.sidebar-toggle-search input {
	width: 125px;
	height: 30px;
	margin-top: 10px;
	color: #000;
	font-size: 12px;
}

.sidebar-toggle-search-area .item-trigger-wrap {
	padding-left: 47px;
	padding-right: 0;
	border-radius: 15px;
}

.sidebar-toggle-search-area .item-trigger {
	left: 14px;
	border-left: 0;
}

.sidebar-toggle-search-area .item-lovButton {
	BACKGROUND: url(../../images/hap/function-search.png) no-repeat center;
}

.sidebar-toggle-search-icon {
	display: none;
}

.page-sidebar-closed .sidebar-toggle-search-area {
	display: none;
}

.page-sidebar-closed .sidebar-toggle-search-icon {
	display: block;
}

.sidebar-toggle-search-result {
	display: block;
	top: calc(100% + 5px);
	left: -45px;
	width: 170px;
	font-size: 12px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar-fun-float-area {
	position: fixed;
	display: none;
	top: 70px;
	right: 0;
	padding: 16px;
	min-height: 240px;
	overflow: hidden;
	z-index: 10;
	background-color: #fff;
	color: #333;;
	opacity: 0.9;
	filter: alpha(opacity = 90);
	-webkit-box-shadow: 0 4px 16px rgba(200, 200, 200, 1);
	-moz-box-shadow: 0 4px 16px rgba(200, 200, 200, 1);
	box-shadow: 0 4px 16px rgba(200, 200, 200, 1);
}

.mask-div {
	position: fixed;
	display: none;
	top: 70px;
	right: 0;
	height: 100%;
	z-index: 9;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	background-color: #aaa;
}

.page-side-toggle-on .mask-div {
	left: 160px;
	transition: all 0.1s 0s;
}

.page-sidebar-closed .mask-div {
	left: 70px;
	transition: all 0.1s 0s;
}

.fun-list-lv1 {
	overflow: hidden
}

.page-side-toggle-on .sidebar-fun-float-area {
	left: 160px;
	transition: all 0.1s 0s;
}

.page-sidebar-closed .sidebar-fun-float-area {
	left: 70px;
	transition: all 0.1s 0s;
}

.fun-list-lv1 {
	overflow: auto\9;
}

.sidebar-fun-area-lv2 {
	float: left;
	width: 200px;
	min-height: 62px;
	padding-right: 5px;
	overflow: auto\9;
}

.start {
	position: relative;
	width: 100%;
	height: 54px;
	text-align: left;
	line-height: 54px;
	transition: all 0.1s 0s;
}

.start i {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	padding-top: 20px;
	text-align: center;
}

.start .title {
	position: absolute;
	left: 50px;
	top: 0px;
	display: block;
	font-size: 14px;
	width: 97px;
	text-align: left;
}

.start:hover {
	background-color: #f2f6f9;
	color: #5b9bd1;
	transition: all 0.1s 0s;
}

.start:hover a {
	color: #5b9bd1;
}

.fun-item-lv1 {
	position: relative;
	width: 100%;
	height: 54px;
	text-align: left;
	line-height: 54px;
	transition: all 0.1s 0s;
}

.fun-item-lv1 a {
	width: 100%;
	height: 54px;
	display: table-cell;
	vertical-align: middle;
}

.fun-item-lv1:hover {
	background-color: #f3f7f9;
	color: #5b9bd1;
	transition: all 0.1s 0s;
}

.fun-item-lv1:hover a {
	color: #5b9bd1;
}

.fun-item-lv2 a .fun-name-lv2, .fun-item-lv3 a .fun-name-lv3 {
	color: #333;
}

.fun-item-lv3 a .fun-desc-lv3 {
	color: #888;
}

.fun-item-lv1-hover {
	/*background-color: #237ae1;
    color: #fff;*/
	background-color: #f2f6f9;
	color: #5b9bd1;
	border-left: #5b9bd1 3px solid;
	transition: all 0.1s 0s;
}

.fun-item-lv1-hover a {
	color: #5b9bd1;
	text-decoration: none;
}

.fun-item-lv2-hover a  .fun-name-lv2 {
	color: #fff;
	text-decoration: none;
}

.fun-item-lv3-hover a .fun-name-lv3 {
	color: #fff;
	text-decoration: none;
}

.fun-item-lv3-hover a .fun-desc-lv3 {
	color: #f1f1f1;
	text-decoration: none;
}

.fun-item-lv1-icon {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	/*  padding-top: 18px; */
	text-align: center;
}

.fun-item-lv1-name {
	display: block;
	position: absolute;
	left: 50px;
	top: 0px;
	display: block;
	font-size: 14px;
	/*     width: 97px; */
	text-align: left;
}

.fun-item-lv2 {
	text-align: left;
	padding-left: 12px;
	transition: all 0.1s 0s;
	line-height: 15px
}

.fun-item-lv2-hover {
	/*background-color: #237ae1;*/
	background-color: #4a4e5e;
	color: #fff;
	transition: all 0.1s 0s;
}

.sidebar-fun-area-lv3 {
	display: none;
	margin-left: 200px;
	min-height: 62px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}

.page-side-toggle-on .sidebar-fun-area-lv3 {
	left: 380px;
}

.page-side-toggle-off .sidebar-fun-area-lv3 {
	left: 250px;
}

.sidebar-fun-area-lv3:after {
	clear: both;
}

.fun-list-lv3 {
	display: block;
	float: left;
	width: 32%;
	text-align: left;
}

.fun-item-lv3 {
	/*  height: 36px; */
	/* padding: 5px; */
	/*transition: all 0.1s 0s;*/
	padding-left: 12px;
}

.fun-item-lv3-hover {
	/*background-color: #237ae1;*/
	background-color: #4a4e5e;
	color: #fff;
	/*transition: all 0.1s 0s;*/
}

.fun-name-lv3 {
	display: block;
	padding-bottom: 2px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 13px;
	overflow: hidden;
}

.fun-desc-lv3 {
	display: block;
	width: 100%;
	height: 26px;
	line-height: 14px;
	font-size: 12px;
	color: #999;
	overflow: hidden;
}

.fun-area-show {
	display: block;
}

.mask-div-show {
	display: block;
}

.item-tab .strip {
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	line-height: 40px;
	cursor: pointer;
	-moz-user-select: none;
	float: left;
	margin-bottom: -1px;
}

.item-tab .strip:hover {
	background: #eee;
}

.item-tab .tab {
	position: absolute;
	left: 0;
	top: 0;
	/*display:none;*/
	overflow: auto;
	outline: none;
	width: 100%;
	height: 100%;
}

.item-tab-strip {
	float: left;
	position: relative;
	/* top: 1px; */
	z-index: 1;
	background-color: #fff;
	border-bottom: none;
	margin: 0;
	padding-right: 15px;
	overflow: hidden;
}

.item-tab-strip-wrap{
	border-bottom: none;
}

.item-tab .strip:hover {
	background: #f2f6f9;
}

.item-tab .strip .strip-center:hover {
	color: #5b9bd1;
}

.item-tab .strip.active {
	border: none;
	border-top: #5C9ACF 3px solid;
	background: #e9ecf3;
	color: #5b9bd1;
	line-height: 34px;
	box-shadow: inherit;
}

.item-tab .active .strip-center {
	color: #5b9bd1;
	/* line-height: 29px;25px */
}

.icon-user:before {
	content: url(../../images/hap/icon-user.png);
}

.icon-key:before {
	content: url(../../images/hap/icon-key.png);
}

.fa-cogs:before {
	content: url(../../images/hap/fa-cogs.png);
}

/*
 Modify Tagin/2018.05.15 
 level 1 Function icon Setting Start
*/
.icon-home:before {
	content: url(../../images/hap/system_icon/icon-home.png);
}

.start:hover .icon-home:before {
	content: url(../../images/hap/system_icon/icon-home-hover.png);
}

.fun-item-lv1-hover .icon-home:before {
	content: url(../../images/hap/system_icon/icon-home-hover.png);
}

.system:before {
	content: url(../../images/hap/system_icon/system.png);
}

.fun-item-lv1:hover .system:before {
	content: url(../../images/hap/system_icon/system-hover.png);
}

.fun-item-lv1-hover .system:before {
	content: url(../../images/hap/system_icon/system-hover.png);
}

.organization:before {
	content: url(../../images/hap/system_icon/organization.png);
}

.fun-item-lv1:hover .organization:before {
	content: url(../../images/hap/system_icon/organization-hover.png);
}

.fun-item-lv1-hover .organization:before {
	content: url(../../images/hap/system_icon/organization-hover.png);
}

.data:before {
	content: url(../../images/hap/system_icon/data.png);
}

.fun-item-lv1:hover .data:before {
	content: url(../../images/hap/system_icon/data-hover.png);
}

.fun-item-lv1-hover .data:before {
	content: url(../../images/hap/system_icon/data-hover.png);
}

.budget:before {
	content: url(../../images/hap/system_icon/budget.png);
}

.fun-item-lv1:hover .budget:before {
	content: url(../../images/hap/system_icon/budget-hover.png);
}

.fun-item-lv1-hover .budget:before {
	content: url(../../images/hap/system_icon/budget-hover.png);
}

.business:before {
	content: url(../../images/hap/system_icon/business.png);
}

.fun-item-lv1:hover .business:before {
	content: url(../../images/hap/system_icon/business-hover.png);
}

.fun-item-lv1-hover .business:before {
	content: url(../../images/hap/system_icon/business-hover.png);
}

.workflow:before {
	content: url(../../images/hap/system_icon/workflow.png);
}

.fun-item-lv1:hover .workflow:before {
	content: url(../../images/hap/system_icon/workflow-hover.png);
}

.fun-item-lv1-hover .workflow:before {
	content: url(../../images/hap/system_icon/workflow-hover.png);
}

.finance:before {
	content: url(../../images/hap/system_icon/finance.png);
}

.fun-item-lv1:hover .finance:before {
	content: url(../../images/hap/system_icon/finance-hover.png);
}

.fun-item-lv1-hover .finance:before {
	content: url(../../images/hap/system_icon/finance-hover.png);
}

.personal:before {
	content: url(../../images/hap/system_icon/personal.png);
}

.fun-item-lv1:hover .personal:before {
	content: url(../../images/hap/system_icon/personal-hover.png);
}

.fun-item-lv1-hover .personal:before {
	content: url(../../images/hap/system_icon/personal-hover.png);
}

.query:before {
	content: url(../../images/hap/system_icon/query.png);
}

.fun-item-lv1:hover .query:before {
	content: url(../../images/hap/system_icon/query-hover.png);
}

.fun-item-lv1-hover .query:before {
	content: url(../../images/hap/system_icon/query-hover.png);
}

.contract:before {
	content: url(../../images/hap/system_icon/contract.png);
}

.fun-item-lv1:hover .contract:before {
	content: url(../../images/hap/system_icon/contract-hover.png);
}

.fun-item-lv1-hover .contract:before {
	content: url(../../images/hap/system_icon/contract-hover.png);
}

/* level 1 Function icon Setting End */

.glyphicon-cog:before {
	content: url(../../images/hap/system_icon/glyphicon-cog.png);
}

.fun-item-lv1-hover .glyphicon-cog:before {
	content: url(../../images/hap/system_icon/glyphicon-cog-hover.png);
}

.glyphicon-folder-open:before {
	content: url(../../images/hap/system_icon/glyphicon-folder-open.png);
}

.fun-item-lv1-hover .glyphicon-folder-open:before {
	content: url(../../images/hap/system_icon/glyphicon-folder-open-hover.png);
}

.glyphicon-calendar:before {
	content: url(../../images/hap/system_icon/glyphicon-calendar.png);
}

.fun-item-lv1-hover .glyphicon-calendar:before {
	content: url(../../images/hap/system_icon/glyphicon-calendar-hover.png);
}

.glyphicon-shopping-cart:before {
	content: url(../../images/hap/system_icon/glyphicon-shopping-cart.png);
}

.fun-item-lv1-hover .glyphicon-shopping-cart:before {
	content: url(../../images/hap/system_icon/glyphicon-shopping-cart-hover.png);
}

.glyphicon-hourglass:before {
	content: url(../../images/hap/system_icon/glyphicon-hourglass.png);
}

.fun-item-lv1-hover .glyphicon-hourglass:before {
	content: url(../../images/hap/system_icon/glyphicon-hourglass-hover.png);
}

.glyphicon-question-sign:before {
	content: url(../../images/hap/system_icon/glyphicon-question-sign.png);
}

.fun-item-lv1-hover .glyphicon-question-sign:before {
	content: url(../../images/hap/system_icon/glyphicon-question-sign-hover.png);
}

.fun-item-lv1:hover .glyphicon-cog:before {
	content: url(../../images/hap/system_icon/glyphicon-cog-hover.png);
}

.fun-item-lv1:hover .glyphicon-folder-open:before {
	content: url(../../images/hap/system_icon/glyphicon-folder-open-hover.png);
}

.fun-item-lv1:hover .glyphicon-calendar:before {
	content: url(../../images/hap/system_icon/glyphicon-calendar-hover.png);
}

.fun-item-lv1:hover .glyphicon-shopping-cart:before {
	content: url(../../images/hap/system_icon/glyphicon-shopping-cart-hover.png);
}

.fun-item-lv1:hover .glyphicon-hourglass:before {
	content: url(../../images/hap/system_icon/glyphicon-hourglass-hover.png);
}

.fun-item-lv1:hover .glyphicon-question-sign:before {
	content: url(../../images/hap/system_icon/glyphicon-question-sign-hover.png);
}

.caption .icon-globe:before {
	content: url(../../images/hap/my-todo-matter.png);
}

.caption .icon-bar-chart:before {
	content: url(../../images/hap/my-current-application.png);
}