<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscNodeAsgnWorkCenterMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscNodeAsgnWorkCenter">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="NODE_ID" property="nodeId" jdbcType="DECIMAL" />
        <result column="WORK_CENTER_ID" property="workCenterId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>