<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscTaskDispatchAdviceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscTaskDispatchAdvice">
        <result column="ADVICE_ID" property="adviceId" jdbcType="DECIMAL" />
        <result column="DISPATCH_RECORD_ID" property="dispatchRecordId" jdbcType="DECIMAL" />
        <result column="TASK_ID" property="taskId" jdbcType="DECIMAL" />
        <result column="WORK_TEAM_ID" property="workTeamId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
    </resultMap>
    <select id="getAdviceWorkEmps" resultType="java.lang.String">
        select ee.name
        from ssc_task_dispatch_advice stda,
              exp_employee ee
        where stda.task_id = #{taskId}
              and stda.employee_id = ee.employee_id
              and ee.enabled_flag = 'Y'
        group by ee.name
    </select>
</mapper>