<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscTaskDispatchRecordHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscTaskDispatchRecordHis">
        <result column="DISPATCH_RECORD_ID" property="dispatchRecordId" jdbcType="DECIMAL"/>
        <result column="TASK_ID" property="taskId" jdbcType="DECIMAL"/>
        <result column="NODE_ID" property="nodeId" jdbcType="DECIMAL"/>
        <result column="WORK_TEAM_ID" property="workTeamId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="ENTER_TIME" property="enterTime" jdbcType="DATE"/>
        <result column="EXIT_TIME" property="exitTime" jdbcType="DATE"/>
    </resultMap>
    <select id="getAllDispatchRecordHis" resultMap="BaseResultMap">
        select
            rh.node_id,
            rh.work_team_id,
            rh.employee_id
          from
            ssc_task_dispatch_record_his rh,
            ssc_process p,
            ssc_task_pool t,
            exp_employee ee
          where
            t.task_id = #{taskId}
            and t.task_id = rh.task_id
            and t.current_node_id = rh.node_id
            and rh.dispatch_record_id = p.dispatch_record_id
            and ee.EMPLOYEE_ID = rh.EMPLOYEE_ID
            and p.process_type_code = #{processTypeCode}
            and rh.dispatch_record_id = p.dispatch_record_id
            and rh.status = #{status}
          order by
            p.creation_date desc,
            p.process_id desc
    </select>


</mapper>