<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscTaskPoolHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscTaskPoolHis">
        <result column="TASK_ID" property="taskId" jdbcType="DECIMAL" />
        <result column="DOC_CATEGORY" property="docCategory" jdbcType="VARCHAR" />
        <result column="DOC_TYPE_ID" property="docTypeId" jdbcType="DECIMAL" />
        <result column="DOC_ID" property="docId" jdbcType="DECIMAL" />
        <result column="DOC_NUMBER" property="docNumber" jdbcType="VARCHAR" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="ENTER_TIME" property="enterTime" jdbcType="DATE" />
        <result column="EXIT_TIME" property="exitTime" jdbcType="DATE" />
        <result column="WORK_CENTER_ID" property="workCenterId" jdbcType="DECIMAL" />
        <result column="WORKFLOW_ID" property="workflowId" jdbcType="DECIMAL" />
        <result column="DOC_WFL_ASSIGN_ID" property="docWflAssignId" jdbcType="DECIMAL" />
        <result column="CURRENT_NODE_ID" property="currentNodeId" jdbcType="DECIMAL" />
        <result column="CURRENT_WORK_TEAM_ID" property="currentWorkTeamId" jdbcType="DECIMAL" />
        <result column="CURRENT_EMPLOYEE_ID" property="currentEmployeeId" jdbcType="DECIMAL" />
        <result column="TASK_STATUS" property="taskStatus" jdbcType="VARCHAR" />
    </resultMap>


</mapper>