<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkflowNodeRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorkflowNodeRule">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="DOC_WFL_ASSIGN_ID" property="docWflAssignId" jdbcType="DECIMAL" />
        <result column="NODE_ID" property="nodeId" jdbcType="DECIMAL" />
        <result column="WFL_BUSINESS_RULE_ID" property="wflBusinessRuleId" jdbcType="DECIMAL" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />
    </resultMap>
    <select id="getAllRules" resultMap="BaseResultMap">
        select *
          from ssc_workflow_node_rule r
         where r.node_id = #{nodeId}
           and r.doc_wfl_assign_id = #{docWflAssignId}
           and (r.end_date > #{currentDate} or r.end_date is null)
    </select>


</mapper>