<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkCenterBusiScopeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorkCenterBusiScope">
        <result column="SCOPE_ID" property="scopeId" jdbcType="DECIMAL" />
        <result column="SCOPE_CODE" property="scopeCode" jdbcType="VARCHAR" />
        <result column="WORK_CENTER_ID" property="workCenterId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />

        <result column="BUSI_SCOPE_CODE_NAME" property="busiScopeCodeName" jdbcType="VARCHAR"/>
		<result column="MAG_ORG_CODE_NAME" property="magOrgCodeName" jdbcType="VARCHAR"/>
		<result column="MAG_ORG_NAME" property="magOrgName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="querySscWorkCenterBusiScope" resultMap="BaseResultMap">
        SELECT
	a.scope_id,
	a.scope_code,
	a.work_center_id,
	at1.description,
	concat(
		a.scope_code,
		'-',
		at1.description
	) AS busi_scope_code_name,
	a.mag_org_id,
	ft.DESCRIPTION AS mag_org_name,
	(
		SELECT
			concat(
				f.mag_org_code,
				'-',
				fv.DESCRIPTION
			)
		FROM
			fnd_managing_organization_tl fv,
			fnd_managing_organization f
		WHERE
			fv.mag_org_id = a.mag_org_id
		AND a.MAG_ORG_ID = f.MAG_ORG_ID
		AND fv.LANG=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
	) AS mag_org_code_name,
	a.start_date,
	a.end_date
FROM
	ssc_work_center_busi_scope a,
	ssc_work_center_busi_scope_tl at1,
	fnd_managing_organization_tl ft
WHERE
	a.work_center_id = #{workCenterId}
AND a.SCOPE_ID = at1.SCOPE_ID
AND at1.LANG=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
AND a.MAG_ORG_ID = ft.MAG_ORG_ID
AND ft.LANG=#{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
    </select>

</mapper>