<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorkRecord">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="WORK_STATUS" property="workStatus" jdbcType="VARCHAR" />
        <result column="PROCESS_DATE" property="processDate" jdbcType="DATE" />
        <result column="PROCESS_TIME" property="processTime" jdbcType="DATE" />
    </resultMap>
    <select id="getWorkStatus" resultMap="BaseResultMap">
       select r.work_status
         from ssc_work_record r
        where r.employee_id = #{request.employeeId,jdbcType = DECIMAL}
          and r.process_date = #{currentDate}
     order by r.process_time desc;
    </select>


</mapper>