<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkflowNodeActionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorkflowNodeAction">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="NODE_ID" property="nodeId" jdbcType="DECIMAL" />
        <result column="ACTION_ID" property="actionId" jdbcType="DECIMAL" />
        <result column="BACK_NODE_ID" property="backNodeId" jdbcType="DECIMAL" />
        <result column="PROCEDURE_ID" property="procedureId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>