<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkflowProcMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorkflowProc">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="WORKFLOW_ID" property="workflowId" jdbcType="DECIMAL" />
        <result column="PROCEDURE_ID" property="procedureId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>