<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkCenterCompanyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorkCenterCompany">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="SCOPE_ID" property="scopeId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectSscWorkCenterCompany" resultMap="BaseResultMap">
        SELECT
	swc.record_id,
	swc.scope_id,
	swc.company_id,
	fcv.company_code,
	fcv1.company_short_name,
	swc.enabled_flag
FROM
	ssc_work_center_company swc,
	fnd_company fcv,
	fnd_company_tl fcv1
WHERE
	swc.scope_id = #{scopeId}
AND swc.company_id = fcv.company_id
and fcv1.company_id=fcv.COMPANY_ID
and fcv1.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
    </select>


</mapper>