<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.ssc.mapper.SscWorkerMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.ssc.dto.SscWorker">
        <result column="WORKER_ID" property="workerId" jdbcType="DECIMAL" />
        <result column="WORK_TEAM_ID" property="workTeamId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="EMPLOYEE_CODE" property="employeeCode" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="querySscWorker" resultMap="BaseResultMap">
        SELECT
	sw.worker_id,
	sw.work_team_id,
	sw.employee_id,
	sw.enabled_flag,
	ee.employee_code,
	ee. NAME employee_name
FROM
	ssc_worker sw,
	exp_employee ee
WHERE
	sw.work_team_id = #{workTeamId}
AND ee.employee_id = sw.employee_id
AND ee.enabled_flag = 'Y'
    </select>
    <select id="getAllWorkTeam" resultMap="BaseResultMap">
        select *
          from ssc_worker w left join
               ssc_work_team   swt on swt.work_team_id = w.work_team_id left join
               ssc_work_center swc on swt.work_center_id = swc.work_center_id
         where w.employee_id = #{employeeId}
           and w.enabled_flag = 'Y'
           and swt.enabled_flag = 'Y'
           and swc.enabled_flag = 'Y'
    </select>

</mapper>