<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bpm.mapper.DocHeaderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bpm.dto.DocHeader">
        <result column="doc_header_id" property="docHeaderId" jdbcType="BIGINT" />
        <result column="company_id" property="companyId" jdbcType="BIGINT" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="unit_id" property="unitId" jdbcType="BIGINT" />
        <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
        <result column="position_id" property="positionId" jdbcType="BIGINT" />
        <result column="position_name" property="positionName" jdbcType="VARCHAR" />
        <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
        <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
        <result column="document_number" property="documentNumber" jdbcType="VARCHAR" />
        <result column="oa_flow_category" property="oaFlowCategory" jdbcType="VARCHAR" />
        <result column="oa_flow_category_desc" property="oaFlowCategoryDesc" jdbcType="VARCHAR" />
        <result column="oa_flow_subcategory" property="oaFlowSubcategory" jdbcType="VARCHAR" />
        <result column="oa_flow_subcategory_desc" property="oaFlowSubCategoryDesc" jdbcType="VARCHAR" />
        <result column="document_date" property="documentDate" jdbcType="VARCHAR" />
        <result column="document_status" property="documentStatus" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="template_id" property="templateId" jdbcType="BIGINT" />
        <result column="template_desc" property="templateDesc" jdbcType="VARCHAR" />
        <result column="screen" property="screen" jdbcType="VARCHAR" />
        <result column="page_group_id" property="pageGroupId" jdbcType="BIGINT" />
        <result column="page_id" property="pageId" jdbcType="BIGINT" />
        <result column="group_type" property="templateDesc" jdbcType="VARCHAR" />
        <result column="group_code" property="screen" jdbcType="VARCHAR" />
    </resultMap>
</mapper>