<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bpm.mapper.PageLayoutButtonMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bpm.dto.PageLayoutButton">
        <result column="button_id" property="buttonId" jdbcType="BIGINT"/>
        <result column="layout_id" property="layoutId" jdbcType="BIGINT"/>
        <result column="button_sequence" property="buttonSequence" jdbcType="BIGINT"/>
        <result column="button_code" property="buttonCode" jdbcType="VARCHAR"/>
        <result column="button_desc" property="buttonDesc" jdbcType="VARCHAR"/>
        <result column="template_flag" property="templateFlag" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="text" property="text" jdbcType="VARCHAR"/>
        <result column="click" property="click" jdbcType="VARCHAR"/>
        <result column="button_type" property="buttonType" jdbcType="VARCHAR"/>
        <result column="width" property="width" jdbcType="VARCHAR"/>
        <result column="height" property="height" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="disabled" property="disabled" jdbcType="VARCHAR"/>
        <result column="hidden" property="hidden" jdbcType="VARCHAR"/>
        <result column="style" property="style" jdbcType="VARCHAR"/>
        <result column="operation_type" property="operationType" jdbcType="VARCHAR"/>
        <result column="button_type_desc" property="buttonTypeDesc" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>