<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bpm.mapper.TemplateRefTableMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bpm.dto.TemplateRefTable">
        <result column="ref_id" property="refId" jdbcType="BIGINT"/>
        <result column="template_id" property="templateId" jdbcType="BIGINT"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="table_description" property="tableDescription" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByTemplateId" parameterType="com.hand.hec.bpm.dto.TemplateRefTable"
            resultMap="BaseResultMap">
        select t.*
          from bpm_template_ref_table t
         where t.template_id = #{templateId}
    </select>

</mapper>