<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hec.bpm.mapper.TemplateMapper">
    <resultMap id="BaseResultMap"
               type="com.hand.hec.bpm.dto.Template" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="TEMPLATE_ID" jdbcType="DECIMAL" property="templateId"/>
        <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode"/>
        <result column="TEMPLATE_DESC" jdbcType="VARCHAR" property="templateDesc"/>
        <result column="SCREEN" jdbcType="VARCHAR" property="screen"/>
        <result column="ENABLED_FLAG" jdbcType="VARCHAR" property="enabledFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
		bt.template_id,
		bt.template_code,
		bt.template_desc,
		bt.screen,
		bt.enabled_flag
	</sql>

    <select id="selectAllByLike" parameterType="com.hand.hec.bpm.dto.Template"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from bpm_template bt
        <where>
            <if test="templateCode!=null">
                bt.template_code like CONCAT('%',#{templateCode},'%' )
            </if>
            <if test="templateDesc!=null">
                and bt.template_desc like CONCAT('%',#{templateDesc},'%'
                )
            </if>
        </where>
    </select>

    <select id="getPageGroup" resultType="java.util.HashMap">
		select p.page_id
		from bpm_pages p inner join bpm_page_groups g on p.group_id = g.group_id
		where g.template_id = #{templateId}
	</select>

    <select id="queryTemplateLov" parameterType="com.hand.hec.bpm.dto.Template" resultMap="BaseResultMap">
        select t.template_id,
        t.template_code,
        t.template_desc
        from bpm_template t
        <where>
            <if test="templateCode!=null">
                t.template_code like CONCAT('%',#{templateCode},'%' )
            </if>
            <if test="templateDesc!=null">
                and t.template_desc like CONCAT('%',#{templateDesc},'%' )
            </if>
            <if test="enabledFlag!=null">
                and t.enabled_flag = #{enabledFlag}
            </if>
        </where>
    </select>

    <select id="queryDatesetFetch" resultMap="BaseResultMap">
		SELECT
			bt.*
		FROM
			bpm_page_groups bpg,
			bpm_pages bp,
			bpm_template bt
		WHERE
			bpg.group_id = bp.group_id
			AND bpg.template_id = bt.template_id
			AND bp.page_id = #{pageId}
	</select>


</mapper>