<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bpm.mapper.TpltLayoutBasicMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bpm.dto.TpltLayoutBasic">
        <result column="layout_id" property="layoutId" jdbcType="BIGINT"/>
        <result column="template_id" property="templateId" jdbcType="BIGINT"/>
        <result column="layout_sequence" property="layoutSequence" jdbcType="BIGINT"/>
        <result column="layout_code" property="layoutCode" jdbcType="VARCHAR"/>
        <result column="layout_desc" property="layoutDesc" jdbcType="VARCHAR"/>
        <result column="layout_type" property="layoutType" jdbcType="VARCHAR"/>
        <result column="parent_layout_id" property="parentLayoutId" jdbcType="BIGINT"/>
        <result column="layout_level" property="layoutLevel" jdbcType="BIGINT"/>
        <result column="dataset" property="dataset" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="tab_group_number" property="tabGroupNumber" jdbcType="BIGINT"/>
        <result column="width" property="width" jdbcType="BIGINT"/>
        <result column="height" property="height" jdbcType="BIGINT"/>
        <result column="marginwidth" property="marginwidth" jdbcType="BIGINT"/>
        <result column="marginheight" property="marginheight" jdbcType="BIGINT"/>
        <result column="style" property="style" jdbcType="VARCHAR"/>
        <result column="hidden" property="hidden" jdbcType="VARCHAR"/>
        <result column="business_category" property="businessCategory" jdbcType="VARCHAR"/>
        <result column="parent_business_category" property="parentBusinessCategory" jdbcType="VARCHAR"/>
        <result column="ref_table" property="refTable" jdbcType="VARCHAR"/>
        <result column="ref_field" property="refField" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>