<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bpm.mapper.TpltTagBasicMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bpm.dto.TpltTagBasic">
        <result column="tag_id" property="tagId" jdbcType="BIGINT"/>
        <result column="layout_id" property="layoutId" jdbcType="BIGINT"/>
        <result column="tag_sequence" property="tagSequence" jdbcType="BIGINT"/>
        <result column="tag_code" property="tagCode" jdbcType="VARCHAR"/>
        <result column="tag_desc" property="tagDesc" jdbcType="VARCHAR"/>
        <result column="tag_type" property="tagType" jdbcType="VARCHAR"/>
        <result column="tag_type_desc" property="tagTypeDesc" jdbcType="VARCHAR"/>
        <result column="colspan" property="colspan" jdbcType="BIGINT"/>
        <result column="rowspan" property="rowspan" jdbcType="BIGINT"/>
        <result column="hidden" property="hidden" jdbcType="VARCHAR"/>
        <result column="parent_tag_id" property="parentTagId" jdbcType="BIGINT"/>
        <result column="parent_tag_desc" property="parentTagDesc" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="defaultvalue" property="defaultvalue" jdbcType="VARCHAR"/>
        <result column="readonly" property="readonly" jdbcType="VARCHAR"/>
        <result column="required" property="required" jdbcType="VARCHAR"/>
        <result column="prompt" property="prompt" jdbcType="VARCHAR"/>
        <result column="validator" property="validator" jdbcType="VARCHAR"/>
        <result column="requiredmessage" property="requiredmessage" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByLayoutId" resultMap="BaseResultMap"
            parameterType="com.hand.hec.bpm.dto.TpltTagBasic">
         select tb.*,
                (select v.code_value_name from sys_code_values_v v where v.code_value=tb.tag_type and v.code='BPM_TAG_TYPE') tag_type_desc,
                (select b.tag_desc from BPM_TPLT_TAGS_BASIC b where b.tag_id=tb.parent_tag_id) parent_tag_desc
           from bpm_tplt_tag_basic tb
          where tb.layout_id = #{layoutId}
    </select>

    <select id="queryByParas" resultMap="BaseResultMap" parameterType="com.hand.hec.bpm.dto.TpltTagBasic">
        select tb.*
        from bpm_tplt_tag_basic tb
        <where>
            <if test="layoutId!=null">
                tb.layout_id = #{layoutId}
            </if>
        </where>
    </select>

    <select id="selectTpltTagBasicLov" resultMap="BaseResultMap"
            parameterType="com.hand.hec.bpm.dto.TpltTagBasic">
        SELECT * FROM
        ( SELECT b.tag_id, b.tag_code, b.tag_desc
        FROM bpm_tplt_tag_basic b
        WHERE b.layout_id = #{layoutId}
        AND b.tag_type = 'merge_column'
        ORDER BY
        b.tag_sequence NULLS FIRST
        ) v
        <where>
            <if test="tagCode!=null">
                v.tag_code like concat('%',#{tagCode},'%')
            </if>
            <if test="tagDesc!=null">
                and v.tag_desc like concat('%',#{tagDesc},'%')
            </if>
        </where>
    </select>


</mapper>