<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bpm.mapper.Tplt001LineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bpm.dto.Tplt001Line">
        <result column="line_id" property="lineId" jdbcType="BIGINT"/>
        <result column="header_id" property="headerId" jdbcType="BIGINT"/>
        <result column="line_num" property="lineNum" jdbcType="BIGINT"/>
    </resultMap>
    <select id="queryMaxLineNum" resultType="java.lang.Long">
        select max(line_num) from bpm_tplt001_line l where l.header_id = #{headerId}
    </select>
</mapper>