h5 {
    font-size: 14px;
    font-weight: bold;
}

.clearfix {
    overflow: auto;
    _height: 1%;
}

html, body {
    background-color: #f5f5f5;
    font-size: 11px;
}

#main-container {
    width: 100%;
    height: 100%;
}

#component-lib {
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 200px;
    float: left;
    width: 200px;
    top: 0;
    background-color: #fff;
    border-right: 1px solid #ddd !important;
}

/* #component-lib-title {
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
} */

#component-lib-title {
    width: 200px;
    border-bottom: 1px solid #ddd !important;
    background: #d2ddea;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* .component-type-title {
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    font-style: italic
} */

.component-type-title {
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    width: 200px;
    /* font-style: italic; */
    background: #f0f3f8;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}

.component-type-content {
    margin-left: 10px;
    margin-top: 5px;
    width: 180px;
    /*��Ӳ���*/
    margin-bottom: 5px;
}

.component {
    background: transparent;
    font-size: 11px;
    padding: 3px;
    border: 1px solid none;
    cursor: move;
    border: 1px solid transparent;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    color: #525C66;
    transition-duration: 150ms;
    transition-property: background-color, border-color, box-shadow;
    white-space: normal;
}

.component:hover {
    border: 1px solid #ddd !important;
    background-color: rgba(3, 14, 27, 0.03);
}

.component > img {
    vertical-align: middle;
    padding-right: 5px;
}

#screen-editor {
    position: fixed;
    left: 200px;
    top: 0;
    bottom: 0;
    width: calc(100% - 400px);
    float: left;
}

#editor-title {
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
}

#editor-shell {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    min-height: 140px;
    background-color: #fff;
    border: 1px solid #ddd !important;
    height: calc(100% - 40px);
}

#editor-container {
    position: relative;
    margin: 10px;
    padding-bottom: 20px;
    min-height: 100px;
    width: auto !important;
    height: 100%;
    overflow:auto;
}

#attr-editor {
    position: fixed;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 200px;
    float: left;
    background-color: #fff;
    border-left: 1px solid #ddd !important;
}

.drag-shell {
    position: relative;
}

.drag-container {
    position: relative;
    min-height: 40px;
    width: 100%;
    padding-bottom: 20px; 
    margin-left: 0;
}

.tab-drag-container {
    position: relative;
    min-height: 40px;
    width: 100%;
    padding-bottom: 20px; 
    margin-left: 0;
}

.drag-container-focus {
    border: 1px dotted #0a9ec7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.layout-component {
    position: relative;
    border: 1px dashed #ccc; 
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    min-height: 20px;
}

.layout-container {
    position: relative;
    border: 1px dashed #ccc; 
}

.input-shell {
    display: block;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-prompt {
    position: absolute;
    display: block;
    width: 60px;
    padding-left: 10px;
    /* line-height: 28px; */
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    left:-10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input-prompt:hover{
    text-overflow:inherit;
	overflow:visible;
}

.input-component {
    position: absolute;
    /* width: 150px; */
    left: 60px;
    display: block;
    font-size: 11px;
    font-weight: bold;
}

.input-required {
    position: absolute;
    left: -10px;
    color: red;
    top: 2px;
}

.input-readonly input {
    background-color: #DBDBDB;
}

.element-title {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    color: #f28c89;
    z-index: 9999;
}

.element-delete-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    z-index: 9999;
    background-image: url(../../../images/aurora/4.0/screen_editor/element_delete_btn.png);
}

.element-delete-button:hover {
    cursor: pointer;
    background-image: url(../../../images/aurora/4.0/screen_editor/element_delete_btn_hover.png);
}

.element-title:hover {
    color: #fff;
    background-color: #f28c89;
    cursor: pointer;
}

legend {
    width: unset;
    margin-bottom: unset;
    font-size: 12px !important;
    font-weight: bold !important;;
    border-bottom: none !important;
    position: relative;
}

.grid-content {
    position: relative;
    height: 220px;
    border: 1px solid #ccc;
}

.grid-header-border {
    position: absolute;
    top: 37px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.grid-select-container {
    width: 39px;
    height: 180px;
}

.grid-footer-border {
    position: absolute;
    bottom: 37px;
    width: 100%;
    border-top: 1px solid #ccc;
}

.grid-navbar-container {
    width: 60%;
    height: 37px;
    /* float:right; */
    border-top: 1px solid #cccccc;
    position:absolute;
    bottom:0px;
    right:0px;
}

.grid-button-container {
    width: 40%;
    height: 37px;
    /* float:left; */
    border-top: 1px solid #cccccc;
    position:absolute;
    bottom:0px;
    left:0px;
}

.grid-drag-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 38px;
    width: calc(100% - 37px);
    height: 134px;
    overflow-x: auto;
    overflow-y: hidden;
    background: none;
}

.grid-input-shell {
    flaot: left;
    flex-shrink: 0;
    width: 120px;
    height: 75px;
    margin-right: -1px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.grid-input-prompt {
    width: 100%;
    height: 38px;
    text-align: center;
    line-height: 37px;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-input {
    position: relative;
    width: 100%;
    height: 100%;
    height: 36px;
    background-color: #ecf3f8 !important;
}

.grid-input-component {
    position: absolute;
    left: 14px;
    top: 5px;
    font-size: 11px;
    line-height: 28px;
    text-align: center;
}

.grid-select-content {
    position: relative;
    margin-top: -1px;
    margin-left: -1px;
    width: 40px;
    border: 1px solid #ccc;
}

.grid-select-header-content {
    position: relative;
    width: 100%;
    height: 36px;
}

.grid-select-line-content {
    position: relative;
    width: 100%;
    height: 38px
}

.grid-select-header-select {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
}

.grid-select-line-select {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
}

.grid-radio-content {
    position: relative;
    margin-top: -1px;
    margin-left: -1px;
    width: 40px;
    border: 1px solid #ccc;
}

.grid-radio-header-content {
    position: relative;
    width: 100%;
    height: 36px;
}

.grid-radio-line-content {
    position: relative;
    width: 100%;
    height: 38px
}

.grid-radio-header-radio {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 9px;
}

.grid-radio-line-radio {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 9px;
}

/* #dataset-container-title {
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
} */

#dataset-container-title {
    border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
    background: #f0f3f8;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

#dataset-container-shell {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    min-height: 140px;
    background-color: #fff;
    border: 2px dashed #ddd !important;
    overflow-y: auto;
    overflow-x: hidden;
}

#dataset-container {
    width: 100%;
    min-height: 140px;
    height:200px;
}

/* #hidden-title {
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
} */

#hidden-title {
	border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
    background: #f0f3f8;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 10px;
    border-top: 1px solid #ddd !important;
}

#hidden-shell {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    min-height: 140px;
    background-color: #fff;
    border: 2px dashed #ddd !important
}

#hidden-container {
    width: 100%;
    min-height: 140px;
}

/* #recycle-title {
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
} */
#recycle-title {
 	border-bottom: 1px solid #ddd !important;
    padding-left: 10px;
    background: #f0f3f8;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 10px;
    border-top: 1px solid #ddd !important;
}

#recycle-shell {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    min-height: 140px;
    background-color: #fff;
    border: 2px dashed #ddd !important
}

#recycle-container {
    width: 100%;
    min-height: 140px;
}

.dataset-shell  {
    position: relative;
    width: 90%;
    height: 25px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.hidden-shell {
	 position: relative;
    width: 90%;
    height: 25px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dataset-shell-focus {
    border: 1px dashed #337ab7;
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
}
.hidden-shell-focus{
	 border: 1px dashed #337ab7;
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
}

.dataset-icon {
    position: absolute;
    left: 10px;
    top: 4px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../../../images/aurora/4.0/screen_editor/_dataset.png);
    cursor: pointer;
}

.dataset-prompt {
    position: absolute;
    left: 30px;
    line-height: 25px;
    font-weight: bold;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dataset-prompt:hover{
	text-overflow:inherit;
	overflow:visible;
}

.hidden-prompt{
    position: absolute;
    left: 30px;
    line-height: 25px;
    font-weight: bold;
}

.hidden-icon{
	position: absolute;
    left: 10px;
    top: 4px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../../../images/aurora/4.0/screen_editor/_hidden.png);
    cursor: pointer;
}

.btn-add{
	background: none;
    border: none;
    color: #fff;
}
.btn-delete{
	background: none;
    border: none;
    color: #fff;
}
.btn-save{
	background: none;
    border: none;
    color: #fff;
}
.btn-clear{
	background: none;
    border: none;
    color: #fff;
}

.input-readonly{
	background: #ededed !important;
}

/* .input-required{
	border: #e8a93c 1px solid;
} */
.item-button{
	 background-color: #1D92AF; 
     border: #198099 1px solid;
     color: white;
     text-align: center;
	 font-size: 14px;
     margin: 4px 2px;
     cursor: pointer;
}
.item-button[auskin=save]{
	 background-color: #5CB85C;
     border: #4CAE4C 1px solid;
     color: white;
     text-align: center;
	 font-size: 14px;
     margin: 4px 2px;
     cursor: pointer;
}
.item-button[auskin=delete]{
	 background-color: #D9534F;
     border: #D43F3A 1px solid;
     color: white;
     text-align: center;
	 font-size: 14px;
     margin: 4px 2px;
     cursor: pointer;
}
.item-button[auskin=clear]{
	 background-color: #D9534F;
     border: #D43F3A 1px solid;
     color: white;
     text-align: center;
	 font-size: 14px;
     margin: 4px 2px;
     cursor: pointer;
}

.item-button-disabled{
	-webkit-filter: grayscale();
    filter: gray;
    -moz-opacity: 0.9;
    opacity: 0.9;
}
.recycle-icon{
 	padding:4px;
 	cursor: pointer;
}
.recycle-component{
	position: relative;
    width: 90%;
    height: 25px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.recycle-prompt {
    position: absolute;
    left: 30px;
    line-height: 25px;
    font-weight: bold;
    top:0px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recycle-prompt:hover{
	text-overflow:inherit;
	overflow:visible;
}

.recycle-delete-button {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    z-index: 9999;
    background-image: url(../../../images/aurora/4.0/screen_editor/recycle_delete_btn.png);
}

.recycle-undo-button {
    position: absolute;
    top: -8px;
    right: 16px;
    width: 16px;
    height: 16px;
    z-index: 9999;
    background-image: url(../../../images/aurora/4.0/screen_editor/recycle_undo_btn.png);
}

.recycle-undo-button:hover {
    cursor: pointer;
    background-image: url(../../../images/aurora/4.0/screen_editor/recycle_undo_btn_hover.png);
}
.recycle-delete-button:hover {
    cursor: pointer;
    background-image: url(../../../images/aurora/4.0/screen_editor/recycle_delete_btn_hover.png);
}
.save-button { 
	color:rgb(255, 255, 255);
	font-size:14px;
	border:none;
	/* border-color:rgb(102, 153, 153); 
	border-style:solid;
	border-radius:0px;*/
	background-color:#82ABBA;
	height: 30px;
    width: 80px;
}
.save-button:hover {
	color:#ffffff;
	background-color:#1D92AF;
}

.expand-down{
	display: block;
    height: 20px;
    width: 20px;
    background-image: url(../../../images/aurora/4.0/screen_editor/down.png);
    float: right;
    margin-top: 5px;
    background-repeat: no-repeat;
}

.expand-left{
	display: block;
    height: 20px;
    width: 20px;
    background-image: url(../../../images/aurora/4.0/screen_editor/left.png);
    float: right;
    margin-top: 5px;
    background-repeat: no-repeat;
}

.text-primary {
    color: #94afd0;
}

.layout_queryform{
	width: 25px;
    background-image: url(../../../images/aurora/4.0/screen_editor/queryformbtn.png);
    height: 30px;
    position: absolute;
    top: 40%;
}

.un-show-element{
	display:none;
}

.item-wrap .input-field-hide{
	border: #bfbfbf 1px dashed;
    background-color: #eee;
    height: 100%;
}

.input-component .input-field-hide{
	border: #bfbfbf 1px dashed;
    background-color: #eee;
    height: 100%;
}
.input-hide-img{
	position: absolute;
    /* top: 0px; */
    left: 4px;
    z-index: 9999;
    height: 15px;
    width: 15px;
    background: url(../../../images/aurora/4.0/screen_editor/_hidden.png) no-repeat;
}

.layout-hide{
	background-color:#e5e5e5;
}
.layout-hide input{
	background-color:#e5e5e5 !important;
}

.layout-hide-img{
	position: absolute;
    top: 6px;
    left: 4px;
    z-index: 9999;
    height: 15px;
    width: 15px;
    background: url(../../../images/aurora/4.0/screen_editor/_hidden.png) no-repeat;
}

.btn-hide-img{
	position: absolute;
    top: 4px;
    left: 4px;
    z-index: 9999;
    height: 15px;
    width: 15px;
    background: url(../../../images/aurora/4.0/screen_editor/_hidden.png) no-repeat;
}

.item-button-hide{
	background-color: #b3ced4;
    border: #87aeb7 1px dashed;
}

.item-input-radio{
	width: 18px;
    height: 18px;
    font-size: 0;
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
}
.item-input-radio-hidden{
	width: 20px;
    height: 20px;
    font-size: 0;
    border: 1px dashed #bfbfbf;
    background: #eee;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
}
.item-input-radio-readonly{
	width: 20px;
    height: 20px;
    font-size: 0;
    border: 1px solid #ccc;
    background: #ededed !important;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
}
.item-input-ckb{
	width: 18px;
    height: 18px;
    font-size: 0pt;
    border: 1px solid #ccc;
    background: #fff;
}
.item-input-ckb-hidden{
	width: 18px;
    height: 18px;
    font-size: 0pt;
    border: 1px dashed #bfbfbf;
    background: #eee;
}
.item-input-ckb-readonly{
	width: 18px;
    height: 18px;
    font-size: 0pt;
    border: 1px solid #ccc;
    background: #ededed !important;
}
.little-hide-img{
	background: url(../../../images/aurora/4.0/screen_editor/_hidden.png) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 9999;
    top: 2px;
}
.gridbutton-add{
	background-image: url(../../../images/aurora/4.0/screen_editor/toolbar_btn.png);
	background-repeat: no-repeat;
	background-position: -10px -12px;
}
.gridbutton-save{
	background-image: url(../../../images/aurora/4.0/screen_editor/toolbar_btn.png);
	background-repeat: no-repeat;
	background-position: -10px -187px;
}
.gridbutton-delete{
	background-image: url(../../../images/aurora/4.0/screen_editor/toolbar_btn.png);
	background-repeat: no-repeat;
	background-position: -10px -153px;
}
.gridbutton-clear{
	background-image: url(../../../images/aurora/4.0/screen_editor/toolbar_btn.png);
	background-repeat: no-repeat;
	background-position: -10px -83px;
}