* {
	border: none;
	margin: 0;
	padding: 0;
}

#goods td {
	padding-bottom: 5px;
	padding-right:2px;
}

.common {
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	-webkit-text-size-adjust: none;
}

.b1 {
	border: 1pt solid #9E6B16;
}

.b2 {
	border-top: none;
	border-bottom: 1pt solid #9E6B16;
	border-left: 1pt solid #9E6B16;
	border-right: 1pt solid #9E6B16;
}

.b3 {
	border-top: none;
	border-bottom: none;
	border-left: 1pt solid #9E6B16;
	border-right: 1pt solid #9E6B16;
}

.b4 {
	border-top: none;
	border-bottom: 1pt solid #9E6B16;
	border-left: 1pt solid #9E6B16;
	border-right: none;
}

.b5 {
	border-top: none;
	border-bottom: 1pt solid #9E6B16;
	border-left: none;
	border-right: none;
}

.b6 {
	border-top: none;
	border-bottom: 1pt solid #9E6B16;
	border-left: none;
	border-right: 1pt solid #9E6B16;
}

#query_mask_div {
	background-color: #3D3D3D;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9997;
	display: none;
}

#query_wait_img {
	position: absolute;
}