html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

[v-cloak] {
    display: none;
}

*{
    box-sizing: content-box!important;
}

#page {
    width: 100%;
    height: 100%;
    font-family: consolas, "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    font-size: 15px;
}

#page-topbar {
    width: 100%;
    height: 50px;
    /*background-color: #237ae1;*/
    /* background-color: #3887a8; */
    color: #fff;
    letter-spacing: 0.02em;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#3887a8,endColorStr=#74abc1); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(left, #3887a8,  #74abc1);        /* IE 10 */
	background: -moz-linear-gradient(left,#3887a8,#74abc1);/*»ðºü*/ 
	background: -webkit-gradient(linear, 0% 0%, 100% 0%,from(#3887a8), to(#74abc1));/*¹È¸è*/ 
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#3887a8), to(#74abc1));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(left, #3887a8, #74abc1);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(left, #3887a8, #74abc1);  /*Opera 11.10+*/
}

#page-body {
    position: absolute;
    top: 50px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    background-color: #ebf1f5;
}

#page-sidebar {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    /* background-color: #3887a8; */
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#3887a8,endColorStr=#74abc1); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(top, #3887a8,  #74abc1);        /* IE 10 */
	background:-moz-linear-gradient(top,#3887a8,#74abc1);/*»ðºü*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3887a8), to(#74abc1));/*¹È¸è*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3887a8), to(#74abc1));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #3887a8, #74abc1);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #3887a8, #74abc1);  /*Opera 11.10+*/
}

#page-sidebar li {
    cursor: pointer;
}

.page-side-toggle-on {
    width: 180px;
    height: 30px;
    transition: all 0.1s 0s;
}

.page-side-toggle-off {
    width: 50px;
    height: 30px;
    transition: all 0.1s 0s;
}

#page-content {
    position: absolute;
    left:0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    background-color: #eaedf1;;
}

.topbar {
    text-align: center;
    line-height: 50px;
}

.topbar.topbar-logo {
    float: left;
    width: 90px;
    height: 50px;
}

.topbar.topbar-user-role {
    float: right;
    width: 230px;
    height: 50px;
    text-align: right;
    cursor: pointer;
    color:#000;
}

.topbar .topbar-user-role-current {
    margin-right: 10px;
}

.topbar .topbar-user-role-current:hover {
    text-decoration: underline;
}

.topbar .topbar-user-role-menu {
    left: unset;
    right: 0px;
    max-height: 300px;
    overflow: auto;
    font-size: 12px; 
}

.topbar.topbar-logout {
    float: right;
    width: 100px;
    height: 50px;
    color: #fff;
}

.sidebar-toggle {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.sidebar-toggle-icon {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 17px;
    text-align: center;
    cursor: pointer;
}

.sidebar-toggle-search-area {
    display: block;
    position: absolute;
    left: 50px;
    top: 0px;
    display: block;
    width: 130px;
    text-align: center;
    color: #000;
    font-size: 12px;
}

.sidebar-toggle-search input {
    width: 125px;
    height: 30px;
    margin-top: 10px;
    color: #000;
    font-size: 12px;
}

.sidebar-toggle-search-result {
    display: block;
    top: calc(100% + 5px);
    left: -45px;
    width: 170px;
    font-size: 12px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-fun-float-area {
    position: fixed;
    display: none;
    top: 50px;
    left:0;
    right: 0;
    padding: 16px;
    min-height: 240px;
    z-index: 10;
    background-color: #fff;
    color: #000000;;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.1s 0s;
}

.sidebar-fun-area-lv1{
	float:left;
}

.sidebar-fun-area-lv2 {
    float: left;
    width: 180px;
    min-height: 62px;
}

.fun-item-lv1 {
    position: relative;
    float:left;
    width:100px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    transition: all 0.1s 0s;
    cursor:pointer;
}

.fun-item-lv1-hover {
    /*background-color: #237ae1;
    color: #fff;*/
    background-color: #fff;
    color: #3887a8;
    transition: all 0.1s 0s;
}

.fun-item-lv1-icon {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    padding-top: 12px;
    text-align: center;
}

.fun-item-lv1-name {
    display: block;
    width: 100%;
    text-align: center;
}

.fun-list-lv2 {
}

.fun-item-lv2 {
    text-align: left;
    padding-left: 12px;
    transition: all 0.1s 0s;
}

.fun-item-lv2-hover {
    /*background-color: #237ae1;*/
    background-color: #3887a8;
    color: #fff;
    transition: all 0.1s 0s;
}

.sidebar-fun-area-lv3 {
    display: none;
    margin-left: 200px;
    min-height: 62px;
    border-left: 1px solid #f1f1f1;
    padding-left: 10px;
}

.page-side-toggle-on .sidebar-fun-area-lv3 {
    left: 380px;
}

.page-side-toggle-off .sidebar-fun-area-lv3 {
    left: 250px;
}

.sidebar-fun-area-lv3:after {
    clear: both;
}

.fun-list-lv3 {
    display: block;
    float: left;
    width: 32.5%;
    text-align: left;
}

.fun-item-lv3 {
    height: 36px;
    padding: 12px;
    /*transition: all 0.1s 0s;*/
}

.fun-item-lv3-hover {
    /*background-color: #237ae1;*/
    background-color: #3887a8;
    color: #fff;
    /*transition: all 0.1s 0s;*/
}

.fun-item-lv3-hover .fun-desc-lv3 {
    color: #fff;
}

.fun-name-lv3 {
    display: block;
    padding-bottom: 2px;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    overflow: hidden;
}

.fun-desc-lv3 {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 14px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

#mainTab .item-tab-body {
    background-color: #ebf1f5;
}

.fun-area-show {
    display: block;
}