.item-float-list {
    width: 100%;
    _height: 1%;
    overflow: auto;
    /*padding-bottom: 16px;*/
}

/*.item-float-list:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}*/

.item-float-list-row {
    position: relative;
    display: block;
    float: left;
    min-height: 50px;
    margin-left: 1%;
    border: none;
    transition: all 0.5s 0s;
}

.item-float-list-row:hover {
    background-color: #eef7f7;
}

.item-float-list-row-col-1 {
    width: 98%;
}

.item-float-list-row-col-2 {
    width: 48%;
}

.item-float-list-row-col-3 {
    width: 32%;
}

.item-float-list-row-col-4 {
    width: 23.5%;
}

.item-float-list-row-col-5 {
    width: 18.8%;
}

.item-float-list-row-col-6 {
    width: 15.5%;
}

.item-float-list-row-col-7 {
    width: 13%;
}

.item-float-list-row-col-8 {
    width: 11.25%;
}


.item-float-list-row table {
    width: 100%;
    height: 95%;
}

.item-float-list-close {
    filter: alpha(opacity=0);
    opacity: 0;
    mozopacity: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    background-image: url(../tab/tab_close.png);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    line-height: 1px;
    font-size: 1px;
    cursor: pointer;
    visibility: visible;
    z-index: 9999;
    transition: opacity 0.5s 0s;
}

.item-float-list-row:hover .item-float-list-close {
    filter: alpha(opacity=100);
    opacity: 1;
    mozopacity: 1;
}

.item-float-list-close:hover {
    background-position: -22px 0px;
}

.item-float-list-more-btn {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 2% 0px 2%;
    cursor: pointer;
}

.item-float-list-more-btn span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 25px;
    background-color: #f1f1f1;
    color: #000;
    transition: all 0.5s 0s;
}

.item-float-list-more-btn:hover span {
    background-color: #ccc;
    color: #fff;
}
.floatList-rowbox{
	/*padding:1px 0px 1px 1px;*/
}
.floatList-ckb{
	width:18px;
	height:18px;
	font-size:0pt;
	background-image: url(../checkbox/checkbox.gif);
	background-repeat: no-repeat;
}
.floatList-ckb-u{
	background-position: 0px 0px;
}
.floatList-ckb-c{
	background-position: -18px 0px;
	border:none !important;
}
.floatList-radio{
	width:18px;
	height:18px;
	border-radius:50%;
	font-size:0pt;
	background-image: url(../radio/radiobox.png);
	background-repeat: no-repeat;
}
.floatList-radio-img-u{
	background-position: 0px 0px;
}
.floatList-radio-img-c{
	background-position: -18px 0px;
	border:none !important;
}

.item-grid-wrap, .item-export-wrap {
	background-color: #fff;
	border-top: 1px solid #E7ECF1;
	/* border-radius: 4px; */
	/* -webkit-box-shadow: 4px 4px 7px 0px #d8dadb;
    -moz-box-shadow: 4px 4px 7px 0px #d8dadb;
    -o-box-shadow: 4px 4px 7px 0px #d8dadb;
    -ms-box-shadow: 4px 4px 7px 0px #d8dadb;
    box-shadow: 4px 4px 7px 0px #d8dadb; */
}

.grid-uh {
	background: #fff;
	border-top-right-radius: 4px;
}

.grid-lh, .grid-uh {
	cursor: default;
	-moz-user-select: none;
	width: 100%;
	overflow: hidden;
	/*border-left:1px solid #fff;*/
	/*background:url(../grid/grid_bg.gif) repeat-x;*/
	border-bottom: 1px solid #ccc;
}

.grid-lb table, .grid-lh table, .grid-uh table, .grid-ub table {
	margin-left: -1px;
	table-layout: fixed;
	/* border-right:1px solid #d0d0d0; */
	color: #333;
}

.export-hc {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #055a78;
	padding: 0;
	text-align: center;
	height: 25px;
	background: url(../grid/grid_bg.gif) repeat-x;
}

.item-export-wrap tbody td {
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 1px;
}

.item-export-wrap td div {
	overflow: hidden;
	white-space: nowrap;
}

.grid-rowbox {
	/*padding:1px;*/
	border-right: 1px solid #ccc;
	/*background-image:url(../grid/row-box.gif);*/
	background-repeat: repeat-y;
}

.row-alt {
	background-color: #f9f9f9; /* ebebeb */
}

.grid-cell {
	position: relative;
	padding-top: 2px;
	text-indent: 4px;
	/*ROW_HEIGHT - 2*/
	line-height: 33px; /*20px*/
	/*ROW_HEIGHT - 2*/
	height: 33px; /*22px*/
	text-overflow: ellipsis;
}

.item-list-foot .item-toolbar{
	border: none;
}

.item-list-row-selected{
	background-color: #c4ceff !important;
}

.floatlist-row-selected{
	background-color: #edf4ff !important;
}