<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <context:component-scan base-package="**.*.service"/>
    <context:component-scan base-package="**.*.components"/>
    <context:component-scan base-package="aurora.service" />
    <context:component-scan base-package="aurora.service.http" />

    <bean id="validator" class="com.hand.hap.core.validator.ComplexCommonValidator"/>

    <bean id="springAppContextHolder" class="uncertain.spring.core.SpringAppContextHolder" />

    <bean id="wflVersionProcessCache" class="com.hand.hec.wfl.cache.WflVersionProcessCache">
        <property name="name" value="workflow"/>
    </bean>

    <bean id="bpmCache" class="com.hand.hec.bpm.cache.BpmCache">
        <property name="name" value="bpm"/>
        <property name="type" value="java.lang.String"/>
    </bean>
</beans>
