<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.expm.mapper.ExpAmortizationAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.expm.dto.ExpAmortizationAccount">
        <result column="AMR_ACCOUNT_ID" property="amrAccountId" jdbcType="DECIMAL" />
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>
    <select id="accountId" resultType="int">
        select count(*)
          from exp_amortization_accounts ea
         where ea.enabled_flag = 'Y'
           and ea.set_of_books_id = #{setOfBooksId}
           and ea.account_id = #{accountId}
    </select>

</mapper>