<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.expm.mapper.ExpReportPmtSchTaxLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.expm.dto.ExpReportPmtSchTaxLine">
        <result column="TAX_LINE_ID" property="taxLineId" jdbcType="DECIMAL" />
        <result column="PAYMENT_SCHEDULE_LINE_ID" property="paymentScheduleLineId" jdbcType="DECIMAL" />
        <result column="TAX_TYPE_ID" property="taxTypeId" jdbcType="DECIMAL" />
        <result column="TAX_RATE" property="taxRate" jdbcType="DECIMAL" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
    </resultMap>
    <select id="getTaxAmountByHeaderId" resultType="decimal" parameterType="long">
        SELECT (case when sum(tl.tax_amount) is null then 0 else sum(tl.tax_amount) end) taxAmount
          FROM exp_report_pmt_schedule ps
     LEFT JOIN exp_report_pmt_sch_tax_line tl on ps.payment_schedule_line_id = tl.payment_schedule_line_id
        WHERE  ps.exp_report_header_id = #{expReportHeaderId};
    </select>


</mapper>