<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.expm.mapper.ExpReportInterfaceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.expm.dto.ExpReportInterface">
        <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL" />
        <result column="BATCH_LINE_ID" property="batchLineId" jdbcType="DECIMAL" />
        <result column="IMPORT_FLAG" property="importFlag" jdbcType="VARCHAR" />
        <result column="EXP_REPORT_BATCH_NUMBER" property="expReportBatchNumber" jdbcType="VARCHAR" />
        <result column="EXP_REPORT_TYPE_CODE" property="expReportTypeCode" jdbcType="VARCHAR" />
        <result column="HEAD_COMPANY_CODE" property="headCompanyCode" jdbcType="VARCHAR" />
        <result column="EXP_REPORT_BARCODE" property="expReportBarcode" jdbcType="VARCHAR" />
        <result column="HEAD_EMPLOYEE_CODE" property="headEmployeeCode" jdbcType="VARCHAR" />
        <result column="HEAD_POSITION_CODE" property="headPositionCode" jdbcType="VARCHAR" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
        <result column="PAYEE_CODE" property="payeeCode" jdbcType="VARCHAR" />
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="EXPENSE_USER_GROUP_CODE" property="expenseUserGroupCode" jdbcType="VARCHAR" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_QUOTATION" property="exchangeRateQuotation" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL" />
        <result column="REPORT_DATE" property="reportDate" jdbcType="VARCHAR" />
        <result column="HEAD_PERIOD_NAME" property="headPeriodName" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_NUM" property="attachmentNum" jdbcType="DECIMAL" />
        <result column="HEAD_DESCRIPTION" property="headDescription" jdbcType="VARCHAR" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="CITY" property="city" jdbcType="VARCHAR" />
        <result column="PLACE_CODE" property="placeCode" jdbcType="VARCHAR" />
        <result column="PLACE_TYPE_CODE" property="placeTypeCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DATE_FROM" property="dateFrom" jdbcType="VARCHAR" />
        <result column="DATE_TO" property="dateTo" jdbcType="VARCHAR" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="EXPENSE_TYPE_CODE" property="expenseTypeCode" jdbcType="VARCHAR" />
        <result column="EXPENSE_ITEM_CODE" property="expenseItemCode" jdbcType="VARCHAR" />
        <result column="BUDGET_ITEM_CODE" property="budgetItemCode" jdbcType="VARCHAR" />
        <result column="PRICE" property="price" jdbcType="DECIMAL" />
        <result column="PRIMARY_QUANTITY" property="primaryQuantity" jdbcType="DECIMAL" />
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
        <result column="UNIT_CODE" property="unitCode" jdbcType="VARCHAR" />
        <result column="POSITION_CODE" property="positionCode" jdbcType="VARCHAR" />
        <result column="RESP_CENTER_CODE" property="respCenterCode" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_CODE" property="employeeCode" jdbcType="VARCHAR" />
        <result column="DIMENSION1_CODE" property="dimension1Code" jdbcType="VARCHAR" />
        <result column="DIMENSION2_CODE" property="dimension2Code" jdbcType="VARCHAR" />
        <result column="DIMENSION3_CODE" property="dimension3Code" jdbcType="VARCHAR" />
        <result column="DIMENSION4_CODE" property="dimension4Code" jdbcType="VARCHAR" />
        <result column="DIMENSION5_CODE" property="dimension5Code" jdbcType="VARCHAR" />
        <result column="DIMENSION6_CODE" property="dimension6Code" jdbcType="VARCHAR" />
        <result column="DIMENSION7_CODE" property="dimension7Code" jdbcType="VARCHAR" />
        <result column="DIMENSION8_CODE" property="dimension8Code" jdbcType="VARCHAR" />
        <result column="DIMENSION9_CODE" property="dimension9Code" jdbcType="VARCHAR" />
        <result column="DIMENSION10_CODE" property="dimension10Code" jdbcType="VARCHAR" />
    </resultMap>


</mapper>