<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.expm.mapper.ExpReportReceiveMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.expm.dto.ExpReportReceive">
        <result column="RECEIVE_ID" property="receiveId" jdbcType="DECIMAL" />
        <result column="SEQUENCE_NUM" property="sequenceNum" jdbcType="DECIMAL" />
        <result column="RECEIVE_NUMBER" property="receiveNumber" jdbcType="VARCHAR" />
        <result column="RECEIVE_DATE" property="receiveDate" jdbcType="DATE" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_NUMBER" property="documentNumber" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
    </resultMap>


</mapper>