<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.expm.mapper.ExpReportObjectsLayoutMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.expm.dto.ExpReportObjectsLayout">
        <result column="EXP_REPORT_HEADER_ID" property="expReportHeaderId" jdbcType="DECIMAL" />
        <result column="LAYOUT_POSITION" property="layoutPosition" jdbcType="VARCHAR" />
        <result column="LAYOUT_PRIORITY" property="layoutPriority" jdbcType="DECIMAL" />
        <result column="EXPENSE_OBJECT_TYPE_ID" property="expenseObjectTypeId" jdbcType="DECIMAL" />
        <result column="DEFAULT_OBJECT_ID" property="defaultObjectId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>