<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.expm.mapper.ExpReportLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.expm.dto.ExpReportLine">
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
        <result column="EXP_REPORT_LINE_ID" property="expReportLineId" jdbcType="DECIMAL" />
        <result column="EXP_REPORT_HEADER_ID" property="expReportHeaderId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="REPORT_PAGE_ELEMENT_CODE" property="reportPageElementCode" jdbcType="VARCHAR" />
        <result column="PLACE_TYPE_ID" property="placeTypeId" jdbcType="DECIMAL" />
        <result column="PLACE_ID" property="placeId" jdbcType="DECIMAL" />
        <result column="CITY" property="city" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DATE_FROM" property="dateFrom" jdbcType="DATE" />
        <result column="DATE_TO" property="dateTo" jdbcType="DATE" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="BUSINESS_CURRENCY_CODE" property="businessCurrencyCode" jdbcType="VARCHAR" />
        <result column="BIZ2PAY_EXCHANGE_TYPE" property="biz2payExchangeType" jdbcType="VARCHAR" />
        <result column="BIZ2PAY_EXCHANGE_RATE" property="biz2payExchangeRate" jdbcType="DECIMAL" />
        <result column="PAYMENT_CURRENCY_CODE" property="paymentCurrencyCode" jdbcType="VARCHAR" />
        <result column="PAY2FUN_EXCHANGE_TYPE" property="pay2funExchangeType" jdbcType="VARCHAR" />
        <result column="PAY2FUN_EXCHANGE_RATE" property="pay2funExchangeRate" jdbcType="DECIMAL" />
        <result column="MANAGEMENT_CURRENCY_CODE" property="managementCurrencyCode" jdbcType="VARCHAR" />
        <result column="PAY2MAG_EXCHANGE_TYPE" property="pay2magExchangeType" jdbcType="VARCHAR" />
        <result column="PAY2MAG_EXCHANGE_RATE" property="pay2magExchangeRate" jdbcType="DECIMAL" />
        <result column="MO_EXPENSE_TYPE_ID" property="moExpenseTypeId" jdbcType="DECIMAL" />
        <result column="MO_EXPENSE_ITEM_ID" property="moExpenseItemId" jdbcType="DECIMAL" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="BUSINESS_PRICE" property="businessPrice" jdbcType="DECIMAL" />
        <result column="PAYMENT_PRICE" property="paymentPrice" jdbcType="DECIMAL" />
        <result column="MANAGEMENT_PRICE" property="managementPrice" jdbcType="DECIMAL" />
        <result column="PRIMARY_QUANTITY" property="primaryQuantity" jdbcType="DECIMAL" />
        <result column="PRIMARY_UOM" property="primaryUom" jdbcType="VARCHAR" />
        <result column="SECONDARY_QUANTITY" property="secondaryQuantity" jdbcType="DECIMAL" />
        <result column="SECONDARY_UOM" property="secondaryUom" jdbcType="VARCHAR" />
        <result column="BUSINESS_AMOUNT" property="businessAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
        <result column="MANAGEMENT_AMOUNT" property="managementAmount" jdbcType="DECIMAL" />
        <result column="REPORT_FUNCTIONAL_AMOUNT" property="reportFunctionalAmount" jdbcType="DECIMAL" />
        <result column="DISTRIBUTION_SET_ID" property="distributionSetId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
        <result column="PAYEE_ID" property="payeeId" jdbcType="DECIMAL" />
        <result column="PAYMENT_FLAG" property="paymentFlag" jdbcType="VARCHAR" />
        <result column="REPORT_STATUS" property="reportStatus" jdbcType="VARCHAR" />
        <result column="AUDIT_FLAG" property="auditFlag" jdbcType="VARCHAR" />
        <result column="AUDIT_DATE" property="auditDate" jdbcType="DATE" />
        <result column="AUDIT_DATE_TZ" property="auditDateTz" jdbcType="DATE" />
        <result column="AUDIT_DATE_LTZ" property="auditDateLtz" jdbcType="DATE" />
        <result column="WRITE_OFF_STATUS" property="writeOffStatus" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_COMLETED_DATE" property="writeOffComletedDate" jdbcType="DATE" />
        <result column="WRITE_OFF_COMLETED_DATE_TZ" property="writeOffComletedDateTz" jdbcType="DATE" />
        <result column="WRITE_OFF_COMLETED_DATE_LTZ" property="writeOffComletedDateLtz" jdbcType="DATE" />
        <result column="ATTACHMENT_NUM" property="attachmentNum" jdbcType="DECIMAL" />
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL" />
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL" />
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL" />
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL" />
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL" />
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL" />
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL" />
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL" />
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL" />
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL" />
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL" />
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL" />
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL" />
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL" />
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL" />
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL" />
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL" />
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL" />
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL" />
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL" />

        <!--非主表字段-->
        <result column="PLACE_TYPE_NAME" property="placeTypeName" jdbcType="VARCHAR"/>
        <result column="PLACE_NAME" property="placeName" jdbcType="VARCHAR"/>
        <result column="BUSINESS_CURRENCY_NAME" property="businessCurrencyName" jdbcType="VARCHAR"/>
        <result column="BUSINESS_CURRENCY_PRECISION" property="businessCurrencyPrecision" jdbcType="VARCHAR"/>
        <result column="BIZ2PAY_EXCHANGE_TYPE_NAME" property="biz2payExchangeTypeName" jdbcType="VARCHAR"/>
        <result column="PAYMENT_CURRENCY_NAME" property="paymentCurrencyName" jdbcType="VARCHAR"/>
        <result column="PAYMENT_CURRENCY_PRECISION" property="paymentCurrencyPrecision" jdbcType="VARCHAR"/>
        <result column="PAY2FUN_EXCHANGE_TYPE_NAME" property="pay2funExchangeTypeName" jdbcType="VARCHAR"/>
        <result column="MANAGEMENT_CURRENCY_NAME" property="managementCurrencyName" jdbcType="VARCHAR"/>
        <result column="MANAGEMENT_CURRENCY_PRECISION" property="managementCurrencyPrecision" jdbcType="VARCHAR"/>
        <result column="PAY2MAG_EXCHANGE_TYPE_NAME" property="pay2magExchangeTypeName" jdbcType="VARCHAR"/>
        <result column="MO_EXPENSE_TYPE_NAME" property="moExpenseTypeName" jdbcType="VARCHAR"/>
        <result column="MO_EXPENSE_ITEM_NAME" property="moExpenseItemName" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM_NAME" property="budgetItemName" jdbcType="VARCHAR"/>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR"/>
        <result column="POSITION_NAME" property="positionName" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR"/>
        <result column="ACC_ENTITY_NAME" property="accEntityName" jdbcType="VARCHAR"/>
        <result column="RESP_CENTER_NAME" property="respCenterName" jdbcType="VARCHAR"/>
        <result column="BGT_ENTITY_NAME" property="bgtEntityName" jdbcType="VARCHAR"/>
        <result column="BGT_CENTER_NAME" property="bgtCenterName" jdbcType="VARCHAR"/>
        <result column="PAYEE_CATEGORY_NAME" property="payeeCategoryName" jdbcType="VARCHAR"/>
        <result column="PAYEE_NAME" property="payeeName" jdbcType="VARCHAR"/>
        <result column="DIMENSION1_NAME" property="dimension1Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION2_NAME" property="dimension2Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION3_NAME" property="dimension3Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION4_NAME" property="dimension4Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION5_NAME" property="dimension5Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION6_NAME" property="dimension6Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION7_NAME" property="dimension7Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION8_NAME" property="dimension8Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION9_NAME" property="dimension9Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION10_NAME" property="dimension10Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION11_NAME" property="dimension11Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION12_NAME" property="dimension12Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION13_NAME" property="dimension13Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION14_NAME" property="dimension14Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION15_NAME" property="dimension15Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION16_NAME" property="dimension16Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION17_NAME" property="dimension17Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION18_NAME" property="dimension18Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION19_NAME" property="dimension19Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION20_NAME" property="dimension20Name" jdbcType="VARCHAR"/>
        <result column="DIMENSION1_LEVEL" property="dimension1Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION2_LEVEL" property="dimension2Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION3_LEVEL" property="dimension3Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION4_LEVEL" property="dimension4Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION5_LEVEL" property="dimension5Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION6_LEVEL" property="dimension6Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION7_LEVEL" property="dimension7Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION8_LEVEL" property="dimension8Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION9_LEVEL" property="dimension9Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION10_LEVEL" property="dimension10Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION11_LEVEL" property="dimension11Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION12_LEVEL" property="dimension12Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION13_LEVEL" property="dimension13Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION14_LEVEL" property="dimension14Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION15_LEVEL" property="dimension15Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION16_LEVEL" property="dimension16Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION17_LEVEL" property="dimension17Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION18_LEVEL" property="dimension18Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION19_LEVEL" property="dimension19Level" jdbcType="VARCHAR"/>
        <result column="DIMENSION20_LEVEL" property="dimension20Level" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getMaxLineNUmber" resultType="long">
        select (case max(p.line_number) when max(p.line_number) is null then 0 else max(p.line_number) end) lineNumber
        from exp_report_line p
        where p.exp_report_header_id = #{expReportHeaderId}
    </select>

    <select id="queryExpenseTypeDefault" resultMap="com.hand.hec.exp.mapper.ExpMoExpenseTypeMapper.BaseResultMap">
        SELECT
        emtv.mo_expense_type_id,
        emtv.mo_expense_type_code,
        (select et.description from exp_mo_expense_type_tl et where et.mo_expense_type_id = emtv.mo_expense_type_id and et.lang=#{request.locale}) AS description
        FROM
        exp_mo_report_type emrt,
        exp_mo_rep_type_ref_ele emre,
        exp_report_page_element erpe,
        exp_mo_rep_ele_ref_exp_tp emet,
        exp_mo_exp_type_asgn_com emac,
        exp_mo_expense_type emtv
        WHERE
        emrt.mo_exp_report_type_id    = emre.mo_exp_report_type_id AND
        emre.report_page_element_id   = erpe.report_page_element_id AND
        emre.rep_page_ele_ref_id      = emet.rep_page_ele_ref_id AND
        emet.mo_expense_type_id       = emac.mo_expense_type_id AND
        emac.mo_expense_type_id       = emtv.mo_expense_type_id AND
        emrt.enabled_flag             = 'Y' AND
        emre.enabled_flag             = 'Y' AND
        erpe.enabled_flag             = 'Y' AND
        emet.enabled_flag             = 'Y' AND
        emac.enabled_flag             = 'Y' AND
        emtv.enabled_flag             = 'Y' AND
        emet.default_flag             = 'Y'
        <if test = "moExpReportTypeId != null">
            and emrt.mo_exp_report_type_id = #{moExpReportTypeId}
        </if>
        <if test = "pageElementCode != null">
            and erpe.report_page_element_code = #{pageElementCode}
        </if>
        <if test = "companyId != null">
            and emac.company_id   = #{companyId}
        </if>
        ORDER BY
        emtv.mo_expense_type_code
    </select>
    <select id="queryExpenseType" resultMap="com.hand.hec.exp.mapper.ExpMoExpenseTypeMapper.BaseResultMap">
        SELECT
        emtv.mo_expense_type_id,
        emtv.mo_expense_type_code,
        (select et.description from exp_mo_expense_type_tl et where et.mo_expense_type_id = emtv.mo_expense_type_id and et.lang=#{request.locale}) AS description
        FROM
        exp_mo_report_type emrt,
        exp_mo_rep_type_ref_ele emre,
        exp_report_page_element erpe,
        exp_mo_rep_ele_ref_exp_tp emet,
        exp_mo_exp_type_asgn_com emac,
        exp_mo_expense_type emtv
        WHERE
        emrt.mo_exp_report_type_id    = emre.mo_exp_report_type_id AND
        emre.report_page_element_id   = erpe.report_page_element_id AND
        emre.rep_page_ele_ref_id      = emet.rep_page_ele_ref_id AND
        emet.mo_expense_type_id       = emac.mo_expense_type_id AND
        emac.mo_expense_type_id       = emtv.mo_expense_type_id AND
        emrt.enabled_flag             = 'Y' AND
        emre.enabled_flag             = 'Y' AND
        erpe.enabled_flag             = 'Y' AND
        emet.enabled_flag             = 'Y' AND
        emac.enabled_flag             = 'Y' AND
        emtv.enabled_flag             = 'Y'
        <if test = "moExpReportTypeId != null">
            and emrt.mo_exp_report_type_id = #{moExpReportTypeId}
        </if>
        <if test = "pageElementCode != null">
            and erpe.report_page_element_code = #{pageElementCode}
        </if>
        <if test = "companyId != null">
            and emac.company_id   = #{companyId}
        </if>
        ORDER BY
        emtv.mo_expense_type_code
    </select>

<!--    <select id="queryTaxTypeCode" resultMap="BaseResultMap">-->
<!--        SELECT-->
<!--        ftcv.tax_type_id,-->
<!--        ftcv.tax_type_code,-->
<!--        ftcv.description tax_type_name,-->
<!--        concat(ftcv.tax_type_code,'-',ftcv.description) tax_type_code_name,-->
<!--        ftcv.tax_type_rate,-->
<!--        ftcv.withholding_flag,-->
<!--        ftcv.country_code,-->
<!--        ftcv.tax_category,-->
<!--        ftcv.auto_calculation_flag,-->
<!--        ftcv.sale_tax_flag-->
<!--        FROM-->
<!--        fnd_tax_type_code ftcv-->
<!--        WHERE-->
<!--        ftcv.enabled_flag = 'Y' AND-->
<!--        EXISTS-->
<!--        (SELECT-->
<!--        1-->
<!--        FROM-->
<!--        fnd_tax_type_code_ref_ae ftra,-->
<!--        fnd_company_ref_acc_entity fcrae-->
<!--        WHERE-->
<!--        ftra.tax_type_id = ftcv.tax_type_id AND-->
<!--        (-->
<!--        ftra.acc_entity_id = fcrae.acc_entity_id-->
<!--        <if test = "accEntityId != null">-->
<!--            OR ftra.acc_entity_id = #{accEntityId}-->
<!--        </if>-->
<!--        )-->
<!--        AND-->
<!--        ftra.enabled_flag = 'Y'-->
<!--        and fcrae.enabled_flag = 'Y'-->
<!--        and fcrae.default_flag = 'Y'-->
<!--        <if test = "companyId != null">-->
<!--            and fcrae.company_id = #{companyId}-->
<!--        </if>-->
<!--        )-->
<!--        <if test = "withholdingFlag != null">-->
<!--            and ftcv.withholding_flag = #{withholdingFlag}-->
<!--        </if>-->
<!--        ORDER BY-->
<!--        ftcv.tax_type_rate-->
<!--    </select>-->
    <select id="getReportPageElementCode" resultType="string">
        select a.report_page_element_code
          from exp_report_line a
         where a.exp_report_header_id = #{expReportHeaderId}
           and a.primary_quantity > 0
      group by a.report_page_element_code;
    </select>

    <update id="batchUpdate">
        update exp_report_line t
         set t.audit_flag       = #{auditFlag},
             t.audit_date       = #{auditDate},
             t.audit_date_tz    = #{auditDateTime,jdbcType = TIMESTAMP},
             t.audit_date_ltz   = #{auditDateTime,jdbcType = TIMESTAMP},
             t.last_updated_by  = #{request.userId,jdbcType = DECIMAL},
             t.last_update_date = current_time
       where t.exp_report_header_id = #{expReportHeaderId}
    </update>

    <update id="updateStatus">
        update exp_report_line l
         set l.report_status = #{reportStatus},
             l.last_updated_by = #{userId},
             last_update_date = current_time
       where l.exp_report_header_id = #{expReportHeaderId}
    </update>

    <update id="auditRejectBatchUpdate">
         update exp_report_line t
         set t.report_status    = #{reportStatus},
             t.audit_flag       = #{auditFlag},
             t.audit_date       = null,
             t.audit_date_tz    = null,
             t.audit_date_ltz   = null,
             t.last_updated_by  = #{request.userId},
             t.last_update_date = current_time
       where t.exp_report_header_id = #{expReportHeaderId}
    </update>

    <select id="checkDisAmount" resultType="long">
        select count(1)
          from exp_report_line l
         where (select sum(d.payment_amount)
                  from exp_report_dist d
                 where d.exp_report_line_id = l.exp_report_line_id) != l.payment_amount
           and l.exp_report_header_id = #{expReportHeaderId}
    </select>
    <select id="queryExpenseItem" resultMap="com.hand.hec.exp.mapper.ExpMoExpenseItemMapper.BaseResultMap">
                    SELECT
                        emiv.mo_expense_item_id,
                        emiv.mo_expense_item_code,
                        (select et.description from exp_mo_expense_item_tl et where et.mo_expense_item_id = emiv.mo_expense_item_id and et.lang=#{request.locale}) description
                    FROM
                        exp_mo_report_type emrt,
                        exp_mo_rep_type_ref_ele emre,
                        exp_mo_rep_ele_ref_exp_tp emet,
                        exp_report_page_element erpe,
                        exp_mo_expense_type emtx,
                        exp_mo_exp_type_asgn_com emac,
                        exp_mo_rep_ele_ref_exp_it emei,
                        exp_mo_expense_item emiv,
                        exp_mo_exp_item_asgn_com emcx
                    WHERE
                        emrt.mo_exp_report_type_id    = #{moExpReportTypeId} AND
                        emrt.mo_exp_report_type_id    = emre.mo_exp_report_type_id AND
                        emre.rep_page_ele_ref_id      = emet.rep_page_ele_ref_id AND
                        emre.report_page_element_id   = erpe.report_page_element_id AND
                        erpe.report_page_element_code = #{pageElementCode} AND
                        emet.mo_expense_type_id       = #{moExpenseTypeId} AND
                        emet.mo_expense_type_id       = emtx.mo_expense_type_id AND
                        emtx.mo_expense_type_id       = emac.mo_expense_type_id AND
                        emac.company_id               = #{companyId} AND
                        emet.exp_type_ref_id          = emei.exp_type_ref_id AND
                        emei.mo_expense_item_id       = emiv.mo_expense_item_id AND
                        emiv.mo_expense_item_id       = emcx.mo_expense_item_id AND
                        emcx.company_id               = #{companyId} AND
                        emet.apponit_item_flag        = 'Y' AND
                        emrt.enabled_flag             = 'Y' AND
                        emre.enabled_flag             = 'Y' AND
                        emet.enabled_flag             = 'Y' AND
                        erpe.enabled_flag             = 'Y' AND
                        emtx.enabled_flag             = 'Y' AND
                        emac.enabled_flag             = 'Y' AND
                        emei.enabled_flag             = 'Y' AND
                        emiv.enabled_flag             = 'Y' AND
                        emcx.enabled_flag             = 'Y'
                    UNION ALL
                    SELECT
                        emiv.mo_expense_item_id,
                        emiv.mo_expense_item_code,
                        (select et.description from exp_mo_expense_item_tl et where et.mo_expense_item_id = emiv.mo_expense_item_id and et.lang=#{request.locale}) description
                    FROM
                        exp_mo_report_type emrt,
                        exp_mo_rep_type_ref_ele emre,
                        exp_mo_rep_ele_ref_exp_tp emet,
                        exp_report_page_element erpe,
                        exp_mo_expense_type emtx,
                        exp_mo_exp_type_asgn_com emac,
                        exp_mo_exp_type_ref_exp_it emei,
                        exp_mo_expense_item emiv,
                        exp_mo_exp_item_asgn_com emcx
                    WHERE
                        emrt.mo_exp_report_type_id    = #{moExpReportTypeId} AND
                        emrt.mo_exp_report_type_id    = emre.mo_exp_report_type_id AND
                        emre.rep_page_ele_ref_id      = emet.rep_page_ele_ref_id AND
                        emre.report_page_element_id   = erpe.report_page_element_id AND
                        erpe.report_page_element_code = #{pageElementCode} AND
                        emet.mo_expense_type_id       = #{moExpenseTypeId} AND
                        emet.mo_expense_type_id       = emtx.mo_expense_type_id AND
                        emtx.mo_expense_type_id       = emac.mo_expense_type_id AND
                        emac.company_id               = #{companyId} AND
                        emet.mo_expense_type_id       = emei.mo_expense_type_id AND
                        emei.mo_expense_item_id       = emiv.mo_expense_item_id AND
                        emiv.mo_expense_item_id       = emcx.mo_expense_item_id AND
                        emcx.company_id               = #{companyId} AND
                        emet.apponit_item_flag        = 'N' AND
                        emrt.enabled_flag             = 'Y' AND
                        emre.enabled_flag             = 'Y' AND
                        emet.enabled_flag             = 'Y' AND
                        erpe.enabled_flag             = 'Y' AND
                        emtx.enabled_flag             = 'Y' AND
                        emac.enabled_flag             = 'Y' AND
                        emei.enabled_flag             = 'Y' AND
                        emiv.enabled_flag             = 'Y' AND
                        emcx.enabled_flag             = 'Y'
    </select>

    <select id="reportLineQuery" resultMap="BaseResultMap">
        SELECT
                    l.exp_report_line_id,
                    l.exp_report_header_id,
                    l.line_number,
                    l.report_page_element_code,
                    l.place_type_id,
                    (select ept.DESCRIPTION from exp_policy_place_type ep left join exp_policy_place_type_tl ept on ep.PLACE_TYPE_ID = ept.PLACE_TYPE_ID and ept.LANG = #{request.locale} where ep.PLACE_TYPE_ID =  l.place_type_id) AS place_type_name,
                    l.place_id,
                    (select ept.DESCRIPTION from exp_policy_place ep left join exp_policy_place_tl ept on ep.PLACE_ID = ept.PLACE_ID and ept.LANG = #{request.locale} where ep.PLACE_ID = l.place_id) AS place_name,
                    l.city,
                    l.description,
                    l.date_from,
                    l.date_to,
                    l.period_name,
                    l.business_currency_code,
                    (SELECT gct.currency_name FROM gld_currency gc LEFT JOIN gld_currency_tl gct ON gc.currency_id = gct.currency_id AND gct.lang = #{request.locale} WHERE gc.currency_code = l.business_currency_code) AS business_currency_name,
                    (SELECT gc.transaction_precision FROM gld_currency gc where gc.currency_code = l.business_currency_code) AS business_currency_precision,
                    l.biz2pay_exchange_type,
                    (SELECT gett.description FROM gld_exchangerate_type ge LEFT JOIN gld_exchangerate_type_tl gett ON ge.TYPE_ID = gett.TYPE_ID AND gett.LANG = #{request.locale} where ge.TYPE_CODE = l.biz2pay_exchange_type) AS biz2pay_exchange_type_name,
                    l.biz2pay_exchange_rate,
                    l.payment_currency_code,
                    (SELECT gct.currency_name FROM gld_currency gc LEFT JOIN gld_currency_tl gct ON gc.currency_id = gct.currency_id AND gct.lang = #{request.locale} WHERE gc.currency_code = l.payment_currency_code) AS payment_currency_name,
                    (SELECT gc.finance_precision FROM gld_currency gc where gc.currency_code = l.payment_currency_code) AS payment_currency_precision,
                    l.pay2fun_exchange_type,
                    (SELECT gett.description FROM gld_exchangerate_type ge LEFT JOIN gld_exchangerate_type_tl gett ON ge.TYPE_ID = gett.TYPE_ID AND gett.LANG = #{request.locale} where ge.TYPE_CODE = l.pay2fun_exchange_type) AS pay2fun_exchange_type_name,
                    l.pay2fun_exchange_rate,
                    l.management_currency_code,
                    (SELECT gct.currency_name FROM gld_currency gc LEFT JOIN gld_currency_tl gct ON gc.currency_id = gct.currency_id AND gct.lang = #{request.locale} WHERE gc.currency_code = l.management_currency_code) AS management_currency_name,
                    (SELECT gc.transaction_precision FROM gld_currency gc where gc.currency_code = l.management_currency_code) AS management_currency_precision,
                    l.pay2mag_exchange_type,
                    (SELECT gett.description FROM gld_exchangerate_type ge LEFT JOIN gld_exchangerate_type_tl gett ON ge.TYPE_ID = gett.TYPE_ID AND gett.LANG = #{request.locale} where ge.TYPE_CODE = l.pay2mag_exchange_type) AS pay2mag_exchange_type_name,
                    l.pay2mag_exchange_rate,
                    l.mo_expense_type_id,
                    (select emtt.DESCRIPTION from exp_mo_expense_type emt left join exp_mo_expense_type_tl emtt on emt.MO_EXPENSE_TYPE_ID = emtt.MO_EXPENSE_TYPE_ID and emtt.LANG = #{request.locale} where emt.MO_EXPENSE_TYPE_ID = l.mo_expense_type_id) AS mo_expense_type_name,
                    l.mo_expense_item_id,
                    (select eit.DESCRIPTION from exp_mo_expense_item ei left join exp_mo_expense_item_tl eit on ei.MO_EXPENSE_ITEM_ID = eit.MO_EXPENSE_ITEM_ID and eit.LANG = #{request.locale} where ei.MO_EXPENSE_ITEM_ID = l.mo_expense_item_id) AS mo_expense_item_name,
                    l.budget_item_id,
                    (select bit.DESCRIPTION from bgt_budget_item bi left join bgt_budget_item_tl bit on bi.BUDGET_ITEM_ID = bit.BUDGET_ITEM_ID and bit.LANG = #{request.locale} where bi.BUDGET_ITEM_ID = l.budget_item_id) AS budget_item_name,
                    l.business_price,
                    l.payment_price,
                    l.management_price,
                    l.primary_quantity,
                    l.primary_uom,
                    l.secondary_quantity,
                    l.secondary_uom,
                    l.business_amount,
                    l.payment_amount,
                    l.management_amount,
                    l.report_functional_amount,
                    l.report_functional_amount functional_amount,
                    l.distribution_set_id,
                    l.company_id,
                    (SELECT fct.company_short_name FROM fnd_company fc LEFT JOIN fnd_company_tl fct ON fc.company_id = fct.company_id and fct.LANG = #{request.locale} where fc.COMPANY_ID = l.company_id) AS company_name,
                    l.operation_unit_id,
                    l.unit_id,
                    (SELECT eout.description FROM exp_org_unit eou LEFT JOIN exp_org_unit_tl eout ON eou.unit_id = eout.unit_id AND eout.lang = #{request.locale} WHERE eou.unit_id = l.unit_id) AS unit_name,
                    l.position_id,
                    (SELECT eopt.description FROM exp_org_position eop LEFT JOIN exp_org_position_tl eopt ON eop.position_id = eopt.position_id AND eopt.lang = #{request.locale} WHERE eop.position_id = l.position_id) AS position_name,
                    l.employee_id,
                    (select ee.name from exp_employee ee where ee.employee_id = l.employee_id) AS employee_name,
                    l.acc_entity_id,
                    (SELECT gaet.acc_entity_name FROM gld_accounting_entity gae LEFT JOIN gld_accounting_entity_tl gaet ON gae.ACC_ENTITY_ID = gaet.ACC_ENTITY_ID  AND gaet.LANG = #{request.locale} where gae.ACC_ENTITY_ID = l.acc_entity_id) AS acc_entity_name,
                    l.resp_center_id,
                    (SELECT grct.responsibility_center_name FROM gld_responsibility_center grc LEFT JOIN gld_responsibility_center_tl grct ON grc.RESPONSIBILITY_CENTER_ID = grct.RESPONSIBILITY_CENTER_ID AND grct.LANG = #{request.locale} where grct.RESPONSIBILITY_CENTER_ID = l.resp_center_id) AS resp_center_name,
                    l.bgt_entity_id,
                    (SELECT bet.description FROM bgt_entity be LEFT JOIN bgt_entity_tl bet ON be.entity_id = bet.entity_id AND bet.lang = #{request.locale} WHERE be.entity_id = l.bgt_entity_id) AS bgt_entity_name,
                    l.bgt_center_id,
                    (SELECT bct.description FROM bgt_center bc LEFT JOIN bgt_center_tl bct ON bc.center_id = bct.center_id AND bct.lang = #{request.locale} WHERE bc.center_id = l.bgt_center_id) AS bgt_center_name,
                    l.payee_category,
                    (SELECT scv.MEANING FROM sys_code_value_b scv LEFT JOIN sys_code_b sc ON scv.code_id = sc.code_id WHERE scv.VALUE = l.payee_category AND sc.CODE = 'PAYMENT_OBJECT') AS payee_category_name,
                    l.payee_id,
                    null AS payee_name,
                    l.dimension1_id,
                    l.dimension2_id,
                    l.dimension3_id,
                    l.dimension4_id,
                    l.dimension5_id,
                    l.dimension6_id,
                    l.dimension7_id,
                    l.dimension8_id,
                    l.dimension9_id,
                    l.dimension10_id,
                    l.dimension11_id,
                    l.dimension12_id,
                    l.dimension13_id,
                    l.dimension14_id,
                    l.dimension15_id,
                    l.dimension16_id,
                    l.dimension17_id,
                    l.dimension18_id,
                    l.dimension19_id,
                    l.dimension20_id,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension1_id) AS dimension1_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension2_id) AS dimension2_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension3_id) AS dimension3_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension4_id) AS dimension4_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension5_id) AS dimension5_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension6_id) AS dimension6_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension7_id) AS dimension7_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension8_id) AS dimension8_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension9_id) AS dimension9_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension10_id) AS dimension10_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension11_id) AS dimension11_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension12_id) AS dimension12_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension13_id) AS dimension13_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension14_id) AS dimension14_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension15_id) AS dimension15_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension16_id) AS dimension16_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension17_id) AS dimension17_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension18_id) AS dimension18_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension19_id) AS dimension19_name,
                    (SELECT fdvt.description FROM fnd_dimension_value fdv LEFT JOIN fnd_dimension_value_tl fdvt ON fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale} where fdv.DIMENSION_VALUE_ID = l.dimension20_id) AS dimension20_name,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 1) AS dimension1_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 2) AS dimension2_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 3) AS dimension3_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 4) AS dimension4_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 5) AS dimension5_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 6) AS dimension6_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 7) AS dimension7_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 8) AS dimension8_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 9) AS dimension9_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 10) AS dimension10_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 11) AS dimension11_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 12) AS dimension12_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 13) AS dimension13_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 14) AS dimension14_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 15) AS dimension15_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 16) AS dimension16_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 17) AS dimension17_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 18) AS dimension18_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 19) AS dimension19_level,
                    (select (case when fd.company_level is null then fd.system_level else fd.company_level end) from fnd_dimension fd where fd.dimension_sequence = 20) AS dimension20_level
                FROM
                    exp_report_line l
                WHERE
                    l.exp_report_header_id     = #{expReportHeaderId} AND
                    l.report_page_element_code = #{reportPageElementCode}
                order by
                    l.line_number
    </select>

    <select id="getTotalPaymentAmount" resultType="java.math.BigDecimal">
        SELECT
	    CASE
        WHEN sum(l.payment_amount) IS NULL THEN
	        0
        ELSE
	      sum(l.payment_amount)
        END AS total_payment_amount
        FROM
	        exp_report_line l
        WHERE
	        l.exp_report_header_id = #{reportHeaderId}
    </select>
</mapper>