<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetItemAsgnComMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetItemAsgnCom">
        <result column="ASSIGN_MO_ID" property="assignMoId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="ASSIGN_COM_ID" property="assignComId" jdbcType="DECIMAL"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hec.bgt.dto.BgtBudgetItemAsgnCom" resultMap="BaseResultMap">
        SELECT
        bbac.assign_com_id,
        bbac.assign_mo_id,
        bbac.company_id,
        fc.company_code,
        fct.company_short_name company_name,
        fc.company_full_name,
        bbac.enabled_flag
        FROM
        bgt_budget_item_asgn_com bbac
        LEFT OUTER JOIN fnd_company fc ON ( bbac.company_id = fc.company_id )
        LEFT OUTER JOIN fnd_company_tl fct ON ( fc.COMPANY_ID = fct.company_id AND fct.LANG =
        #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String} )
        <where>
            <if test="assignMoId!=null">
                and bbac.assign_mo_id = #{assignMoId}
            </if>
        </where>
        <trim prefix="where" prefixOverrides="and">
        </trim>
    </select>

    <update id="updateByAssignMoId" parameterType="com.hand.hec.bgt.dto.BgtBudgetItemAsgnCom">
        UPDATE bgt_budget_item_asgn_com
        SET enabled_flag = 'Y',
            last_updated_by = #{request.userId},
            last_update_date = CURRENT_TIMESTAMP
        WHERE
            assign_mo_id = #{assignMoId}
            AND company_id = #{companyId}
    </update>


</mapper>