<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetReserveMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetReserve">
        <result column="BUDGET_RESERVE_LINE_ID" property="budgetReserveLineId" jdbcType="DECIMAL" />
        <result column="RESERVE_COMPANY_ID" property="reserveCompanyId" jdbcType="DECIMAL" />
        <result column="RESERVE_OPERATION_UNIT_ID" property="reserveOperationUnitId" jdbcType="DECIMAL" />
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="RELEASE_ID" property="releaseId" jdbcType="DECIMAL" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="RESERVE_FLAG" property="reserveFlag" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="MANUAL_FLAG" property="manualFlag" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_LINE_ID" property="documentLineId" jdbcType="DECIMAL" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL" />
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="FUNCTIONAL_AMOUNT" property="functionalAmount" jdbcType="DECIMAL" />
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL" />
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL" />
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL" />
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL" />
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL" />
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL" />
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL" />
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL" />
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL" />
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL" />
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL" />
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL" />
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL" />
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL" />
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL" />
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL" />
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL" />
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL" />
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL" />
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="DECIMAL" />
        <result column="INTERNAL_PERIOD_NUM" property="internalPeriodNum" jdbcType="DECIMAL"/>

        <result column="AMOUNT_SUM" property="amountSum" jdbcType="DECIMAL" />
        <result column="QUANTITY_SUM" property="quantitySum" jdbcType="DECIMAL" />
    </resultMap>

    <update id="updateForStatus">
        UPDATE bgt_budget_reserve r
           SET r.STATUS = #{status},
               r.last_update_date = CURRENT_TIME,
               r.last_updated_by = #{request.userId}
         WHERE
            r.business_type = #{businessType}
           AND r.document_id = #{documentId}
    </update>

    <update id="updateReqAmount">
        update bgt_budget_reserve bbr
           set bbr.last_update_date  = CURRENT_TIME,
               bbr.last_updated_by   = #{userId},
               bbr.amount            = #{amount},
               bbr.functional_amount = #{functionalAmount}
         where bbr.business_type = 'EXP_REQUISITION'
               and bbr.document_id = #{expRequisitionHeaderId}
               and
               bbr.document_line_id = #{expRequisitionDistId}
               and bbr.release_id = #{releaseId}
    </update>
    <update id="updateReqQty">
        update bgt_budget_reserve bbr
           set bbr.last_update_date  = CURRENT_TIME,
               bbr.last_updated_by   = #{userId},
               bbr.quantity          = #{quantity}
         where bbr.business_type = 'EXP_REQUISITION'
               and bbr.document_id = #{expRequisitionHeaderId}
               and
               bbr.document_line_id = #{expRequisitionDistId}
               and bbr.release_id = #{releaseId}
    </update>

    <update id="updateRequisitionRelease">
       update bgt_budget_reserve bbr
         set bbr.status           = #{status},
             bbr.last_update_date = CURRENT_TIME,
             bbr.last_updated_by  = #{userId}
       where bbr.business_type = 'EXP_REQUISITION'
             and exists
       (select 1
                from exp_requisition_release err
               where err.document_type = 'EXP_REPORT'
                     and err.document_id = #{expReportHeaderId}
                     and err.release_id = bbr.release_id)
    </update>
    <select id="selectTaxAmountReserveInfo" resultMap="BaseResultMap">
        SELECT
	          *
          FROM
	          bgt_budget_reserve bbr
        WHERE
	          bbr.business_type = 'VAT_INVOICE'
          AND EXISTS (
	            SELECT
		            1
	            FROM
		            vat_invoice_relation vir,
		            vat_invoice_rel_tax_ln vitl
	            WHERE
		            vir.document_category = 'EXP_REPORT'
	            AND vir.document_id = #{expReportHeaderId}
	            AND vir.document_line_id = #{expReportLineId}
	            AND vir.document_dist_id = #{expReportDistId}
	            AND vir.relation_id = vitl.relation_id
	            AND vitl.relation_id = bbr.document_id
	            AND vitl.relation_tax_line_id = bbr.document_line_id
            )
    </select>
    <select id="getBudgetReserveSum" resultMap="BaseResultMap">

    </select>

    <select id="getBudgetReservesBalance" resultType="com.hand.hec.bgt.dto.BgtBudgetReserve">
       select (case when sum(bbr.amount) is null then 0 else sum(bbr.amount)) as amount,
           (case when sum(bbr.quantity) is null then 0 else sum(bbr.quantity)) as quantity
      from bgt_budget_reserve bbr
     where bbr.business_type = #{businessType}
           and bbr.document_line_id = #{documentLineId}
    </select>

    <select id="getBgtReserveByLineId" resultMap="BaseResultMap">
        select r.budget_reserve_line_id
             r.bgt_org_id,
             r.bgt_entity_id,
             r.bgt_center_id,
             r.dimension1_id,
             r.dimension2_id,
             r.dimension3_id,
             r.dimension4_id,
             r.dimension5_id,
             r.dimension6_id,
             r.dimension7_id,
             r.dimension8_id,
             r.dimension9_id,
             r.dimension10_id,
             r.dimension11_id,
             r.dimension12_id,
             r.dimension13_id,
             r.dimension14_id,
             r.dimension15_id,
             r.dimension16_id,
             r.dimension17_id,
             r.dimension18_id,
             r.dimension19_id,
             r.dimension20_id,
             r.budget_item_id,
             r.period_name,
             r.company_id,
             r.operation_unit_id,
             r.unit_id,
             r.position_id,
             r.employee_id,
             r.responsibility_center_id,
             r.amount,
             r.functional_amount,
             r.quantity
        from exp_report_dist    t,
             bgt_budget_reserve r
       where t.exp_report_line_id = #{expReportLineId}
             and r.document_line_id = t.exp_report_dist_id
             and r.business_type = 'EXP_REPORT'
             and (r.status = 'N' or #{budgetScheduleFlag} = 'Y')
    </select>

</mapper>