<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetReserveExtendBakMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetReserveExtendBak">
        <result column="BUDGET_RESERVE_LINE_ID" property="budgetReserveLineId" jdbcType="DECIMAL" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL" />
        <result column="EXCHANGE_DATE" property="exchangeDate" jdbcType="DATE" />
        <result column="EXCHANGE_PERIOD_NAME" property="exchangePeriodName" jdbcType="VARCHAR" />
    </resultMap>


</mapper>