<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBalanceQueryResultMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBalanceQueryResult">
        <result column="SESSION_ID" property="sessionId" jdbcType="BIGINT"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="BIGINT"/>
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="BIGINT"/>
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="BIGINT"/>
        <result column="STRUCTURE_ID" property="structureId" jdbcType="BIGINT"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="BIGINT"/>
        <result column="VERSION_ID" property="versionId" jdbcType="BIGINT"/>
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="BIGINT"/>
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="BIGINT"/>
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="BIGINT"/>
        <result column="BUDGET_ITEM_TYPE_ID" property="budgetItemTypeId" jdbcType="BIGINT"/>
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="BIGINT"/>
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="BIGINT"/>
        <result column="PERIOD_QUARTER" property="periodQuarter" jdbcType="BIGINT"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="BIGINT"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="BGT_AMOUNT" property="bgtAmount" jdbcType="DECIMAL"/>
        <result column="BGT_FUN_AMOUNT" property="bgtFunAmount" jdbcType="DECIMAL"/>
        <result column="BGT_QUANTITY" property="bgtQuantity" jdbcType="DECIMAL"/>
        <result column="EXP_RESERVE_AMOUNT" property="expReserveAmount" jdbcType="DECIMAL"/>
        <result column="EXP_RESERVE_FUN_AMOUNT" property="expReserveFunAmount" jdbcType="DECIMAL"/>
        <result column="EXP_RESERVE_QUANTITY" property="expReserveQuantity" jdbcType="DECIMAL"/>
        <result column="EXP_USED_AMOUNT" property="expUsedAmount" jdbcType="DECIMAL"/>
        <result column="EXP_USED_FUN_AMOUNT" property="expUsedFunAmount" jdbcType="DECIMAL"/>
        <result column="EXP_USED_QUANTITY" property="expUsedQuantity" jdbcType="DECIMAL"/>
        <result column="EXP_AVAILABLE_AMOUNT" property="expAvailableAmount" jdbcType="DECIMAL"/>
        <result column="EXP_AVAILABLE_FUN_AMOUNT" property="expAvailableFunAmount" jdbcType="DECIMAL"/>
        <result column="EXP_AVAILABLE_QUANTITY" property="expAvailableQuantity" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="BIGINT"/>
        <result column="UNIT_GROUP_ID" property="unitGroupId" jdbcType="BIGINT"/>
        <result column="UNIT_LEVEL_ID" property="unitLevelId" jdbcType="BIGINT"/>
        <result column="POSITION_ID" property="positionId" jdbcType="BIGINT"/>
        <result column="POSITION_GROUP_ID" property="positionGroupId" jdbcType="BIGINT"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="BIGINT"/>
        <result column="EMPLOYEE_GROUP_ID" property="employeeGroupId" jdbcType="BIGINT"/>
        <result column="EMPLOYEE_LEVEL_ID" property="employeeLevelId" jdbcType="BIGINT"/>
        <result column="EMPLOYEE_JOB_ID" property="employeeJobId" jdbcType="BIGINT"/>
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="BIGINT"/>
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="BIGINT"/>
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="BIGINT"/>
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="BIGINT"/>
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="BIGINT"/>
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="BIGINT"/>
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="BIGINT"/>
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="BIGINT"/>
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="BIGINT"/>
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="BIGINT"/>
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="BIGINT"/>
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="BIGINT"/>
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="BIGINT"/>
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="BIGINT"/>
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="BIGINT"/>
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="BIGINT"/>
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="BIGINT"/>
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="BIGINT"/>
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="BIGINT"/>
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="BIGINT"/>
        <result column="QUANTITY_AMOUNT" property="quantityAmount" jdbcType="VARCHAR"/>
        <result column="AVAILABLE" property="available" jdbcType="DECIMAL"/>
        <result column="USED" property="used" jdbcType="DECIMAL"/>
        <result column="RESERVE" property="reserve" jdbcType="DECIMAL"/>
        <result column="BGT" property="bgt" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_NAME" property="bgtOrgName" jdbcType="VARCHAR"/>
        <result column="BGT_ENTITY_NAME" property="bgtEntityName" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM_TYPE" property="budgetItemType" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM" property="budgetItem" jdbcType="VARCHAR"/>
        <result column="COMPANY" property="company" jdbcType="VARCHAR"/>
        <result column="UNIT" property="unit" jdbcType="VARCHAR"/>
        <result column="UNIT_GROUP" property="unitGroup" jdbcType="VARCHAR"/>
        <result column="POSITION" property="position" jdbcType="VARCHAR"/>
        <result column="POSITION_GROUP" property="positionGroup" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE" property="employee" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_GROUP" property="employeeGroup" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_JOB" property="employeeJob" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_LEVEL" property="employeeLevel" jdbcType="VARCHAR"/>
        <result column="BUDGET_STRUCTURE" property="budgetStructure" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="groupResult">
        insert into bgt_balance_query_result
              (session_id,
               bgt_org_id,
               structure_id,
               version_id,
               scenario_id,
               bgt_amount,
               bgt_fun_amount,
               bgt_quantity,
               exp_reserve_amount,
               exp_reserve_fun_amount,
               exp_reserve_quantity,
               exp_used_amount,
               exp_used_fun_amount,
               exp_used_quantity
               ${groupField}
               )
        select
        #{request.sessionId},
        #{group.bgtOrgId},
        #{group.structureId},
        #{group.versionId},
        #{group.scenarioId},
        sum(bgt_amount),
        sum(bgt_fun_amount),
        sum(bgt_quantity),
        sum(exp_reserve_amount),
        sum(exp_reserve_fun_amount),
        sum(exp_reserve_quantity),
        sum(exp_used_amount),
        sum(exp_used_fun_amount),
        sum(exp_used_quantity)
        ${groupField}
        from
        bgt_balance_query_summary_temp t
        where t.session_id = #{request.sessionId}
        group by
        session_id,
        bgt_org_id,
        structure_id,
        version_id,
        scenario_id
        ${groupField}
    </insert>
    <select id="getMinPeriodNum" resultType="java.lang.Long">
        select
            min(p.internal_period_num)
        from
            bgt_balance_query_result t,
            bgt_period p,
            bgt_organization bo
        where
            t.session_id = #{request.sessionId}
            and t.bgt_org_id = bo.bgt_org_id
            and bo.period_set_id = p.period_set_id
            and p.period_name = t.period_name
    </select>

    <select id="getMaxPeriodNum" resultType="java.lang.Long">
        select
            max(p.internal_period_num)
        from
            bgt_balance_query_result t,
            bgt_period p,
            bgt_organization bo
        where
            t.session_id = #{request.sessionId}
            and t.bgt_org_id = bo.bgt_org_id
            and bo.period_set_id = p.period_set_id
            and p.period_name = t.period_name
    </select>
    <insert id="periodSummary">
        insert into bgt_balance_query_result
            (session_id,
            bgt_org_id,
            bgt_entity_id,
            bgt_center_id,
            structure_id,
            company_id,
            version_id,
            operation_unit_id,
            scenario_id,
            responsibility_center_id,
            budget_item_type_id,
            budget_item_id,
            period_year,
            period_quarter,
            period_name,
            bgt_period_num,
            currency,
            bgt_amount,
            bgt_fun_amount,
            bgt_quantity,
            exp_reserve_amount,
            exp_reserve_fun_amount,
            exp_reserve_quantity,
            exp_used_amount,
            exp_used_fun_amount,
            exp_used_quantity,
            exp_available_amount,
            exp_available_fun_amount,
            exp_available_quantity,
            unit_id,
            unit_group_id,
            position_id,
            position_group_id,
            employee_id,
            employee_group_id,
            employee_level_id,
            employee_job_id,
            dimension1_id,
            dimension2_id,
            dimension3_id,
            dimension4_id,
            dimension5_id,
            dimension6_id,
            dimension7_id,
            dimension8_id,
            dimension9_id,
            dimension10_id,
            dimension11_id,
            dimension12_id,
            dimension13_id,
            dimension14_id,
            dimension15_id,
            dimension16_id,
            dimension17_id,
            dimension18_id,
            dimension19_id,
            dimension20_id)
        select session_id,
             bgt_org_id,
             bgt_entity_id,
             bgt_center_id,
             structure_id,
             company_id,
             version_id,
             operation_unit_id,
             scenario_id,
             responsibility_center_id,
             budget_item_type_id,
             budget_item_id,
             null,
             null,
             #{periodDesc},
             null,
             currency,
             sum(bgt_amount),
             sum(bgt_fun_amount),
             sum(bgt_quantity),
             sum(exp_reserve_amount),
             sum(exp_reserve_fun_amount),
             sum(exp_reserve_quantity),
             sum(exp_used_amount),
             sum(exp_used_fun_amount),
             sum(exp_used_quantity),
             sum(exp_available_amount),
             sum(exp_available_fun_amount),
             sum(exp_available_quantity),
             unit_id,
             unit_group_id,
             position_id,
             position_group_id,
             employee_id,
             employee_group_id,
             employee_level_id,
             employee_job_id,
             dimension1_id,
             dimension2_id,
             dimension3_id,
             dimension4_id,
             dimension5_id,
             dimension6_id,
             dimension7_id,
             dimension8_id,
             dimension9_id,
             dimension10_id,
             dimension11_id,
             dimension12_id,
             dimension13_id,
             dimension14_id,
             dimension15_id,
             dimension16_id,
             dimension17_id,
             dimension18_id,
             dimension19_id,
             dimension20_id
        from bgt_balance_query_result t
        where t.session_id = #{request.sessionId}
        group by session_id,
                bgt_org_id,
                bgt_entity_id,
                bgt_center_id,
                structure_id,
                company_id,
                version_id,
                operation_unit_id,
                scenario_id,
                responsibility_center_id,
                budget_item_type_id,
                budget_item_id,
                currency,
                unit_id,
                unit_group_id,
                position_id,
                position_group_id,
                employee_id,
                employee_group_id,
                employee_level_id,
                employee_job_id,
                dimension1_id,
                dimension2_id,
                dimension3_id,
                dimension4_id,
                dimension5_id,
                dimension6_id,
                dimension7_id,
                dimension8_id,
                dimension9_id,
                dimension10_id,
                dimension11_id,
                dimension12_id,
                dimension13_id,
                dimension14_id,
                dimension15_id,
                dimension16_id,
                dimension17_id,
                dimension18_id,
                dimension19_id,
                dimension20_id
    </insert>

    <update id="deleteBySessionId">
        delete t
        from
        bgt_balance_query_result t
        where
        t.session_id = #{request.sessionId}
        <if test="periodDesc!=null and periodDesc!=''">
            and t.period_name &lt;&gt; #{periodDesc}
        </if>
    </update>

    <select id="getBudgetBalanceResult" resultMap="BaseResultMap">
        SELECT
            t.session_id,
            t.bgt_org_id,
            v37.description AS bgt_org_name,
            t.bgt_entity_id,
            v38.description AS bgt_entity_name,
            t.bgt_center_id,
            v39.DESCRIPTION AS bgt_center_name,
            t.budget_item_id,
            v.description AS budget_item,
            t.structure_id,
            v1.description AS budget_structure,
            t.company_id,
            v2.company_short_name AS company,
            t.version_id,
            v3.description AS version,
            t.scenario_id,
            v4.description AS scenario,
            t.budget_item_type_id,
            v5.description AS budget_item_type,
            t.currency AS currency_code,
            v6.currency_name AS currency,
            t.employee_group_id AS expense_user_group_id,
            v7.description AS employee_group,
            t.employee_job_id,
            v8.description AS employee_jobs,
            t.employee_level_id AS employee_levels_id,
            v9.description AS employee_levels,
            t.employee_id,
            v10.NAME AS employee,
            t.operation_unit_id,
            v11.description AS operation_units,
            t.position_group_id,
            v12.description AS position_groups,
            t.position_id,
            v13.description AS position,
            t.unit_group_id,
            v14.description AS unit_groups,
            t.unit_id,
            v15.description AS unit,
            t.unit_level_id AS org_unit_level_id,
            t.period_year,
            t.period_quarter,
            t.period_name,
            t.bgt_period_num,
            t.bgt_fun_amount bgt,
            t.exp_reserve_fun_amount reserve,
            t.exp_used_fun_amount used,
            t.exp_available_fun_amount available,
            'AMOUNT' AS quantity_amount
        FROM
            bgt_balance_query_result t
            LEFT OUTER JOIN bgt_budget_item_tl v ON ( t.budget_item_id = v.budget_item_id AND v.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_structure_tl v1 ON ( v1.structure_id = t.structure_id AND v1.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN fnd_company_tl v2 ON ( v2.company_id = t.company_id AND v2.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_version_tl v3 ON ( v3.version_id = t.version_id AND v3.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_scenario_tl v4 ON ( v4.scenario_id = t.scenario_id AND v4.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_budget_item_type_tl v5 ON ( v5.budget_item_type_id = t.budget_item_type_id AND v5.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN gld_currency gc ON ( gc.currency_code = t.currency )
            LEFT OUTER JOIN gld_currency_tl v6 ON ( v6.CURRENCY_ID = gc.CURRENCY_ID AND v6.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_mo_emp_group_tl v7 ON ( v7.mo_emp_group_id = t.employee_group_id AND v7.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_employee_job_tl v8 ON ( v8.employee_job_id = t.employee_job_id AND v8.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_employee_level_tl v9 ON ( v9.employee_levels_id = t.employee_level_id AND v9.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_employee v10 ON ( v10.employee_id = t.employee_id )
            LEFT OUTER JOIN fnd_operation_unit_tl v11 ON ( v11.operation_unit_id = t.operation_unit_id AND v11.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_position_group_tl v12 ON ( v12.position_group_id = t.position_group_id AND v12.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_org_position_tl v13 ON ( v13.position_id = t.position_id AND v13.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_mo_unit_group_tl v14 ON ( v14.mo_unit_group_id = t.unit_group_id AND v14.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_org_unit_tl v15 ON ( v15.unit_id = t.unit_id AND v15.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_organization_tl v37 ON ( v37.bgt_org_id = t.bgt_org_id AND v37.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_entity_tl v38 ON ( v38.entity_id = t.bgt_entity_id AND v38.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_center_tl v39 ON ( v39.center_id = t.bgt_center_id AND v39.LANG = #{request.locale,jdbcType=VARCHAR} )
        WHERE
            'AMOUNT' = #{quantityAmountCode}
            AND t.session_id = #{request.sessionId} UNION
        SELECT
            t.session_id,
            t.bgt_org_id,
            v37.description AS bgt_org_name,
            t.bgt_entity_id,
            v38.description AS bgt_entity_name,
            t.bgt_center_id,
            v39.DESCRIPTION AS bgt_center_name,
            t.budget_item_id,
            v.description AS budget_item,
            t.structure_id,
            v1.description AS budget_structure,
            t.company_id,
            v2.company_short_name AS company,
            t.version_id,
            v3.description AS version,
            t.scenario_id,
            v4.description AS scenario,
            t.budget_item_type_id,
            v5.description AS budget_item_type,
            t.currency AS currency_code,
            v6.currency_name AS currency,
            t.employee_group_id AS expense_user_group_id,
            v7.description AS employee_group,
            t.employee_job_id,
            v8.description AS employee_jobs,
            t.employee_level_id AS employee_levels_id,
            v9.description AS employee_levels,
            t.employee_id,
            v10.NAME AS employee,
            t.operation_unit_id,
            v11.description AS operation_units,
            t.position_group_id,
            v12.description AS position_groups,
            t.position_id,
            v13.description AS position,
            t.unit_group_id,
            v14.description AS unit_groups,
            t.unit_id,
            v15.description AS unit,
            t.unit_level_id AS org_unit_level_id,
            t.period_year,
            t.period_quarter,
            t.period_name,
            t.bgt_period_num,
            t.bgt_fun_amount bgt,
            t.exp_reserve_fun_amount reserve,
            t.exp_used_fun_amount used,
            t.exp_available_fun_amount available,
            'QUANTITY' AS quantity_amount
        FROM
            bgt_balance_query_result t
            LEFT OUTER JOIN bgt_budget_item_tl v ON ( t.budget_item_id = v.budget_item_id AND v.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_structure_tl v1 ON ( v1.structure_id = t.structure_id AND v1.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN fnd_company_tl v2 ON ( v2.company_id = t.company_id AND v2.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_version_tl v3 ON ( v3.version_id = t.version_id AND v3.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_scenario_tl v4 ON ( v4.scenario_id = t.scenario_id AND v4.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_budget_item_type_tl v5 ON ( v5.budget_item_type_id = t.budget_item_type_id AND v5.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN gld_currency gc ON ( gc.currency_code = t.currency )
            LEFT OUTER JOIN gld_currency_tl v6 ON ( v6.CURRENCY_ID = gc.CURRENCY_ID AND v6.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_mo_emp_group_tl v7 ON ( v7.mo_emp_group_id = t.employee_group_id AND v7.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_employee_job_tl v8 ON ( v8.employee_job_id = t.employee_job_id AND v8.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_employee_level_tl v9 ON ( v9.employee_levels_id = t.employee_level_id AND v9.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_employee v10 ON ( v10.employee_id = t.employee_id )
            LEFT OUTER JOIN fnd_operation_unit_tl v11 ON ( v11.operation_unit_id = t.operation_unit_id AND v11.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_position_group_tl v12 ON ( v12.position_group_id = t.position_group_id AND v12.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_org_position_tl v13 ON ( v13.position_id = t.position_id AND v13.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_mo_unit_group_tl v14 ON ( v14.mo_unit_group_id = t.unit_group_id AND v14.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN exp_org_unit_tl v15 ON ( v15.unit_id = t.unit_id AND v15.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_organization_tl v37 ON ( v37.bgt_org_id = t.bgt_org_id AND v37.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_entity_tl v38 ON ( v38.entity_id = t.bgt_entity_id AND v38.LANG = #{request.locale,jdbcType=VARCHAR} )
            LEFT OUTER JOIN bgt_center_tl v39 ON ( v39.center_id = t.bgt_center_id AND v39.LANG = #{request.locale,jdbcType=VARCHAR} )
        WHERE
            'QUANTITY' = #{quantityAmountCode}
            AND t.session_id = #{request.sessionId}
    </select>
</mapper>