<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetItemMappingMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetItemMapping">
        <result column="MAPPING_ID" property="mappingId" jdbcType="DECIMAL" />
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="BUSINESS_CATEGORY" property="businessCategory" jdbcType="VARCHAR" />
        <result column="PRIORITY" property="priority" jdbcType="DECIMAL" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="MAG_ORG_ID" property="magOrgId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE_ID" property="documentTypeId" jdbcType="DECIMAL" />
        <result column="BUSINESS_TYPE_ID" property="businessTypeId" jdbcType="DECIMAL" />
        <result column="PARAM_VALUE1_ID" property="paramValue1Id" jdbcType="DECIMAL" />
        <result column="PARAM_VALUE2_ID" property="paramValue2Id" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL" />
        <result column="PAYEE_CATEGORY" property="payeeCategory" jdbcType="VARCHAR" />
        <result column="PAYEE_ID" property="payeeId" jdbcType="DECIMAL" />
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL" />
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL" />
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL" />
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL" />
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL" />
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL" />
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL" />
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL" />
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL" />
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL" />
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL" />
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL" />
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL" />
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL" />
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL" />
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL" />
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL" />
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL" />
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL" />
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="BUDGET_ITEM_NAME" property="budgetItemName" jdbcType="VARCHAR" />
        <result column="MAG_ORG_NAME" property="magOrgName" jdbcType="VARCHAR" />
        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR" />
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
        <result column="POSITION_NAME" property="positionName" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR" />
        <result column="ACC_ENTITY_NAME" property="accEntityName" jdbcType="VARCHAR" />
        <result column="RESP_CNTER_NAME" property="respCnterName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getBgtBudgetItemMapping" resultMap="BaseResultMap">
        select *
          from bgt_budget_item_mapping bbim
         where bbim.business_category = #{businessCategory}
           and bbim.bgt_org_id = (select mo.default_bgt_org_id
                                    from fnd_managing_organization mo,
                                         fnd_company              fc
                                   where fc.mag_org_id = mo.mag_org_id
                                     and fc.company_id = #{companyId})
           and bbim.enabled_flag = 'Y'
      order by bbim.priority
    </select>

</mapper>