<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetReserveInitMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetReserveInit">
        <result column="SESSION_ID" property="sessionId" jdbcType="DECIMAL"/>
        <result column="BUDGET_RESERVE_LINE_ID" property="budgetReserveLineId" jdbcType="DECIMAL"/>
        <result column="RESERVE_COMPANY_ID" property="reserveCompanyId" jdbcType="DECIMAL"/>
        <result column="RESERVE_OPERATION_UNIT_ID" property="reserveOperationUnitId" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL"/>
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL"/>
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL"/>
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="DECIMAL"/>
        <result column="PERIOD_QUARTER" property="periodQuarter" jdbcType="DECIMAL"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="DECIMAL"/>
        <result column="RELEASE_ID" property="releaseId" jdbcType="DECIMAL"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="RESERVE_FLAG" property="reserveFlag" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="MANUAL_FLAG" property="manualFlag" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL"/>
        <result column="DOCUMENT_LINE_ID" property="documentLineId" jdbcType="DECIMAL"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL"/>
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL"/>
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_RATE_QUOTATION" property="exchangeRateQuotation" jdbcType="VARCHAR"/>
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL"/>
        <result column="FUNCTIONAL_AMOUNT" property="functionalAmount" jdbcType="DECIMAL"/>
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL"/>
        <result column="UOM" property="uom" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL"/>
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="initReserveData">
	insert
		into
			bgt_budget_reserve_init( session_id,
			budget_reserve_line_id,
			reserve_company_id,
			reserve_operation_unit_id,
			bgt_org_id,
			bgt_entity_id,
			bgt_center_id,
			period_year,
			period_quarter,
			period_name,
			bgt_period_num,
			release_id,
			business_type,
			reserve_flag,
			status,
			manual_flag,
			document_id,
			document_line_id,
			currency,
			budget_item_id,
			responsibility_center_id,
			exchange_rate_type,
			exchange_rate,
			amount,
			functional_amount,
			quantity,
			uom,
			company_id,
			operation_unit_id,
			unit_id,
			position_id,
			employee_id,
			dimension1_id,
			dimension2_id,
			dimension3_id,
			dimension4_id,
			dimension5_id,
			dimension6_id,
			dimension7_id,
			dimension8_id,
			dimension9_id,
			dimension10_id,
			dimension11_id,
			dimension12_id,
			dimension13_id,
			dimension14_id,
			dimension15_id,
			dimension16_id,
			dimension17_id,
			dimension18_id,
			dimension19_id,
			dimension20_id,
			source_type) select
				#{request.sessionId},
				s.budget_reserve_line_id,
				reserve_company_id,
				reserve_operation_unit_id,
				bgt_org_id,
				bgt_entity_id,
				bgt_center_id,
				null,
				null,
				period_name,
				null,
				release_id,
				business_type,
				reserve_flag,
				status,
				manual_flag,
				document_id,
				document_line_id,
				e.currency_code,
				budget_item_id,
				responsibility_center_id,
				e.exchange_rate_type,
				e.exchange_rate,
				e.amount,
				e.amount,
				quantity,
				uom,
				company_id,
				operation_unit_id,
				unit_id,
				position_id,
				employee_id,
				dimension1_id,
				dimension2_id,
				dimension3_id,
				dimension4_id,
				dimension5_id,
				dimension6_id,
				dimension7_id,
				dimension8_id,
				dimension9_id,
				dimension10_id,
				dimension11_id,
				dimension12_id,
				dimension13_id,
				dimension14_id,
				dimension15_id,
				dimension16_id,
				dimension17_id,
				dimension18_id,
				dimension19_id,
				dimension20_id,
				source_type
			from
				bgt_budget_reserve s,
				bgt_budget_reserve_extend e
			where
				s.status = 'P'
				and s.bgt_org_id = #{group.bgtOrgId}
				and (s.bgt_entity_id = #{group.bgtEntityId}
				or exists (
					select 1
				from
					bgt_entity_hierarchy b
				where
					b.entity_id = s.bgt_entity_id
					and b.parent_entity_id = #{group.bgtEntityId}))
				and s.budget_reserve_line_id = e.budget_reserve_line_id
				and e.currency_code = #{group.currencyCode}
    </insert>
    <delete id="cleanReserveData">
		delete from bgt_budget_reserve_init where session_id = #{request.sessionId}
	</delete>
</mapper>