<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetItemHierarchyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetItemHierarchy">
        <result column="HIERARCHY_ID" property="hierarchyId" jdbcType="DECIMAL"/>
        <result column="PARENT_BUDGET_ITEM_ID" property="parentBudgetItemId" jdbcType="DECIMAL"/>
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL"/>
        <result column="PARENT_BUDGET_ITEM_CODE" property="parentBudgetItemCode" jdbcType="VARCHAR"/>
        <result column="PARENT_BUDGET_ITEM_NAME" property="parentBudgetItemName" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM_CODE" property="budgetItemCode" jdbcType="VARCHAR"/>
        <result column="BUDGET_ITEM_NAME" property="budgetItemName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByParentItem" parameterType="com.hand.hec.bgt.dto.BgtBudgetItemHierarchy"
            resultMap="BaseResultMap">
        SELECT
            bbih.hierarchy_id,
            bbih.parent_budget_item_id,
            bbip.budget_item_code parent_budget_item_code,
            bbip.description parent_budget_item_name,
            bbih.budget_item_id,
            bbis.budget_item_code,
            bbis.description budget_item_name
        FROM
            bgt_budget_item_hierarchy bbih
            left outer join bgt_budget_item bbip on (bbih.parent_budget_item_id = bbip.budget_item_id )
            left outer join bgt_budget_item_tl bbit on (bbip.BUDGET_ITEM_ID = bbit.BUDGET_ITEM_ID and bbit.LANG= #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
            LEFT OUTER JOIN bgt_budget_item bbis ON (bbih.budget_item_id = bbis.budget_item_id )
            LEFT OUTER JOIN bgt_budget_item_tl BBIST ON (bbis.BUDGET_ITEM_ID = bbist.BUDGET_ITEM_ID and bbist.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
        WHERE
             bbih.parent_budget_item_id = #{parentBudgetItemId}
    </select>


</mapper>