<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBalanceQuerySummaryTempMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBalanceQuerySummaryTemp">
        <result column="SESSION_ID" property="sessionId" jdbcType="DECIMAL"/>
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL"/>
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL"/>
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL"/>
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL"/>
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL"/>
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL"/>
        <result column="BUDGET_ITEM_TYPE_ID" property="budgetItemTypeId" jdbcType="DECIMAL"/>
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL"/>
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="DECIMAL"/>
        <result column="PERIOD_QUARTER" property="periodQuarter" jdbcType="DECIMAL"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="DECIMAL"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
        <result column="BGT_AMOUNT" property="bgtAmount" jdbcType="DECIMAL"/>
        <result column="BGT_FUN_AMOUNT" property="bgtFunAmount" jdbcType="DECIMAL"/>
        <result column="BGT_QUANTITY" property="bgtQuantity" jdbcType="DECIMAL"/>
        <result column="EXP_RESERVE_AMOUNT" property="expReserveAmount" jdbcType="DECIMAL"/>
        <result column="EXP_RESERVE_FUN_AMOUNT" property="expReserveFunAmount" jdbcType="DECIMAL"/>
        <result column="EXP_RESERVE_QUANTITY" property="expReserveQuantity" jdbcType="DECIMAL"/>
        <result column="EXP_USED_AMOUNT" property="expUsedAmount" jdbcType="DECIMAL"/>
        <result column="EXP_USED_FUN_AMOUNT" property="expUsedFunAmount" jdbcType="DECIMAL"/>
        <result column="EXP_USED_QUANTITY" property="expUsedQuantity" jdbcType="DECIMAL"/>
        <result column="EXP_AVAILABLE_AMOUNT" property="expAvailableAmount" jdbcType="DECIMAL"/>
        <result column="EXP_AVAILABLE_FUN_AMOUNT" property="expAvailableFunAmount" jdbcType="DECIMAL"/>
        <result column="EXP_AVAILABLE_QUANTITY" property="expAvailableQuantity" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="UNIT_GROUP_ID" property="unitGroupId" jdbcType="DECIMAL"/>
        <result column="UNIT_LEVEL_ID" property="unitLevelId" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="POSITION_GROUP_ID" property="positionGroupId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_GROUP_ID" property="employeeGroupId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_LEVEL_ID" property="employeeLevelId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_JOB_ID" property="employeeJobId" jdbcType="DECIMAL"/>
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL"/>
    </resultMap>
    <insert id="generateSummary">
        insert into bgt_balance_query_summary_temp
        (
        session_id,
        bgt_org_id,
        structure_id,
        version_id,
        scenario_id,
        bgt_amount,
        bgt_fun_amount,
        bgt_quantity,
        exp_reserve_amount,
        exp_reserve_fun_amount,
        exp_reserve_quantity,
        exp_used_amount,
        exp_used_fun_amount,
        exp_used_quantity
        ${filterField}
        )
        select
        #{request.sessionId},
        #{group.bgtOrgId},
        #{group.structureId},
        #{group.versionId},
        #{group.scenarioId},
        sum(bgt_amount),
        sum(bgt_fun_amount),
        sum(bgt_quantity),
        sum(exp_reserve_amount),
        sum(exp_reserve_fun_amount),
        sum(exp_reserve_quantity),
        sum(exp_used_amount),
        sum(exp_used_fun_amount),
        sum(exp_used_quantity)
        ${filterField}
        from bgt_balance_query_detail_temp t
        where t.session_id = #{request.sessionId}
        group by
        session_id,
        bgt_org_id,
        bgt_entity_id,
        structure_id,
        version_id,
        scenario_id
        ${filterField}
    </insert>
    <delete id="cleanSummaryTemp">
        delete from bgt_balance_query_summary_temp where session_id = #{request.sessionId}
    </delete>
</mapper>