<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtBudgetStrcAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtBudgetStrcAuthority">
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="BUDGET_STRC_HEADER_ID" property="budgetStrcHeaderId" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="STRC_ENTERABLE" property="strcEnterable" jdbcType="VARCHAR" />
        <result column="BUDGET_ENTERABLE" property="budgetEnterable" jdbcType="VARCHAR" />
    </resultMap>


</mapper>