<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtCheckLogMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtCheckLog">
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_COMPANY_ID" property="documentCompanyId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_OPERATION_UNIT_ID" property="documentOperationUnitId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_LINE_ID" property="documentLineId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_DIST_ID" property="documentDistId" jdbcType="DECIMAL" />
        <result column="BUDGET_RESERVE_LINE_ID" property="budgetReserveLineId" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="CONTROL_STRATEGY_ID" property="controlStrategyId" jdbcType="DECIMAL" />
        <result column="BUDGET_CONTROL_RULE_ID" property="budgetControlRuleId" jdbcType="DECIMAL" />
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL" />
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL" />
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="BGT_BUDGET_AMOUNT" property="bgtBudgetAmount" jdbcType="DECIMAL" />
        <result column="BGT_REVERSE_AMOUNT" property="bgtReverseAmount" jdbcType="DECIMAL" />
        <result column="BGT_REVERSE_AMOUNT_R" property="bgtReverseAmountR" jdbcType="DECIMAL" />
        <result column="BGT_REVERSE_AMOUNT_U" property="bgtReverseAmountU" jdbcType="DECIMAL" />
        <result column="BGT_BUDGET_QUANTITY" property="bgtBudgetQuantity" jdbcType="DECIMAL" />
        <result column="BGT_RESERVE_QUANTITY" property="bgtReserveQuantity" jdbcType="DECIMAL" />
        <result column="AVAILABLE_AMOUNT" property="availableAmount" jdbcType="DECIMAL" />
        <result column="AVAILABLE_QUANTITY" property="availableQuantity" jdbcType="DECIMAL" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="BUDGET_FORMULA" property="budgetFormula" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="UNIT_GROUP_ID" property="unitGroupId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="POSITION_GROUP_ID" property="positionGroupId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_GROUP_ID" property="employeeGroupId" jdbcType="DECIMAL" />
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL" />
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL" />
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL" />
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL" />
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL" />
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL" />
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL" />
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL" />
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL" />
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL" />
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL" />
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL" />
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL" />
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL" />
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL" />
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL" />
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL" />
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL" />
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL" />
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL" />
    </resultMap>


</mapper>