<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtControlStrategyGroupMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtControlStrategyGroup">
        <result column="CONTROL_STRATEGY_GROUP_ID" property="controlStrategyGroupId" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL"/>
        <result column="CONTROL_STRATEGY_GROUP_CODE" property="controlStrategyGroupCode" jdbcType="VARCHAR"/>
        <result column="CONTROL_STRATEGY_GROUP_DESC" property="controlStrategyGroupDesc" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryByBgtOrgId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        t1.control_strategy_group_id,
        t1.bgt_org_id,
        t1.control_strategy_group_code,
        t1.control_strategy_group_desc,
        t1.enabled_flag
        FROM
        BGT_CONTROL_STRATEGY_GROUP t1
        WHERE
        t1.enabled_flag = 'Y' AND
        <choose>
            <when test="bgtOrgId!=null">
                t1.bgt_org_id = #{bgtOrgId}
            </when>
            <otherwise>
                t1.bgt_org_id = ( SELECT a.default_bgt_org_id FROM fnd_managing_organization a WHERE a.mag_org_id =
                #{magOrgId} )
            </otherwise>
        </choose>
        ORDER BY
        t1.control_strategy_group_code
    </select>


</mapper>