<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtCtrlStrategyMpCondMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtCtrlStrategyMpCond">
        <result column="CTRL_STRATEGY_MP_COND_ID" property="ctrlStrategyMpCondId" jdbcType="DECIMAL"/>
        <result column="CONTROL_STRATEGY_ID" property="controlStrategyId" jdbcType="DECIMAL"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="RANGE" property="range" jdbcType="VARCHAR"/>
        <result column="OBJECT" property="object" jdbcType="VARCHAR"/>
        <result column="PERIOD_STRATEGY" property="periodStrategy" jdbcType="VARCHAR"/>
        <result column="MANNER" property="manner" jdbcType="VARCHAR"/>
        <result column="OPERATOR" property="operator" jdbcType="VARCHAR"/>
        <result column="VALUE" property="value" jdbcType="DECIMAL"/>
        <result column="AND_OR" property="andOr" jdbcType="VARCHAR"/>
        <result column="USER_EXIT_PROCEDURE" property="userExitProcedure" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>