<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtControlStrategyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtControlStrategy">
        <result column="CONTROL_STRATEGY_GROUP_ID" property="controlStrategyGroupId" jdbcType="DECIMAL" />
        <result column="CONTROL_STRATEGY_ID" property="controlStrategyId" jdbcType="DECIMAL" />
        <result column="CONTROL_STRATEGY_SEQUENCE" property="controlStrategySequence" jdbcType="DECIMAL" />
        <result column="CONTROL_STRATEGY_CODE" property="controlStrategyCode" jdbcType="VARCHAR" />
        <result column="CONTROL_STRATEGY_DESC" property="controlStrategyDesc" jdbcType="VARCHAR" />
        <result column="EXP_WF_EVENT" property="expWfEvent" jdbcType="VARCHAR" />
        <result column="CONTROL_METHOD" property="controlMethod" jdbcType="VARCHAR" />
        <result column="MESSAGE_CODE" property="messageCode" jdbcType="VARCHAR" />
    </resultMap>


</mapper>