<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtEntityHierarchyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtEntityHierarchy">
        <result column="HIERARCHY_ID" property="hierarchyId" jdbcType="DECIMAL" />
        <result column="PARENT_ENTITY_ID" property="parentEntityId" jdbcType="DECIMAL" />
        <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>