<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtJournalBalanceInitMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtJournalBalanceInit">
        <result column="SESSION_ID" property="sessionId" jdbcType="DECIMAL"/>
        <result column="BALANCE_ID" property="balanceId" jdbcType="DECIMAL"/>
        <result column="SET_OF_BOOKS_ID" property="setOfBooksId" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL"/>
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL"/>
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL"/>
        <result column="BALANCE_COMPANY_ID" property="balanceCompanyId" jdbcType="DECIMAL"/>
        <result column="BALANCE_OPERATION_UNIT_ID" property="balanceOperationUnitId" jdbcType="DECIMAL"/>
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL"/>
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL"/>
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL"/>
        <result column="RESPONSIBILITY_CENTER_ID" property="responsibilityCenterId" jdbcType="DECIMAL"/>
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL"/>
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="DECIMAL"/>
        <result column="PERIOD_QUARTER" property="periodQuarter" jdbcType="DECIMAL"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="DECIMAL"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
        <result column="PERIOD_AMOUNT" property="periodAmount" jdbcType="DECIMAL"/>
        <result column="PERIOD_FUNCTIONAL_AMOUNT" property="periodFunctionalAmount" jdbcType="DECIMAL"/>
        <result column="PERIOD_QUANTITY" property="periodQuantity" jdbcType="DECIMAL"/>
        <result column="QUARTER_AMOUNT" property="quarterAmount" jdbcType="DECIMAL"/>
        <result column="QUARTER_FUNCTIONAL_AMOUNT" property="quarterFunctionalAmount" jdbcType="DECIMAL"/>
        <result column="QUARTER_QUANTITY" property="quarterQuantity" jdbcType="DECIMAL"/>
        <result column="UOM" property="uom" jdbcType="VARCHAR"/>
        <result column="YEAR_AMOUNT" property="yearAmount" jdbcType="DECIMAL"/>
        <result column="YEAR_FUNCTIONAL_AMOUNT" property="yearFunctionalAmount" jdbcType="DECIMAL"/>
        <result column="YEAR_QUANTITY" property="yearQuantity" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="UNIT_GROUP_ID" property="unitGroupId" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="POSITION_GROUP_ID" property="positionGroupId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_GROUP_ID" property="employeeGroupId" jdbcType="DECIMAL"/>
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL"/>
    </resultMap>
    <insert id="initBalanceData">
      insert
		into
			bgt_journal_balance_init ( session_id,
			balance_id,
			bgt_org_id,
			bgt_entity_id,
			bgt_center_id,
			structure_id,
			scenario_id,
			version_id,
			budget_item_id,
			period_year,
			period_quarter,
			period_name,
			bgt_period_num,
			currency,
			period_amount,
			period_functional_amount,
			period_quantity,
			quarter_amount,
			quarter_functional_amount,
			quarter_quantity,
			uom,
			year_amount,
			year_functional_amount,
			year_quantity,
			company_id,
			operation_unit_id,
			unit_id,
			unit_group_id,
			position_id,
			position_group_id,
			employee_id,
			employee_group_id,
			dimension1_id,
			dimension2_id,
			dimension3_id,
			dimension4_id,
			dimension5_id,
			dimension6_id,
			dimension7_id,
			dimension8_id,
			dimension9_id,
			dimension10_id,
			dimension11_id,
			dimension12_id,
			dimension13_id,
			dimension14_id,
			dimension15_id,
			dimension16_id,
			dimension17_id,
			dimension18_id,
			dimension19_id,
			dimension20_id) select
				#{request.sessionId},
				s.balance_id,
				s.bgt_org_id,
				s.bgt_entity_id,
				s.bgt_center_id,
				s.structure_id,
				s.scenario_id,
				s.version_id,
				s.budget_item_id,
				s.period_year,
				s.period_quarter,
				s.period_name,
				s.bgt_period_num,
				e.currency_code,
				e.period_amount,
				e.period_amount,
				s.period_quantity,
				e.quarter_amount,
				e.quarter_amount,
				s.quarter_quantity,
				s.uom,
				e.year_amount,
				e.year_amount,
				s.year_quantity,
				s.company_id,
				s.operation_unit_id,
				s.unit_id,
				s.unit_group_id,
				s.position_id,
				s.position_group_id,
				s.employee_id,
				s.employee_group_id,
				s.dimension1_id,
				s.dimension2_id,
				s.dimension3_id,
				s.dimension4_id,
				s.dimension5_id,
				s.dimension6_id,
				s.dimension7_id,
				s.dimension8_id,
				s.dimension9_id,
				s.dimension10_id,
				s.dimension11_id,
				s.dimension12_id,
				s.dimension13_id,
				s.dimension14_id,
				s.dimension15_id,
				s.dimension16_id,
				s.dimension17_id,
				s.dimension18_id,
				s.dimension19_id,
				s.dimension20_id
			from
				bgt_journal_balance s,
				bgt_journal_balance_extend e
			where
				(s.bgt_entity_id = #{group.bgtEntityId}
				or exists (
				select
					1
				from
					bgt_entity_hierarchy b
				where
					b.entity_id = s.bgt_entity_id
					and b.parent_entity_id = #{group.bgtEntityId}))
				and s.structure_id = #{group.structureId}
				and s.scenario_id = #{group.scenarioId}
				and s.version_id = #{group.versionId}
				and s.bgt_org_id = #{group.bgtOrgId}
				and s.balance_id = e.balance_id
				and e.currency_code = #{group.currencyCode}
    </insert>
    <delete id="clearBalanceData">
		delete from bgt_journal_balance_init where session_id = #{request.sessionId}
	</delete>
</mapper>