<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtJournalTpRangeCenMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtJournalTpRangeCen">
        <result column="RANGE_CEN_ID" property="rangeCenId" jdbcType="DECIMAL" />
        <result column="RANGE_ETS_ID" property="rangeEtsId" jdbcType="DECIMAL" />
        <result column="CENTER_ID" property="centerId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>