<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtJournalTypeRefItMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtJournalTypeRefIt">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
        <result column="BGT_JOURNAL_TYPE_ID" property="bgtJournalTypeId" jdbcType="DECIMAL" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>