<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtJournalBalanceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtJournalBalance">
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL" />
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL" />
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL" />
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL" />
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL" />
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL" />
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL" />
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL" />
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL" />
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL" />
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL" />
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL" />
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL" />
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL" />
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL" />
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL" />
        <result column="BALANCE_ID" property="balanceId" jdbcType="DECIMAL" />
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL" />
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL" />
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL" />
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL" />
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
        <result column="BUDGET_ITEM_ID" property="budgetItemId" jdbcType="DECIMAL" />
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="DECIMAL" />
        <result column="PERIOD_QUARTER" property="periodQuarter" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="DECIMAL" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="PERIOD_AMOUNT" property="periodAmount" jdbcType="DECIMAL" />
        <result column="PERIOD_FUNCTIONAL_AMOUNT" property="periodFunctionalAmount" jdbcType="DECIMAL" />
        <result column="PERIOD_QUANTITY" property="periodQuantity" jdbcType="DECIMAL" />
        <result column="QUARTER_AMOUNT" property="quarterAmount" jdbcType="DECIMAL" />
        <result column="QUARTER_FUNCTIONAL_AMOUNT" property="quarterFunctionalAmount" jdbcType="DECIMAL" />
        <result column="QUARTER_QUANTITY" property="quarterQuantity" jdbcType="DECIMAL" />
        <result column="YEAR_AMOUNT" property="yearAmount" jdbcType="DECIMAL" />
        <result column="YEAR_FUNCTIONAL_AMOUNT" property="yearFunctionalAmount" jdbcType="DECIMAL" />
        <result column="YEAR_QUANTITY" property="yearQuantity" jdbcType="DECIMAL" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="UNIT_GROUP_ID" property="unitGroupId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="POSITION_GROUP_ID" property="positionGroupId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_GROUP_ID" property="employeeGroupId" jdbcType="DECIMAL" />
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL" />
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL" />
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL" />
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL" />
        <result column="INTERNAL_PERIOD_NUM" property="internalPeriodNum" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="checkCompanyForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            company_id IS NULL OR
            company_id = (
                SELECT
                    c.company_id
                FROM
                    fnd_company c
                WHERE
                    c.company_code = #{parameterCode}
            )
    </select>

    <select id="checkBgtOrgForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            bgt_org_id = #{bgtOrgId}
    </select>

    <select id="checkBgtStructureForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            structure_id = (
                SELECT
                    s.structure_id
                FROM
                    bgt_structure s
                WHERE
                    s.structure_code = #{parameterCode}
                    AND s.bgt_org_id = #{bgtOrgId}
            )
    </select>

    <select id="checkBgtScenarioForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            scenario_id = (
                SELECT
                    s.scenario_id
                FROM
                    bgt_scenario s
                WHERE
                    s.scenario_code = #{parameterCode}
                    AND s.bgt_org_id = #{bgtOrgId}
            )
    </select>

    <select id="checkBgtVersionForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            version_id = (
                SELECT
                    s.version_id
                FROM
                    bgt_version s
                WHERE
                    s.version_code = #{parameterCode}
                    AND s.bgt_org_id = #{bgtOrgId}
            )
    </select>

    <select id="checkBgtEntityForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            bgt_entity_id = (
                SELECT
                    be.entity_id
                FROM
                    bgt_entity be
                WHERE
                    be.entity_code = #{parameterCode}
                    AND be.bgt_org_id = #{bgtOrgId}
                    AND be.enabled_flag = 'Y'
            )
    </select>

    <select id="checkCurrencyForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance
        WHERE
            currency_code = (
                SELECT
                    c.currency_code
                FROM
                    gld_currency c
                WHERE
                    c.currency_code = #{parameterCode}
            )
    </select>

    <select id="checkBgtPeriodForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
            LEFT JOIN bgt_organization o ON b.bgt_org_id = o.bgt_org_id AND o.enabled_flag = 'Y'
            LEFT JOIN bgt_period p ON o.period_set_id = p.period_set_id AND b.period_name = p.period_name
        WHERE
            b.bgt_org_id = #{bgtOrgId}
            AND (#{parameterLowerLimit} IS NULL OR b.period_name &gt;= #{parameterLowerLimit})
            AND (#{parameterUpperLimit} IS NULL OR b.period_name &lt;= #{parameterUpperLimit})
    </select>

    <select id="checkBgtCenterForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
            LEFT JOIN bgt_center c ON b.bgt_center_id = c.center_id
        WHERE
            1 = 1
            AND
            (
                (b.bgt_center_id = #{centerId} AND #{controlRuleRange} = 'DETAIL' AND c.center_type = 'DETAILS')
                OR
                (
                    #{controlRuleRange} = 'SUMMARY' AND
                    (
                        SELECT c.center_type FROM bgt_center c
                        WHERE c.center_id = #{centerId}
                        AND c.enabled_flag = 'Y'
                    ) = 'SUMMARY'
                    AND EXISTS
                    (
                        SELECT 1 FROM bgt_center_hierarchy h
                        WHERE h.center_id = b.bgt_center_id
                        AND h.parent_center_id = #{centerId}
                        AND h.enabled_flag = 'Y'
                    )
                )
                OR
                (
                    #{controlRuleRange} = 'ALL' AND
                    (
                        (b.bgt_center_id = #{centerId} AND c.center_type = 'DETAILS')
                        OR
                        (
                            (
                                SELECT c.center_type FROM bgt_center c
                                WHERE c.center_id = #{centerId}
                                AND c.enabled_flag = 'Y'
                            ) = 'SUMMARY'
                            AND EXISTS
                            (
                                SELECT 1 FROM bgt_center_hierarchy h
                                WHERE h.center_id = b.bgt_center_id
                                AND h.parent_center_id = #{centerId}
                                AND h.enabled_flag = 'Y'
                            )
                        )
                    )
                )
            )
    </select>

    <select id="checkBgtItemForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
            LEFT JOIN bgt_budget_item bi ON b.budget_item_id = bi.budget_item_id
        WHERE
            1 = 1
            AND
            (
                (b.budget_item_id = #{budgetItemId} AND #{controlRuleRange} = 'DETAIL' AND bi.summary_flag = 'N')
                OR
                (
                    #{controlRuleRange} = 'SUMMARY' AND
                    (
                        SELECT bi.summary_flag FROM bgt_budget_item bi
                        WHERE bi.budget_item_id = #{budgetItemId}
                        AND bi.enabled_flag = 'Y'
                    ) = 'Y'
                    AND EXISTS
                    (
                        SELECT 1 FROM bgt_budget_item_hierarchy h
                        WHERE h.budget_item_id = b.budget_item_id
                        AND h.parent_budget_item_id = #{budgetItemId}
                    )
                )
                OR
                (
                    #{controlRuleRange} = 'ALL' AND
                    (
                        (b.budget_item_id = #{budgetItemId} AND bi.summary_flag = 'N')
                        OR
                        (
                            (
                                SELECT bi.summary_flag FROM bgt_budget_item bi
                                WHERE bi.budget_item_id = #{budgetItemId}
                                AND bi.enabled_flag = 'Y'
                            ) = 'Y'
                            AND EXISTS
                            (
                                SELECT 1 FROM bgt_budget_item_hierarchy h
                                WHERE h.budget_item_id = b.budget_item_id
                                AND h.parent_budget_item_id = #{budgetItemId}
                            )
                        )
                    )
                )
            )
    </select>

    <select id="checkEmployeeForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
        WHERE
            b.employee_id = #{employeeId}
    </select>

    <select id="checkEmpGroupForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
        WHERE
            b.employee_group_id = #{employeeGroupId}
            <if test="employeeId != null">
                AND b.employee_id = #{employeeId}
            </if>
    </select>

    <select id="checkOrgPositionForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
        WHERE
            b.position_id = #{positionId}
    </select>

    <select id="checkPositionGroupForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
        WHERE
            b.position_group_id = #{positionGroupId}
            <if test="positionId != null">
                AND b.position_id = #{positionId}
            </if>
    </select>

    <select id="checkOrgUnitForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
        WHERE
            b.unit_id = #{unitId}
    </select>

    <select id="checkUnitGroupForQuery" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            bgt_journal_balance b
        WHERE
            b.unit_group_id = #{unitGroupId}
            <if test="unitId != null">
                AND b.unit_id = #{unitId}
            </if>
    </select>
    
    <select id="checkBalanceExists" resultType="int" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        select count(*)
              from bgt_journal_balance t
             where <include refid="common_where_if"/>
                   <if test="periodYear!=null">
                       and t.period_year = #{periodYear}
                   </if>
                <if test="periodQuarter!=null">
                    and t.period_quarter = #{periodQuarter}
                </if>
                <if test="periodName!=null">
                    and t.period_name = #{periodName}
                </if>
                <if test="bgtPeriodNum!=null">
                    and t.bgt_period_num = #{bgtPeriodNum}
                </if>
                <if test="bgtPeriodNum!=null">
                    and t.bgt_period_num = #{bgtPeriodNum}
                </if>
                <if test="bgtPeriodNum!=null">
                    and t.bgt_period_num = #{bgtPeriodNum}
                </if>
    </select>
    
    <select id="queryByOption" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance" resultMap="BaseResultMap">
        select *
        from bgt_journal_balance t
        <where>
            <include refid="common_where_if"/>
        </where>
    </select>

    <sql id="common_where_if">
        t.bgt_org_id = #{bgtOrgId}
        and t.bgt_entity_id = #{bgtEntityId}
        and t.bgt_center_id = #{bgtCenterId}
        and t.structure_id = #{structureId}
        and t.scenario_id = #{scenarioId}
        and t.version_id = #{versionId}
        and t.budget_item_id = #{budgetItemId}
        and t.currency_code = #{currencyCode}
        <if test="companyId!=null">
            and t.company_id = #{companyId}
        </if>
        <if test="unitId!=null">
            and t.unit_id = #{unitId}
        </if>
        <if test="unitGroupId!=null">
            and t.unit_group_id = #{unitGroupId}
        </if>
        <if test="positionId!=null">
            and t.position_id = #{positionId}
        </if>
        <if test="positionGroupId!=null">
            and t.position_group_id = #{positionGroupId}
        </if>
        <if test="employeeId!=null">
            and t.employee_id = #{employeeId}
        </if>
        <if test="employeeGroupId!=null">
            and t.employee_group_id = #{employeeGroupId}
        </if>
        <if test="dimension1Id!=null">
            and t.dimension1_id = #{dimension1Id}
        </if>
        <if test="dimension2Id!=null">
            and t.dimension2_id = #{dimension2Id}
        </if>
        <if test="dimension3Id!=null">
            and t.dimension3_id = #{dimension3Id}
        </if>
        <if test="dimension4Id!=null">
            and t.dimension4_id = #{dimension4Id}
        </if>
        <if test="dimension5Id!=null">
            and t.dimension5_id = #{dimension5Id}
        </if>
        <if test="dimension6Id!=null">
            and t.dimension6_id = #{dimension6Id}
        </if>
        <if test="dimension7Id!=null">
            and t.dimension7_id = #{dimension7Id}
        </if>
        <if test="dimension8Id!=null">
            and t.dimension8_id = #{dimension8Id}
        </if>
        <if test="dimension9Id!=null">
            and t.dimension9_id = #{dimension9Id}
        </if>
        <if test="dimension10Id!=null">
            and t.dimension10_id = #{dimension10Id}
        </if>
        <if test="dimension11Id!=null">
            and t.dimension11_id = #{dimension11Id}
        </if>
        <if test="dimension12Id!=null">
            and t.dimension12_id = #{dimension12Id}
        </if>
        <if test="dimension13Id!=null">
            and t.dimension13_id = #{dimension13Id}
        </if>
        <if test="dimension14Id!=null">
            and t.dimension14_id = #{dimension14Id}
        </if>
        <if test="dimension15Id!=null">
            and t.dimension15_id = #{dimension15Id}
        </if>
        <if test="dimension16Id!=null">
            and t.dimension16_id = #{dimension16Id}
        </if>
        <if test="dimension17Id!=null">
            and t.dimension17_id = #{dimension17Id}
        </if>
        <if test="dimension18Id!=null">
            and t.dimension18_id = #{dimension18Id}
        </if>
        <if test="dimension19Id!=null">
            and t.dimension19_id = #{dimension19Id}
        </if>
        <if test="dimension20Id!=null">
            and t.dimension20_id = #{dimension20Id}
        </if>
    </sql>

    <update id="updateBgtJournalBalance" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        update bgt_journal_balance t
        set t.year_amount            = t.year_amount + #{yearAmount},
        t.year_functional_amount = t.year_functional_amount + #{yearFunctionalAmount},
        t.year_quantity          = t.year_quantity + #{yearQuantity},
        t.quarter_amount        = t.quarter_amount + #{quarterAmount},
        t.quarter_functional_amount = t.quarter_functional_amount + #{quarterFunctionalAmount},
        t.quarter_quantity          = t.quarter_quantity + #{quarterQuantity},
        t.period_amount             = t.period_amount + #{periodAmount},
        t.period_functional_amount  = t.period_functional_amount + #{periodFunctionalAmount},
        t.period_quantity           = t.period_quantity + #{periodQuantity}
        <where>
            <include refid="common_where_if"/>
        </where>
    </update>

    <update id="updateYearBalanceMonth" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        update bgt_journal_balance t
        set t.year_amount            = t.year_amount + #{yearAmount},
            t.year_functional_amount = t.year_functional_amount + #{yearFunctionalAmount},
            t.year_quantity          = t.year_quantity + #{yearQuantity}
        <where>
            <include refid="common_where_if"/>
            and t.period_year = #{periodYear}
            and t.bgt_period_num &gt; #{bgtPeriodNum}
        </where>
    </update>

    <update id="updateYearBalanceQuarter" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        update bgt_journal_balance t
        set t.year_amount            = t.year_amount + #{yearAmount},
        t.year_functional_amount = t.year_functional_amount + #{yearFunctionalAmount},
        t.year_quantity          = t.year_quantity + #{yearQuantity}
        <where>
            <include refid="common_where_if"/>
            and t.period_year = #{periodYear}
            and t.bgt_period_num &gt; #{bgtPeriodNum}
        </where>
    </update>

    <update id="updateQuarterBalanceMonth" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        update bgt_journal_balance t
        set t.quarter_amount        = t.quarter_amount + #{quarterAmount},
        t.quarter_functional_amount = t.quarter_functional_amount + #{quarterFunctionalAmount},
        t.quarter_quantity          = t.quarter_quantity + #{quarterQuantity}
        <where>
            <include refid="common_where_if"/>
            and t.period_year = #{periodYear}
            and t.period_quarter = #{periodQuarter}
            and t.bgt_period_num &gt; #{bgtPeriodNum}
        </where>
    </update>

    <select id="queryTotalQuarterBalanceMonth" resultType="java.util.Map" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
      select sum(t.period_amount) totalPeriodAmount,
           sum(t.period_functional_amount) totalPeriodFunctionalAmount,
           sum(t.period_quantity) totalPeriodQuantity
      from bgt_journal_balance t
        <where>
                <include refid="common_where_if"/>
                and t.period_year = #{periodYear}
                and t.period_quarter &gt; #{periodQuarter}
        </where>

    </select>

    <select id="queryTotalYearBalanceMonth" resultType="java.util.Map" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        select sum(t.period_amount) totalPeriodAmount,
        sum(t.period_functional_amount) totalPeriodFunctionalAmount,
        sum(t.period_quantity) totalPeriodQuantity
        from bgt_journal_balance t
        <where>
            <include refid="common_where_if"/>
            and t.period_year = #{periodYear}
            and t.bgt_period_num &lt; #{bgtPeriodNum}
        </where>
    </select>

    <select id="getYearBalanceQuarter" resultType="java.util.Map" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        select sum(t.quarter_amount) totalPeriodAmount,
        sum(t.quarter_functional_amount) totalPeriodFunctionalAmount,
        sum(t.quarter_quantity) totalPeriodQuantity
        from bgt_journal_balance t
        <where>
            <include refid="common_where_if"/>
            and t.period_year = #{periodYear}
            and t.period_quarter &lt; #{periodQuarter}
        </where>
    </select>

    <select id="getYearBalanceYear" resultType="java.util.Map" parameterType="com.hand.hec.bgt.dto.BgtJournalBalance">
        select sum(t.quarter_amount) totalPeriodAmount,
        sum(t.quarter_functional_amount) totalPeriodFunctionalAmount,
        sum(t.quarter_quantity) totalPeriodQuantity
        from bgt_journal_balance t
        <where>
            <include refid="common_where_if"/>
            and t.period_year = #{periodYear}
        </where>
    </select>

</mapper>