<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtJournalObjectMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtJournalObject">
        <result column="JOURNAL_HEADER_ID" property="journalHeaderId" jdbcType="DECIMAL" />
        <result column="JOURNAL_LINE_ID" property="journalLineId" jdbcType="DECIMAL" />
        <result column="EXPENSE_OBJECT_TYPE_ID" property="expenseObjectTypeId" jdbcType="DECIMAL" />
        <result column="EXPENSE_OBJECT_ID" property="expenseObjectId" jdbcType="DECIMAL" />
        <result column="EXPENSE_OBJECT_DESC" property="expenseObjectDesc" jdbcType="VARCHAR" />
    </resultMap>


</mapper>