<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtJournalHeaderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtJournalHeader">
        <result column="DIMENSION2_ID" property="dimension2Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION3_ID" property="dimension3Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION4_ID" property="dimension4Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION5_ID" property="dimension5Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION6_ID" property="dimension6Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION7_ID" property="dimension7Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION8_ID" property="dimension8Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION9_ID" property="dimension9Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION10_ID" property="dimension10Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION11_ID" property="dimension11Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION12_ID" property="dimension12Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION13_ID" property="dimension13Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION14_ID" property="dimension14Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION15_ID" property="dimension15Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION16_ID" property="dimension16Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION17_ID" property="dimension17Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION18_ID" property="dimension18Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION19_ID" property="dimension19Id" jdbcType="DECIMAL"/>
        <result column="DIMENSION20_ID" property="dimension20Id" jdbcType="DECIMAL"/>
        <result column="JOURNAL_HEADER_ID" property="journalHeaderId" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL"/>
        <result column="BGT_ENTITY_ID" property="bgtEntityId" jdbcType="DECIMAL"/>
        <result column="BGT_CENTER_ID" property="bgtCenterId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="BGT_JOURNAL_TYPE_ID" property="bgtJournalTypeId" jdbcType="DECIMAL"/>
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL"/>
        <result column="BUDGET_JOURNAL_NUMBER" property="budgetJournalNumber" jdbcType="VARCHAR"/>
        <result column="PERIOD_YEAR" property="periodYear" jdbcType="DECIMAL"/>
        <result column="PERIOD_QUARTER" property="periodQuarter" jdbcType="DECIMAL"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="DECIMAL"/>
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL"/>
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR"/>
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR"/>
        <result column="SOURCE_BUDGET_HEADER_ID" property="sourceBudgetHeaderId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="APPROVED_DATE" property="approvedDate" jdbcType="DATE"/>
        <result column="APPROVED_BY" property="approvedBy" jdbcType="DECIMAL"/>
        <result column="POSTED_DATE" property="postedDate" jdbcType="DATE"/>
        <result column="POSTED_BY" property="postedBy" jdbcType="DECIMAL"/>
        <result column="JOURNAL_HEADER_NOTES" property="journalHeaderNotes" jdbcType="VARCHAR"/>
        <result column="OPERATION_UNIT_ID" property="operationUnitId" jdbcType="DECIMAL"/>
        <result column="DIMENSION1_ID" property="dimension1Id" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_NAME" property="bgtOrgName" jdbcType="VARCHAR"/>
        <result column="BGT_ENTITY_NAME" property="bgtEntityName" jdbcType="VARCHAR"/>
        <result column="BGT_CENTER_NAME" property="bgtCenterName" jdbcType="VARCHAR"/>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
        <result column="BGT_JOURNAL_TYPE_NAME" property="bgtJournalTypeName" jdbcType="VARCHAR"/>
        <result column="STRUCTURE_NAME" property="structureName" jdbcType="VARCHAR"/>
        <result column="SCENARIO_NAME" property="scenarioName" jdbcType="VARCHAR"/>
        <result column="VERSION_NAME" property="versionName" jdbcType="VARCHAR"/>
        <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR"/>
        <result column="REVERSED_FLAG_NAME" property="reversedFlagName" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR"/>
        <result column="APPROVED_BY_NAME" property="approvedByName" jdbcType="VARCHAR"/>
        <result column="POSTED_BY_NAME" property="postedByName" jdbcType="VARCHAR"/>
        <result column="CURRENCY_SYMBOL" property="currencySymbol" jdbcType="VARCHAR"/>
        <result column="TOTAL_AMOUNT" property="totalAmount"/>
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL"/>
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL"/>
        <result column="DOC_DATE" property="docDate"/>
        <result column="PERIOD_STRATEGY_NAME" property="periodStrategyName" jdbcType="VARCHAR"/>
        <result column="PERIOD_STRATEGY" property="periodStrategy" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="query_journal">
        SELECT
        h.JOURNAL_HEADER_ID,
        h.BGT_ORG_ID,
        (select ot.DESCRIPTION from bgt_organization_tl ot where ot.bgt_org_id = h.bgt_org_id and ot.lang =
        #{request.locale}) as bgt_org_name,
        h.BGT_ENTITY_ID,
        (select et.DESCRIPTION from bgt_entity_tl et where et.ENTITY_ID = h.bgt_entity_id and et.lang =
        #{request.locale}) as bgt_entity_name,
        h.BGT_CENTER_ID,
        (select ct.DESCRIPTION from bgt_center_tl ct where ct.center_id = h.bgt_entity_id and ct.lang =
        #{request.locale}) as bgt_center_name,
        h.COMPANY_ID,
        (select fct.company_short_name from fnd_company_tl fct where fct.company_id = h.company_id and fct.LANG =
        #{request.locale}) as company_name,
        h.BGT_JOURNAL_TYPE_ID,
        (select jtt.description from bgt_journal_type_tl jtt where jtt.BGT_JOURNAL_TYPE_ID = h.BGT_JOURNAL_TYPE_ID and
        jtt.LANG = #{request.locale}) as bgt_journal_type_name,
        h.STRUCTURE_ID,
        (select st.DESCRIPTION from bgt_structure_tl st where st.STRUCTURE_ID = h.STRUCTURE_ID and st.LANG =
        #{request.locale}) as structure_name,
        h.BUDGET_JOURNAL_NUMBER,
        h.PERIOD_YEAR,
        h.PERIOD_QUARTER,
        h.PERIOD_NAME,
        h.BGT_PERIOD_NUM,
        h.SCENARIO_ID,
        (select st2.DESCRIPTION from bgt_scenario_tl st2 where st2.SCENARIO_ID = h.SCENARIO_ID and st2.LANG =
        #{request.locale}) as scenario_name,
        h.VERSION_ID,
        (select vt.DESCRIPTION from bgt_version_tl vt where vt.version_id = h.version_id and vt.lang =
        #{request.locale}) as version_name,
        h.status,
        (select meaning from sys_code_v sc where sc.code = 'BGT_BUDGET_STATUS' and sc.value = h.status) as status_name,
        h.REVERSED_FLAG,
        (select meaning from sys_code_v sc2 where sc2.code = 'BGT_JOURNAL_REVERSE_FLAG' and sc2.value = h.REVERSED_FLAG)
        as reversed_flag_name,
        h.SOURCE_TYPE,
        h.SOURCE_BUDGET_HEADER_ID,
        h.EMPLOYEE_ID,
        (select name from exp_employee ee where ee.employee_id = h.employee_id) as employee_name,
        h.POSITION_ID,
        h.UNIT_ID,
        h.APPROVED_DATE,
        h.APPROVED_BY,
        (select ee.name from exp_employee ee where ee.employee_id = h.approved_by) as approved_by_name,
        h.POSTED_DATE,
        h.POSTED_BY,
        (select ee.name from exp_employee ee where ee.employee_id = h.posted_by) as posted_by_name,
        h.JOURNAL_HEADER_NOTES,
        h.OPERATION_UNIT_ID,
        h.DIMENSION1_ID,
        h.DIMENSION2_ID,
        h.DIMENSION3_ID,
        h.DIMENSION4_ID,
        h.DIMENSION5_ID,
        h.DIMENSION6_ID,
        h.DIMENSION7_ID,
        h.DIMENSION8_ID,
        h.DIMENSION9_ID,
        h.DIMENSION10_ID,
        h.DIMENSION11_ID,
        h.DIMENSION12_ID,
        h.DIMENSION13_ID,
        h.DIMENSION14_ID,
        h.DIMENSION15_ID,
        h.DIMENSION16_ID,
        h.DIMENSION17_ID,
        h.DIMENSION18_ID,
        h.DIMENSION19_ID,
        h.DIMENSION20_ID,
        (
        select
        l.currency
        from
        bgt_journal_line l
        where
        l.journal_header_id = h.journal_header_id
        limit 1) as currency_symbol,
        (case when (
                select
                sum(l.amount)
                from
                bgt_journal_line l
                where
                l.journal_header_id = h.journal_header_id) is null then 0
         else (
            select
            sum(l.amount)
            from
            bgt_journal_line l
            where
            l.journal_header_id = h.journal_header_id) end) as total_amount,
        (select ut.description from exp_org_unit_tl ut where ut.unit_id = h.unit_id and ut.lang = #{request.locale}) as unit_name,
        h.creation_date as doc_date,
        bs.period_strategy,
        (select meaning from sys_code_v sc2 where sc2.code = 'BUDGET_PERIOD' and sc2.value = bs.period_strategy) period_strategy_name
        FROM bgt_journal_header h
        left outer join bgt_structure bs on (h.structure_id = bs.structure_id)
    </sql>
    <select id="queryJournalMain" parameterType="com.hand.hec.bgt.dto.BgtJournalHeader" resultMap="BaseResultMap">
        <include refid="query_journal"/>
        <where>
            <if test="status != null and status != ''">
                and h.status = #{status}
            </if>
            <if test="creationDateScopeFrom != null">
                and h.creation_date &gt;= #{creationDateScopeFrom}
            </if>
            <if test="creationDateScopeTo != null">
                and h.creation_date &lt;= #{creationDateScopeTo}
            </if>
            <if test="bgtOrgId != null">
                and h.bgt_org_id = #{bgtOrgId}
            </if>
            <if test="budgetJournalNumber != null">
                and h.budget_journal_number like #{budgetJournalNumber}
            </if>
            <if test="bgtJournalTypeId != null">
                and h.bgt_journal_type_id = #{bgtJournalTypeId}
            </if>
            <if test="budgetItemId != null">
                and exists (
                select 1 from bgt_journal_line l where l.journal_header_id = h.journal_header_id
                and l.budget_item_id = #{budgetItemId} )
            </if>
            <if test="bgtEntityId != null">
                and h.bgt_entity_id = #{bgtEntityId}
            </if>
            <if test="bgtCenterId != null">
                and h.bgt_center_id = #{bgtCenterId}
            </if>
            <if test="journalHeaderNotes != null">
                and h.journal_header_notes like #{journalHeaderNotes}
            </if>
            <if test="employeeId != null">
                and h.employee_id = #{employeeId}
            </if>
            <if test="approvedBy != null">
                and h.approved_by = #{approvedBy}
            </if>
            <if test="postedBy != null">
                and h.posted_by = #{postedBy}
            </if>
            <if test="scenarioId != null">
                and h.scenario_id = #{scenarioId}
            </if>
            <if test="versionId != null">
                and h.version_id = #{versionId}
            </if>
            <if test="reversedFlag != null">
                and ( h.reversed_flag = #{reversedFlag} or h.reversed_flag is null)
            </if>
            <if test="creationDateFrom != null">
                and h.creation_date &gt;= #{creationDateFrom}
            </if>
            <if test="creationDateTo != null">
                and h.creation_date &lt;= #{creationDateTo}
            </if>
            <if test="approvedDateFrom != null">
                and h.approved_date &gt;= #{approvedDateFrom}
            </if>
            <if test="approvedDateTo != null">
                and h.approved_date &lt;= #{approvedDateTo}
            </if>
            <if test="postedDateFrom != null">
                and h.posted_date &gt;= #{postedDateFrom}
            </if>
            <if test="postedDateTo != null">
                and h.posted_date &gt;= #{postedDateTo}
            </if>
        </where>
    </select>
    
    <select id="queryJournalForApprove" parameterType="com.hand.hec.bgt.dto.BgtJournalHeader" resultMap="BaseResultMap">
        <include refid="query_journal"/>
        <where>
            h.status in ('APPROVED', 'SUBMITTED')
            AND
            NOT EXISTS
            (SELECT
                *
                FROM
                wfl_instance wwi,
                wfl_version_process wvp
                WHERE
                wvp.process_id = wwi.process_id
                AND wvp.version = wwi.version
                AND wwi.doc_category = 'BUDGET_JOURNAL'
                AND wwi.doc_id = h.journal_header_id
            )
            <if test="status != null and status != ''">
                and h.status = #{status}
            </if>
            <if test="bgtOrgId != null">
                and h.bgt_org_id = #{bgtOrgId}
            </if>
            <if test="budgetJournalNumber != null">
                and h.budget_journal_number like #{budgetJournalNumber}
            </if>
            <if test="bgtJournalTypeId != null">
                and h.bgt_journal_type_id = #{bgtJournalTypeId}
            </if>
            <if test="scenarioId != null">
                and h.scenario_id = #{scenarioId}
            </if>
            <if test="versionId != null">
                and h.version_id = #{versionId}
            </if>
        </where>
    </select>

</mapper>