<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtOrgRefDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtOrgRefDetail">
        <result column="DETAIL_ID" property="detailId" jdbcType="DECIMAL" />
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="sourceCode" property="sourceCode" jdbcType="VARCHAR" />
        <result column="sourceName" property="sourceName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectDetailOfMag" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            bord.DETAIL_ID,
            bord.BGT_ORG_ID,
            bord.SOURCE_ID,
            fmo.MAG_ORG_CODE sourceCode,
            fmo.DESCRIPTION sourceName,
            bord.ENABLED_FLAG
        FROM
            bgt_org_ref_detail bord,
            fnd_managing_organization fmo
        WHERE
            bord.BGT_ORG_ID = #{bgtOrgId}
            AND bord.source_id = fmo.MAG_ORG_ID
    </select>

    <select id="selectDetailOfSob" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            bord.DETAIL_ID,
            bord.BGT_ORG_ID,
            bord.SOURCE_ID,
            sob.SET_OF_BOOKS_CODE sourceCode,
            sob.SET_OF_BOOKS_NAME sourceName,
            bord.ENABLED_FLAG
        FROM
            bgt_org_ref_detail bord,
            gld_set_of_book sob
        WHERE
            bord.BGT_ORG_ID = #{bgtOrgId}

            AND bord.source_id = sob.SET_OF_BOOKS_ID
    </select>

</mapper>