<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtPeriodSetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtPeriodSet">
        <result column="PERIOD_SET_ID" property="periodSetId" jdbcType="DECIMAL" />
        <result column="PERIOD_SET_CODE" property="periodSetCode" jdbcType="VARCHAR" />
        <result column="PERIOD_SET_NAME" property="periodSetName" jdbcType="VARCHAR" />
        <result column="TOTAL_PERIOD_NUM" property="totalPeriodNum" jdbcType="DECIMAL" />
        <result column="PERIOD_ADDITIONAL_FLAG" property="periodAdditionalFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>