<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtPeriodStatusMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtPeriodStatus">
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="BGT_PERIOD_SET_CODE" property="bgtPeriodSetCode" jdbcType="VARCHAR" />
        <result column="BGT_PERIOD_YEAR" property="bgtPeriodYear" jdbcType="DECIMAL" />
        <result column="BGT_PERIOD_NUM" property="bgtPeriodNum" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="BGT_PERIOD_STATUS_CODE" property="bgtPeriodStatusCode" jdbcType="VARCHAR" />
    </resultMap>


</mapper>