<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtScenarioMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtScenario">
        <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL"/>
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL"/>
        <result column="SCENARIO_CODE" property="scenarioCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="NOTES" property="notes" jdbcType="VARCHAR"/>
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="checkBgtScenario" resultMap="BaseResultMap">
        select t.* from bgt_scenario t
        where
        (
            #{filtrateMethod} = 'INCLUDE'
            and (#{scenarioCodeFrom} is null or t.scenario_code &gt;= #{scenarioCodeFrom})
            and (#{scenarioCodeTo} is null or t.scenario_code &lt;= #{scenarioCodeTo})
        )
        or
        (
            #{filtrateMethod} = 'EXCLUDE'
            and
            (
                (#{scenarioCodeFrom} is null or t.scenario_code &lt; #{scenarioCodeFrom})
                or (#{scenarioCodeTo} is null or t.scenario_code &gt; #{scenarioCodeTo})
            )
        )
        and t.enabled_flag = 'Y'
    </select>

</mapper>