<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtStructureLayoutMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtStructureLayout">
        <result column="STRUCTURE_LAYOUT_ID" property="structureLayoutId" jdbcType="DECIMAL"/>
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL"/>
        <result column="DIMENSION_ID" property="dimensionId" jdbcType="DECIMAL"/>
        <result column="LAYOUT_POSITION" property="layoutPosition" jdbcType="VARCHAR"/>
        <result column="LAYOUT_PRIORITY" property="layoutPriority" jdbcType="DECIMAL"/>
        <result column="DEFAULT_DIM_VALUE_ID" property="defaultDimValueId" jdbcType="DECIMAL"/>
        <result column="DIMENSION_CODE" property="dimensionCode" jdbcType="VARCHAR"/>
        <result column="DIMENSION_SEQUENCE" property="dimensionSequence" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="DIMENSION_VALUE_CODE" property="dimensionValueCode" jdbcType="VARCHAR"/>
        <result column="DIMENSION_VALUE_DESC" property="dimensionValueDesc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryByStructureId" resultMap="BaseResultMap">
      SELECT
        bsl.structure_layout_id,
        bsl.structure_id,
        bsl.layout_position,
        bsl.layout_priority,
        bsl.dimension_id,
        fd.dimension_code,
        fd.description,
        bsl.default_dim_value_id,
        fdv.dimension_value_code,
        fdv.description dimension_value_desc,
        fd.system_level,
        fd.company_level,
        fd.dimension_sequence
    FROM
        bgt_structure_layout bsl
        LEFT OUTER JOIN fnd_dimension fd ON ( bsl.dimension_id = fd.dimension_id )
        LEFT OUTER JOIN fnd_dimension_tl fdt ON ( fd.DIMENSION_ID = fdt.DIMENSION_ID AND fdt.LANG = #{request.locale,jdbcType=VARCHAR} )
        LEFT OUTER JOIN fnd_dimension_value fdv ON (bsl.default_dim_value_id = fdv.dimension_value_id )
        LEFT OUTER JOIN fnd_dimension_value_tl fdvt ON ( fdv.DIMENSION_VALUE_ID = fdvt.DIMENSION_VALUE_ID AND fdvt.LANG = #{request.locale,jdbcType=VARCHAR} )
    WHERE
         bsl.structure_id = #{structureId}
    </select>


</mapper>