<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.bgt.mapper.BgtVersionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.bgt.dto.BgtVersion">
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
        <result column="BGT_ORG_ID" property="bgtOrgId" jdbcType="DECIMAL" />
        <result column="VERSION_CODE" property="versionCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="VERSION_DATE" property="versionDate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="NOTES" property="notes" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="checkBgtVersion" resultMap="BaseResultMap">
        select t.* from bgt_version t
        where
        (
            #{filtrateMethod} = 'INCLUDE'
            and (#{versionCodeFrom} is null or t.version_code &gt;= #{versionCodeFrom})
            and (#{versionCodeTo} is null or t.version_code &lt;= #{versionCodeTo})
        )
        or
        (
            #{filtrateMethod} = 'EXCLUDE'
            and
            (
                (#{versionCodeFrom} is null or t.version_code &lt; #{versionCodeFrom})
                or (#{versionCodeTo} is null or t.version_code &gt; #{versionCodeTo})
            )
        )
        and t.status = 'CURRENT'
        and t.enabled_flag = 'Y'
    </select>

</mapper>