<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acp.mapper.AcpMoPayReqTpRefTrxMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acp.dto.AcpMoPayReqTpRefTrx">
        <result column="REF_ID" property="refId" jdbcType="DECIMAL"/>
        <result column="MO_PAY_REQ_TYPE_ID" property="moPayReqTypeId" jdbcType="DECIMAL"/>
        <result column="MO_CSH_TRX_CLASS_ID" property="moCshTrxClassId" jdbcType="DECIMAL"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="MO_CSH_TRX_CLASS_CODE" property="moCshTrxClassCode" jdbcType="VARCHAR"/>
        <result column="MO_CSH_TRX_CLASS_NAME" property="moCshTrxClassName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="queryByTypeId" resultMap="BaseResultMap">
        SELECT
            amrt.ref_id,
            amrt.mo_pay_req_type_id,
            cmc.mo_csh_trx_class_id,
            cmc.mo_csh_trx_class_code,
            cmcl.description mo_csh_trx_class_name
        FROM
            acp_mo_pay_req_tp_ref_trx amrt,
            csh_mo_transaction_class cmc,
            csh_mo_transaction_class_tl	 cmcl
        WHERE
            amrt.mo_pay_req_type_id = #{moPayReqTypeId}
            and cmc.MO_CSH_TRX_CLASS_ID = cmcl.MO_CSH_TRX_CLASS_ID
            and cmcl.lang = #{request.locale,jdbcType=VARCHAR}
            AND amrt.enabled_flag = 'Y'
            AND amrt.mo_csh_trx_class_id = cmc.mo_csh_trx_class_id
            AND cmc.mag_org_id = #{request.magOrgId}
            AND cmc.enabled_flag = 'Y'
    </select>


</mapper>