<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acp.mapper.AcpReqAuditErrorLogMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acp.dto.AcpReqAuditErrorLog">
        <result column="SESSION_ID" property="sessionId" jdbcType="DECIMAL" />
        <result column="REQUISITION_NUMBER" property="requisitionNumber" jdbcType="VARCHAR" />
        <result column="REQUISITION_LNS_ID" property="requisitionLnsId" jdbcType="DECIMAL" />
        <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="queryBySessionId" resultMap="BaseResultMap">
        SELECT
                    al.requisition_number,
                    al.message,
                    al.session_id,
                    l.line_number
                FROM
                    acp_req_audit_error_log al ,
                    acp_requisition_ln  l
                WHERE
                    l.requisition_lns_id=al.requisition_lns_id AND
                    al.session_id       = #{request.session_id}
                ORDER BY
                    line_number
    </select>
</mapper>