<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hec.acp.mapper.AcpRequisitionAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hec.acp.dto.AcpRequisitionAccount">
        <result column="ACCOUNT_SEGMENT1" property="accountSegment1" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT2" property="accountSegment2" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT3" property="accountSegment3" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT4" property="accountSegment4" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT5" property="accountSegment5" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT6" property="accountSegment6" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT7" property="accountSegment7" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT8" property="accountSegment8" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT9" property="accountSegment9" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT10" property="accountSegment10" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT11" property="accountSegment11" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT12" property="accountSegment12" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT13" property="accountSegment13" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT14" property="accountSegment14" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT15" property="accountSegment15" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT16" property="accountSegment16" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT17" property="accountSegment17" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT18" property="accountSegment18" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT19" property="accountSegment19" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT20" property="accountSegment20" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT21" property="accountSegment21" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT22" property="accountSegment22" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT23" property="accountSegment23" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT24" property="accountSegment24" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT25" property="accountSegment25" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT26" property="accountSegment26" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT27" property="accountSegment27" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT28" property="accountSegment28" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT29" property="accountSegment29" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT30" property="accountSegment30" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT31" property="accountSegment31" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT32" property="accountSegment32" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT33" property="accountSegment33" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT34" property="accountSegment34" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT35" property="accountSegment35" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT36" property="accountSegment36" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT37" property="accountSegment37" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT38" property="accountSegment38" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT39" property="accountSegment39" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT40" property="accountSegment40" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT41" property="accountSegment41" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT42" property="accountSegment42" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT43" property="accountSegment43" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT44" property="accountSegment44" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT45" property="accountSegment45" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT46" property="accountSegment46" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT47" property="accountSegment47" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT48" property="accountSegment48" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT49" property="accountSegment49" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SEGMENT50" property="accountSegment50" jdbcType="VARCHAR" />
        <result column="ACP_REQ_JE_LINE_ID" property="acpReqJeLineId" jdbcType="DECIMAL" />
        <result column="REQUISITION_LNS_ID" property="requisitionLnsId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="JOURNAL_DATE" property="journalDate" jdbcType="DATE" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="ACC_ENTITY_ID" property="accEntityId" jdbcType="DECIMAL" />
        <result column="RESP_CENTER_ID" property="respCenterId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL" />
        <result column="ENTERED_AMOUNT_DR" property="enteredAmountDr" jdbcType="DECIMAL" />
        <result column="ENTERED_AMOUNT_CR" property="enteredAmountCr" jdbcType="DECIMAL" />
        <result column="FUNCTIONAL_AMOUNT_DR" property="functionalAmountDr" jdbcType="DECIMAL" />
        <result column="FUNCTIONAL_AMOUNT_CR" property="functionalAmountCr" jdbcType="DECIMAL" />
        <result column="GLD_INTERFACE_FLAG" property="gldInterfaceFlag" jdbcType="VARCHAR" />
        <result column="USAGE_CODE" property="usageCode" jdbcType="VARCHAR" />
    </resultMap>

    <!-- Modify Tagin/2019.04.30 查询付款申请单审核凭证信息 -->
    <select id="queryAccount" resultMap="BaseResultMap">
        select ara.acp_req_je_line_id,
        ara.requisition_lns_id,
        ara.description,
        ara.journal_date,
        ara.period_name,
        ara.acc_entity_id,
        ara.resp_center_id,
        ara.account_id,
        ara.currency_code,
        ara.exchange_rate_type,
        ara.exchange_rate,
        ara.entered_amount_dr,
        ara.entered_amount_cr,
        ara.functional_amount_dr,
        ara.functional_amount_cr,
        ara.gld_interface_flag,
        ara.usage_code,
        ara.account_segment1,
        ara.account_segment2,
        ara.account_segment3,
        ara.account_segment4,
        ara.account_segment5,
        ara.account_segment6,
        ara.account_segment7,
        ara.account_segment8,
        ara.account_segment9,
        ara.account_segment10,
        ara.account_segment11,
        ara.account_segment12,
        ara.account_segment13,
        ara.account_segment14,
        ara.account_segment15,
        ara.account_segment16,
        ara.account_segment17,
        ara.account_segment18,
        ara.account_segment19,
        ara.account_segment20,
        ara.account_segment21,
        ara.account_segment22,
        ara.account_segment23,
        ara.account_segment24,
        ara.account_segment25,
        ara.account_segment26,
        ara.account_segment27,
        ara.account_segment28,
        ara.account_segment29,
        ara.account_segment30,
        ara.account_segment31,
        ara.account_segment32,
        ara.account_segment33,
        ara.account_segment34,
        ara.account_segment35,
        ara.account_segment36,
        ara.account_segment37,
        ara.account_segment38,
        ara.account_segment39,
        ara.account_segment40,
        ara.account_segment41,
        ara.account_segment42,
        ara.account_segment43,
        ara.account_segment44,
        ara.account_segment45,
        ara.account_segment46,
        ara.account_segment47,
        ara.account_segment48,
        ara.account_segment49,
        ara.account_segment50
        from acp_requisition_account ara
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="transactionLineId != null and transactionLineId != ''">
                and exists (
                select 'x'
                from
                acp_requisition_ref arr
                where
                arr.csh_transaction_line_id = #{transactionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
                and arr.requisition_lns_id = ara.requisition_lns_id)
            </if>
            <if test="usageCode != null and usageCode != ''">
                and ara.usage_code = #{usageCode, jdbcType=VARCHAR, javaType=java.lang.String}
            </if>
            <if test="requisitionLnsId != null and requisitionLnsId != ''">
                and ara.requisition_lns_id =
                #{paymentRequisitionLineId, jdbcType=DECIMAL, javaType=java.lang.Long}
            </if>
            <if test="drFlag != null and drFlag != ''">
                and ara.entered_amount_dr is not null
                and ara.functional_amount_dr is not null
            </if>
            <if test="crFlag != null and crFlag != ''">
                and ara.entered_amount_cr is not null
                and ara.functional_amount_cr is not null
            </if>
        </trim>
    </select>

    <select id="selectGroupByLine" resultType="java.util.Map">
         select d.requisition_lns_id requisitionLineId,
             e.acc_entity_id accEntityId
        from acp_requisition_ln       d,
             acp_requisition_account e
       where d.requisition_hds_id = #{requisitionHdsId}
             and d.requisition_lns_id = e.requisition_lns_id
       group by d.requisition_lns_id,
                e.acc_entity_id;
    </select>
    <select id="selectForEnterAmount" resultType="java.util.Map">
        select sum(a.entered_amount_dr) - sum(a.entered_amount_cr) as enterAmountBal,
             sum(a.functional_amount_dr) - sum(a.functional_amount_cr)as functionalAmountBal
        from acp_requisition_account a
       where a. requisition_lns_id = #{requisitionLineId}
             and a.acc_entity_id = #{accEntityId};
    </select>
    <update id="updateByLineId">
        update acp_requisition_account a
         set a.gld_interface_flag = #{interfaceFlag},
             a.last_updated_by    = #{request.userId},
             a.last_update_date   = CURRENT_TIME
       where a.requisition_lns_id in
             (select l.requisition_lns_id
                from acp_requisition_ln l
               where l.requisition_hds_id = #{requisitionHdsId});
    </update>
    <update id="deleteByAcpLineId" parameterType="java.lang.Long">
        delete from acp_requisition_account
        where requisition_lns_id = #{requisitionLnsId}
    </update>
    <delete id="rejectAcpDelete" parameterType="java.lang.Long">
        delete from acp_requisition_account
        where  requisition_lns_id in
           (select t.requisition_lns_id
              from acp_requisition_ln t
             where t.requisition_Hds_id =#{requisitionHdsId});
    </delete>
</mapper>